<div [ngClass]="{'organisation-subsection': isOrganisation}">
<section class="content-header" *ngIf="trRequest">
    <h1>
        <span translate >Заказ На Перевозку</span>&nbsp;#{{ trRequest.id }}&nbsp;<small
    ><span class="gvt-status transaction-request-status font-size-16px"
                                       [ngClass]="{'gvt-status-danger': trRequest.status === 'new',
                                  'gvt-status-info': trRequest.status === 'accepted',
                                  'gvt-status-primary': inProgressStatuses.indexOf(trRequest.status) > -1 || trRequest.status === 'delivered',
                                  'gvt-status-success': trRequest.status === 'paid',
                                  'gvt-status-default': TransportationConstants.AVAILABLE_STATUSES.indexOf(trRequest.status) < 0
                                  }">{{ trRequest.statusDisplay }}</span></small>
    </h1>
    <h3 *ngIf="!isOrganisation && trRequest.organisation">
        <i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;<span>{{ trRequest.organisation.name }}</span>
    </h3>
    <div class="back-to-list" *ngIf="!isOrganisation">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;
        <a routerLink="/transportation/requests/list/my" translate>Мои Заказы</a>
        <span *ngIf="account.isManagerOrDriver()">&nbsp;/&nbsp;</span>
        <a *ngIf="account.isManagerOrDriver()" routerLink="/transportation/requests/list/assigned" translate>Назначены На Меня</a>
        <span *ngIf="account.isManager()">&nbsp;/&nbsp;</span>
        <a *ngIf="account.isManager()" routerLink="/transportation/requests/list/all" translate>Список Заказов</a>
    </div>
</section>

<div *ngIf="!loadingComplete">
    <section class="content-header">
        <h1 translate>Заказ На Перевозку</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="font-size-20px" translate="">Идет загрузка деталей заказа</span>&nbsp;<loader></loader>
            </div>
        </div>
    </section>
</div>

<section class="content tr-request-details" *ngIf="trRequest" [hidden]="!loadingComplete">
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="row tr-price">
                        <div class="col-md-12">
                            <div class="with-border">
                                <h5 class="box-title">
                                    <i class="fa fa-usd" aria-hidden="true"></i>&nbsp;<span translate>Стоимость</span></h5>
                                    &nbsp;
                                    <span class="label gvt-label-primary font-size-14px" *ngIf="trRequest.fullAmount()">
                                        {{ trRequest.fullAmount() }}
                                        <span *ngIf="trRequest.fullAmountMax()">&nbsp;-&nbsp;</span>
                                        <span *ngIf="trRequest.fullAmountMax()">{{ trRequest.fullAmountMax() }}</span>
                                        &nbsp;BYN

                                    </span>
                            </div>
                            <div>
                                <div *ngIf="trRequest && finishedStatuses.indexOf(trRequest.status) < 0">
                                    <h6 *ngIf="trRequest.carAmount" class="font-size-14px"><span translate>Автомобиль</span>:
                                        <span *ngIf="trRequest.carAmountMax" translate>от</span>
                                        {{ trRequest.carAmount }} BYN
                                        <span *ngIf="trRequest.carAmountMax"><span translate>до</span> {{ trRequest.carAmountMax }} BYN</span>
                                    </h6>
                                    <h6 *ngIf="trRequest.portersAmount" class="font-size-14px"><span translate>Грузчики</span>:
                                        <span *ngIf="trRequest.portersAmountMax" translate>от</span>
                                        {{ trRequest.portersAmount }} BYN
                                        <span *ngIf="trRequest.portersAmountMax"><span translate>до</span> {{ trRequest.portersAmountMax }} BYN</span>
                                    </h6>
                                </div>
                                <div *ngIf="trRequest && finishedStatuses.indexOf(trRequest.status) > -1">
                                    <h6 *ngIf="trRequest.finalCarAmount" class="font-size-14px"><span translate>Автомобиль</span>:
                                        {{ trRequest.finalCarAmount }} BYN
                                    </h6>
                                    <h6 *ngIf="trRequest.finalPortersAmount" class="font-size-14px"><span translate>Грузчики</span>:
                                        {{ trRequest.finalPortersAmount }} BYN
                                    </h6>
                                    <h6 *ngIf="trRequest.portersPayment && account.isManagerOrDriver()" class="font-size-14px">
                                        <span translate>Олата Грузчикам</span>:
                                        {{ trRequest.portersPayment }} BYN
                                    </h6>
                                </div>
                                <h6 class="text-muted font-size-14px" *ngIf="!trRequest.fullAmount() && !trRequest.amount" translate>
                                    Не указана
                                </h6>
                                <hr *ngIf="(trRequest.isCashlessPayment || trRequest.isHourlyRate || trRequest.actionID) && trRequest.fullAmount()">
                                <h6 *ngIf="trRequest.isHourlyRate && trRequest.fullAmount()" class="font-size-14px">
                                    <i class="fa fa-clock-o fa-lg text-success" aria-hidden="true"></i>&nbsp;
                                    <span translate>Почасовая Оплата</span>
                                </h6>

                                <h6 *ngIf="trRequest.isCashlessPayment && trRequest.fullAmount()" class="font-size-14px">
                                    <i class="fa fa-credit-card fa-lg text-light-blue" aria-hidden="true"></i>&nbsp;
                                    <span translate>Безналичный рассчет</span>
                                </h6>

                                <h6 *ngIf="trRequest.actionID && trRequest.discountAmount && trRequest.fullAmount()" class="font-size-14px">
                                    <i class="fa fa-percent fa-lg text-success" aria-hidden="true"></i>&nbsp;
                                    <span translate>Скидка</span>:
                                    <span>{{ trRequest.discountAmount }}</span>
                                    BYN
                                </h6>
                                <h6 *ngIf="trRequest.actionID && !trRequest.discountAmount && trRequest.discountAmountMin && finishedStatuses.indexOf(trRequest.status) < 0 && trRequest.fullAmount()"
                                    class="font-size-14px">
                                    <i class="fa fa-percent fa-lg text-success" aria-hidden="true"></i>&nbsp;
                                    <span translate>Скидка</span>:
                                    <span *ngIf="trRequest.discountAmountMax" translate>от</span>
                                    <span>{{ trRequest.discountAmountMin }}</span>
                                    <span *ngIf="trRequest.discountAmountMax" translate>до</span>
                                    <span *ngIf="trRequest.discountAmountMax">{{ trRequest.discountAmountMax }}</span>
                                    BYN
                                </h6>
                            </div>
                            <div *ngIf="canApplyDiscount()">
                                <hr>
                                <div class="row" *ngIf="actionsDiscountsList.length === 1">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <confirmation-modal
                                                *ngIf="!trRequest.actionID"
                                                [disabledCondition]="trRequestUpdating"
                                                [confirmationSuccess]="applyActionDiscount(actionsDiscountsList[0].id)"
                                                [buttonText]="('Применить' | translate) + ' ' + actionsDiscountsList[0].title + ' (' + actionsDiscountsList[0].discountValue + actionsDiscountsList[0].discountSymbol + ')'"
                                                [confirmationBtnClass]="'btn btn-flat btn-primary btn-block'"
                                        ></confirmation-modal>
                                        <confirmation-modal
                                                *ngIf="trRequest.actionID"
                                                [disabledCondition]="trRequestUpdating"
                                                [confirmationSuccess]="applyActionDiscount(actionsDiscountsList[0].id, true)"
                                                [buttonText]="'Убрать скидку' | translate"
                                                [confirmationBtnClass]="'btn btn-flat btn-default btn-block'"
                                        ></confirmation-modal>
                                    </div>
                                </div>
                                <div class="row" *ngIf="actionsDiscountsList.length > 1">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <label translate>Выбрать скидку/акцию</label>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <select class="form-control"
                                                    [(ngModel)]="trRequest.actionID">
                                                <option value="" translate>Нет скидки</option>
                                                <option *ngFor="let action of actionsDiscountsList"
                                                        [value]="action.id">
                                                    {{ action.title }} ({{ action.discountValue }}{{ action.discountSymbol }})
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <confirmation-modal
                                                [disabledCondition]="trRequestUpdating"
                                                [confirmationSuccess]="applyActionDiscount()"
                                                [buttonText]="'Применить' | translate"
                                                [confirmationBtnClass]="'btn btn-flat btn-primary'"
                                        ></confirmation-modal>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="gvt-tr-details-delimiter" *ngIf="finishedStatuses.indexOf(trRequest.status) < 0">
                    <div class="row tr-actions-section" *ngIf="finishedStatuses.indexOf(trRequest.status) < 0">
                        <div class="col-md-12">
                            <div class="with-border">
                                <h5 class="box-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;<span translate>Действия</span></h5>
                            </div>
                            <div class="tr-actions">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 text-center">
                                        <div class="btn-group gvt-tr-button-cancel"
                                                    *ngIf="finishedStatuses.indexOf(trRequest.status) < 0 && trRequest.status !== 'delivered'">
                                            <confirmation-modal
                                                    [disabledCondition]="trRequestUpdating"
                                                    [confirmationSuccess]="changeStatus('cancel')"
                                                    [buttonText]="'Отменить' | translate"
                                                    [confirmationBtnClass]="'btn btn-sq btn-flat btn-default'"
                                            ></confirmation-modal>
                                        </div>
                                        <div class="btn-group gvt-tr-button" *ngIf="account && account.isManagerOrDriver() && finishedStatuses.indexOf(trRequest.status) < 0 && trRequest.status !== 'delivered'">
                                            <button type="button"
                                                    class="btn btn-flat btn-sq btn-primary" (click)="showSetPriceModal()">
                                                <span translate>Изменить</span>&nbsp;<wbr><span translate>стоимость</span>
                                            </button>
                                        </div>
                                        <div class="btn-group gvt-tr-button" *ngIf="account && account.isManagerOrDriver() && trRequest.status === 'new'">
                                            <button class="btn btn-sq btn-flat btn-primary"
                                                    [disableBtn]="trRequestUpdating"
                                                    (click)="changeStatus('assign', true)" translate="">
                                                Принять
                                            </button>
                                        </div>
                                        <div class="btn-group gvt-tr-button"
                                                    *ngIf="account && account.isManagerOrDriver() && trRequest.status === 'accepted'">
                                            <button class="btn btn-sq btn-flat btn-primary"
                                                    [disableBtn]="trRequestUpdating"
                                                    (click)="changeStatus('on_the_road', true)" translate="">
                                                В пути
                                            </button>
                                        </div>
                                        <div class="btn-group gvt-tr-button"
                                                    *ngIf="account && account.isManagerOrDriver() && trRequest.status === 'on_the_road'">
                                            <button class="btn btn-sq btn-flat btn-primary"
                                                    [disableBtn]="trRequestUpdating"
                                                    (click)="changeStatus('in_progress', true)" translate="">
                                                Начать
                                            </button>
                                        </div>
                                        <div class="btn-group gvt-tr-button"
                                                    *ngIf="account && account.isManagerOrDriver() && trRequest.status === 'in_progress'">
                                            <button type="button"
                                                    (click)="showCompleteTransportationRequestModal()"
                                                    [disabled]="trRequestUpdating"
                                                    class="btn btn-flat btn-sq btn-primary"
                                            ><span translate>Доставлен</span>
                                            </button>
                                        </div>
                                        <div class="btn-group gvt-tr-button"
                                                    *ngIf="account && account.isManagerOrDriver() && trRequest.status === 'delivered'">
                                            <confirmation-modal
                                                    [disabledCondition]="trRequestUpdating"
                                                    [confirmationSuccess]="changeStatus('paid')"
                                                    [buttonText]="'Оплачен' | translate"
                                                    [confirmationBtnClass]="'btn btn-sq btn-flat btn-success'"
                                            ></confirmation-modal>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="gvt-tr-details-delimiter">
                    <div class="row tr-employee-comment" *ngIf="account && account.isManagerOrDriver()">
                        <div class="col-md-12">
                            <div class="with-border">
                                <h5 class="box-title"><i class="fa fa-commenting-o" aria-hidden="true"></i>&nbsp;<span translate>Комментарий Сотрудника</span></h5>
                            </div>
                            <div>
                                <span *ngIf="!trRequest.employeeComment && !isEmployeeCommentEdit" class="font-size-14px" translate>Нет комментария</span>
                                <span *ngIf="trRequest.employeeComment && !isEmployeeCommentEdit" class="font-size-14px">{{ trRequest.employeeComment }}</span>
                                <a *ngIf="!isEmployeeCommentEdit"
                                        class="cursor-click font-size-14px" (click)="editEmployeeComment()">&nbsp;<i class="fa fa-pencil fa-lg"></i></a>

                                <div *ngIf="isEmployeeCommentEdit && account && account.isManagerOrDriver()">
                                    <div class="form-group">
                                        <textarea [(ngModel)]="employeeComment" class="form-control"></textarea>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="btn-group gvt-btn-group">
                                                <button class="btn btn-flat btn-default" (click)="isEmployeeCommentEdit = false" translate>
                                                    Отменить
                                                </button>
                                                <button class="btn btn-flat btn-primary"
                                                        [disableBtn]="trRequestUpdating"
                                                        (click)="addEmployeeComment()" translate="">
                                                    Сохранить
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="gvt-tr-details-delimiter">
                    <div class="tr-details row">
                        <div class="col-md-12">
                            <div class="with-border">
                                <h5 class="box-title"><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp;<span translate>Детали Заявки</span>
                                    <span *ngIf="trRequest && account.isManagerOrDriver()">
                                        <a *ngIf="!isOrganisation"
                                                class="cursor-click font-size-14px"
                                           [routerLink]="['/transportation/requests/', trRequest.uuid, 'edit']">&nbsp;<i class="fa fa-pencil fa-lg"></i></a>
                                        <a *ngIf="isOrganisation"
                                                class="cursor-click font-size-14px"
                                           [routerLink]="['./', 'edit']">&nbsp;<i class="fa fa-pencil fa-lg"></i></a>
                                    </span>

                                </h5>

                            </div>
                            <div>
                                <table class="table font-size-14px">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label><span translate>Телефон</span>: </label>
                                            </td>
                                            <td>
                                                <a href="tel:+375{{ trRequest.phone }}">+375{{ trRequest.phone }}</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label><span translate>Назначен На</span>: </label>
                                            </td>
                                            <td>
                                                <div class="row">
                                                    <div class="col-md-12 col-sm-12">
                                                        <span *ngIf="trRequest.assignee">
                                                            {{ trRequest.assignee.firstName }}
                                                            <span *ngIf="account.isManagerOrDriver()">{{ trRequest.assignee.lastName }}</span>
                                                        </span>
                                                        <span *ngIf="!trRequest.assignee" class="text-warning">
                                                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;<span translate>Не назначен</span>
                                                        </span>
                                                        <a class="cursor-click" *ngIf="finishedStatuses.indexOf(trRequest.status) < 0"
                                                           (click)="assignRequestModalInstance.show()">&nbsp;<i class="fa fa-pencil fa-lg"></i></a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr *ngIf="trRequest.createdBy && account.isManagerOrDriver()">
                                            <td>
                                                <label><span translate>Создан</span>:</label>
                                            </td>
                                            <td>
                                                <a href="tel:+375{{ trRequest.createdBy.userCard.phoneNumber }}">
                                                    {{ trRequest.createdBy.firstName }} {{ trRequest.createdBy.lastName }}
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label><span translate>Комментарий</span>: </label>
                                            </td>
                                            <td>
                                                {{ trRequest.text }}
                                            </td>
                                        </tr>
                                        <tr *ngIf="trRequest.email">
                                            <td>
                                                <label><span translate>E-Mail</span>: </label>
                                            </td>
                                            <td>
                                                {{ trRequest.email }}
                                            </td>
                                        </tr>
                                        <tr *ngIf="trRequest.date">
                                            <td>
                                                <label><span translate>Заказано На Дату</span>: </label>
                                            </td>
                                            <td>
                                                {{ trRequest.date | date : "dd/MM/y" }}
                                            </td>
                                        </tr>
                                        <tr *ngIf="trRequest.time">
                                            <td>
                                                <label><span translate>Заказано На Время</span>: </label>
                                            </td>
                                            <td>
                                                {{ trRequest.time }}
                                            </td>
                                        </tr>
                                        <tr *ngIf="trRequest.isNeedPorters">
                                            <td>
                                                <label><span translate>Количество Грузчиков</span>: </label>
                                            </td>
                                            <td>
                                                {{ trRequest.portersNumber }}
                                            </td>
                                        </tr>
                                        <tr *ngIf="trRequest.transportationType">
                                            <td>
                                                <label><span translate>Тип Транспортировки</span>: </label>
                                            </td>
                                            <td>
                                                {{ trRequest.transportationType }}
                                            </td>
                                        </tr>
                                        <tr *ngIf="trRequest.routeLength">
                                            <td>
                                                <label><span translate>Длина Маршрута</span>: </label>
                                            </td>
                                            <td>
                                                {{ trRequest.routeLength / 1000 | number : '1.2-2' }} км
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box box-primary">
                <div class="box-body">
                    <div class="row tr-request-points">
                        <div class="col-md-12">
                            <div class="with-border">
                                <h5 class="box-title"><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;<span translate>Пункты Доставки</span></h5>
                            </div>
                            <table class="table font-size-14px">
                                <thead>
                                    <tr>
                                        <th colspan="2" translate="">Адрес</th>
                                        <th translate="">Этаж</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let point of trRequest.points; let i = index">
                                        <td>
                                            <label *ngIf="i === 0"><span translate>Откуда</span>:</label>
                                            <label *ngIf="i !== 0 && i < trRequest.points.length - 1"><span translate>Далее</span>:</label>
                                            <label *ngIf="i === trRequest.points.length - 1"><span translate>Куда</span>:</label>
                                        </td>
                                        <td (click)="navigateToPoint(point)" class="navigate-to-point">
                                            {{ point.address }}
                                        </td>
                                        <td>
                                            <span *ngIf="point.floor">
                                                {{ point.floor }}
                                            </span>
                                            <span *ngIf="!point.floor" translate>
                                                Не указан
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <hr class="gvt-tr-details-delimiter">
                    <div class="row tr-request-map">
                        <div class="col-md-12">
                            <div class="with-border">
                                <h5 class="box-title"><i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;<span translate>Карта</span></h5>
                            </div>
                            <div>
                                <mapbox-routes [trRequest]="trRequest" [flyToEvents]="navigatePointsEvents.asObservable()"></mapbox-routes>
                            </div>
                            <!--div>
                                <yandex-map-routes [points]="trRequest.points"
                                               [driverLocation]="driverLocation"
                                               [routeLength]="trRequest.routeLength"></yandex-map-routes>
                            </div-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <i class="fa fa-history" aria-hidden="true"></i>&nbsp;
                    <h5 class="box-title" translate>История Изменений</h5>
                </div>

                <div class="box-body gvt-info-body bg-gray-light">
                    <div class="col-sm-12" *ngIf="history && history.length">
                    <ul class="timeline">
                        <!-- timeline item -->
                        <li *ngFor="let h of history; let i = index">
                            <i class="fa fa-lg  bg-gray" [ngClass]="{
                            'fa-clock-o': i > 0,
                            'fa-history': i === 0
                            }"></i>

                            <div class="timeline-item">
                                <span class="time">&nbsp;<i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;{{ h.created | date : "dd/MM/y HH:mm" }}</span>

                                <h3 class="timeline-header"><b>{{ h.actionTypeDisplay }}</b>
                                    <small *ngIf="account.isManagerOrDriver()">
                                        <span *ngIf="h.actionBy">
                                            ({{ h.actionBy.firstName }} {{ h.actionBy.lastName }})
                                        </span>
                                        <span *ngIf="!h.actionBy">
                                            (<span translate="">Система</span>)
                                        </span>
                                    </small>
                                </h3>


                                <div class="timeline-body">
                                    <span *ngIf="h.comment">
                                        {{ h.comment }}
                                    </span>

                                    <div *ngIf="historyTrStateActions.indexOf(h.actionType) > -1">
                                        <div *ngIf="h.trState.carAmount"><b translate>Автомобиль</b>:
                                            <span *ngIf="h.trState.carAmountMax" translate>от</span>
                                            {{ h.trState.carAmount }} BYN
                                            <span *ngIf="h.trState.carAmountMax"><span translate>до</span> {{ h.trState.carAmountMax }} BYN</span>
                                        </div>
                                        <div *ngIf="h.trState.portersAmount"><b translate>Грузчики</b>:
                                            <span *ngIf="h.trState.portersAmountMax" translate>от</span>
                                            {{ h.trState.portersAmount }} BYN
                                            <span *ngIf="h.trState.portersAmountMax"><span translate>до</span> {{ h.trState.portersAmountMax }} BYN</span>
                                        </div>
                                        <div *ngIf="h.trState.isHourlyRate && h.trState.fullAmount()">
                                            <i class="fa fa-clock-o fa-lg text-success" aria-hidden="true"></i>&nbsp;
                                            <span translate>Почасовая Оплата</span>
                                        </div>

                                        <div *ngIf="h.trState.isCashlessPayment && h.trState.fullAmount()">
                                            <i class="fa fa-credit-card fa-lg text-light-blue" aria-hidden="true"></i>&nbsp;
                                            <span translate>Безналичный рассчет</span>
                                        </div>
                                        <div *ngIf="h.actionType === TransportationConstants.ACTION_TYPES.Created">
                                            <div>
                                                <b><span translate="">Заказано На Дату</span>:</b>
                                                {{ h.trState.date | date : "dd/MM/y" }}
                                            </div>
                                            <div *ngIf="h.trState.time">
                                                <b><span translate="">Заказано На Время</span>:</b>
                                                {{ h.trState.time }}
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="h.actionType === TransportationConstants.ACTION_TYPES.Assigned && account.isManagerOrDriver() && h.user">
                                        <b><span translate="">Назначен На</span>:</b> {{ h.user.firstName }} {{ h.user.lastName }}
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <i class="fa fa-circle bg-gray"></i>
                        </li>
                    </ul>
                </div>
                </div>
            </div>

        </div>
    </div>
</section>



<div class="modal modal-default fade"
     *ngIf="trRequest && account.isManagerOrDriver() && finishedStatuses.indexOf(trRequest.status) < 0" bsModal
     tabindex="-1" role="dialog"
     aria-labelledby="setPriceModalInstance" aria-hidden="true" #setPriceModalInstance="bs-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header color-palette bg-blue-active">
                <button type="button" (click)="setPriceModalInstance.hide()"
                        class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" translate>Укажите стоимость автомобиля и грузчиков</h4>
            </div>
            <form #changePriceForm="ngForm">
                <div class="modal-body gvt-modal">
                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <!--label class="control-label" translate>
                                    Начальная стоимость автомобиля
                                </label-->
                                <label class="control-label" translate>
                                    Стоимость автомобиля
                                </label>
                                <input type="number" class="form-control" min="0"
                                       name="carAmount"
                                       placeholder="{{ 'Укажите стоимость автомобиля' | translate }}"
                                       [(ngModel)]="carAmount">
                            </div>
                        </div>
                        <!--div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" translate>
                                    Максимальная стоимость автомобиля
                                </label>
                                <input type="number" class="form-control" min="0"
                                       name="carAmountMax"
                                       placeholder="{{ 'Укажите максимальную стоимость автомобиля' | translate }}"
                                       [(ngModel)]="carAmountMax">
                            </div>
                        </div-->
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                                <!--label class="control-label" translate>
                                    Начальная стоимость услуг грузчиков
                                </label-->
                                <label class="control-label" translate>
                                    Стоимость услуг грузчиков
                                </label>
                                <input type="number" class="form-control" min="0"
                                       name="portersAmount"
                                       placeholder="{{ 'Укажите стоимость грузчиков' | translate }}"
                                       [(ngModel)]="portersAmount">
                            </div>
                        </div>
                        <!--div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" translate>
                                    Максимальная стоимость услуг грузчиков
                                </label>
                                <input type="number" class="form-control" min="0"
                                       name="portersAmountMax"
                                       placeholder="{{ 'Укажите максимальную стоимость грузчиков' | translate }}"
                                       [(ngModel)]="portersAmountMax">
                            </div>
                        </div-->
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           [(ngModel)]="isHourlyRate"
                                           id="isHourlyRate" name="isHourlyRate"> <span translate>Почасовая Оплата</span>?
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"
                                           [(ngModel)]="isCashlessPayment"
                                           id="isCashlessPayment" name="isCashlessPayment"> <span translate>Безналичный Расчет</span>?
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-default pull-left"
                        (click)="setPriceModalInstance.hide()" data-dismiss="modal" translate>Отмена
                </button>
                <confirmation-modal
                        *ngIf="finishedStatuses.indexOf(trRequest.status) < 0"
                        [disabledCondition]="trRequestUpdating || !changePriceForm.form.valid"
                        [confirmationSuccess]="setTransportationRequestPrice()"
                        [buttonText]="'Сохранить' | translate"
                        [confirmationBtnClass]="'btn btn-flat btn-primary'"
                ></confirmation-modal>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-default fade"
     *ngIf="trRequest && account.isManagerOrDriver() && finishedStatuses.indexOf(trRequest.status) < 0" bsModal
     tabindex="-1" role="dialog"
     aria-labelledby="completeRequestModalInstance" aria-hidden="true" #completeRequestModalInstance="bs-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header color-palette bg-blue-active">
                <button type="button" (click)="completeRequestModalInstance.hide()"
                        class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" translate>Укажите окончательную стоимость заказа</h4>
            </div>

            <div class="modal-body gvt-modal">
                <div class="form-group">
                    <label class="control-label" translate>
                        Стоимость автомобиля
                    </label>
                    <input class="form-control"
                           min="0" type="number"
                           placeholder="{{ 'Укажите окончательную стоимость автомобиля' | translate }}"
                           [(ngModel)]="finalCarAmount">
                </div>
                <div class="form-group">
                    <label class="control-label" translate>
                        Стоимость услуг грузчиков
                    </label>
                    <input class="form-control"
                           min="0" type="number"
                           placeholder="{{ 'Укажите окончательную стоимость грузчиков' | translate }}"
                           [(ngModel)]="finalPortersAmount">
                </div>
                <!--div class="form-group">
                    <label class="control-label" translate>
                        Оплата грузчикам
                    </label>
                    <input class="form-control"
                           min="0" type="number"
                           placeholder="{{ 'Укажите сумму оплаты грузчикам' | translate }}"
                           [(ngModel)]="portersPayment">
                </div-->
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-default pull-left"
                        (click)="completeRequestModalInstance.hide()" data-dismiss="modal" translate>Отмена
                </button>
                <confirmation-modal
                        *ngIf="finishedStatuses.indexOf(trRequest.status) < 0"
                        [disabledCondition]="trRequestUpdating"
                        [confirmationSuccess]="completeTransportationRequest()"
                        [buttonText]="'Завершить заказ' | translate"
                        [confirmationBtnClass]="'btn btn-flat btn-primary'"
                ></confirmation-modal>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-default fade"
     *ngIf="trRequest && account.isManagerOrDriver() && finishedStatuses.indexOf(trRequest.status) < 0" bsModal
     tabindex="-1" role="dialog"
     aria-labelledby="assignRequestModalInstance" aria-hidden="true" #assignRequestModalInstance="bs-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header color-palette bg-blue-active">
                <button type="button" (click)="assignRequestModalInstance.hide()"
                        class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" translate>Назначить сотрудника на Заказ</h4>
            </div>

            <div class="modal-body gvt-modal">
                <div class="row">
                    <div class="col-md-12 col-sm-12 text-center">
                        <div class="row"
                             *ngIf="account.isManagerOrDriver() && finishedStatuses.indexOf(trRequest.status) < 0">
                            <div class="col-md-4 col-sm-12 text-center">
                                <label><span translate>Назначить на</span>:</label>
                            </div>
                            <div class="col-md-8 col-sm-12 text-center">
                                <div class="form-group">
                                    <select title="{{ 'Назначить на сотрудника' | translate }}" class="form-control"
                                            [(ngModel)]="trRequest.assigneeID">
                                        <option *ngFor="let employee of employeesList"
                                                [value]="employee.id">
                                            {{ employee.firstName }} {{ employee.lastName }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal-footer color-palette bg-blue-active">
                <button type="button" class="btn btn-flat btn-default pull-left"
                        (click)="assignRequestModalInstance.hide()" data-dismiss="modal" translate>Отмена
                </button>
                <button type="button" class="btn pull-right btn-flat btn-primary"
                        (click)="assignUser()" [disableBtn]="trRequestUpdating" data-dismiss="modal" translate>
                    Назначить
                </button>
            </div>
        </div>
    </div>
</div>

</div>