<section class="content-header">
    <h1>
        <span translate>Профиль</span>
        <small translate>Информация Пользователя</small>
    </h1>
</section>


<section class="content my-account">
    <div class="row">
        <div class="col-md-6 col-sm-12" *ngIf="account.user && account.user.userCard">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h5 class="box-title" translate>Общая информация</h5>
                </div>
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle"
                         [src]="account.user.userCard.photo || DEFAULT_AVATAR_IMG"
                         alt="User profile picture">

                    <h3 class="profile-username text-center">{{ account.user.firstName }} {{ account.user.lastName }}</h3>

                    <p class="text-center"><label
                            class="label label-info">{{ account.user.employeeCard.roleDisplay }}</label>
                    </p>
                    <ul class="list-group list-group-unbordered font-size-14px">
                        <li class="list-group-item">
                            <b translate>Телефон</b> <a class="pull-right"
                                                        href="tel:+375{{ account.user.userCard.phoneNumber }}">
                            +375{{ account.user.userCard.phoneNumber }}</a>
                        </li>
                        <li class="list-group-item">
                            <b translate>E-Mail</b> <a class="pull-right" href="mailto:{{ account.user.email }}">
                            {{ account.user.email }}</a>
                        </li>
                        <li class="list-group-item" *ngIf="account.user.userCard.hometown">
                            <b translate>Город</b> <span class="pull-right">{{ account.user.userCard.hometown }}</span>
                        </li>
                        <li class="list-group-item" *ngIf="account.user.userCard.dateOfBirth">
                            <b translate>Дата рождения</b> <span
                                class="pull-right">{{ account.user.userCard.dateOfBirth | date : "dd/MM/y" }}</span>
                        </li>
                    </ul>
                    <div>
                        <a class="btn btn-primary btn-flat" routerLink="/accounts/profile/edit" translate="">Редактировать
                            Данные</a>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="box ">
                <div class="box-header with-border">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                    <h5 class="box-title" translate>Статистика</h5>
                </div>
                <div class="box-header with-border">
                    <h5 class="box-title" translate>Оформленные Заказы</h5>
                </div>
                <div class="box-body">
                    <div class="row" *ngIf="!userStatistics">
                        <div class="col-md-12 text-center">
                            <span class="font-size-20px" translate="">Идет загрузка статистики</span>&nbsp;<loader></loader>
                        </div>
                    </div>
                    <div class="card card-info" *ngIf="userStatistics">

                        <div class="card-body">
                            <div class="chart">
                                <div chart [data]="userStatistics"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="account && account.user && account.isManagerOrDriver()">
                    <div class="row" *ngIf="!employeeStatistics">
                        <div class="col-md-12 text-center">
                            <span class="font-size-20px" translate="">Идет загрузка статистики</span>&nbsp;<loader></loader>
                        </div>
                    </div>
                    <div *ngIf="employeeStatistics">
                        <div class="box-header with-border">
                            <h5 class="box-title" translate>Выполненные Заказы</h5>
                        </div>
                        <div class="box-body">
                            <div class="card card-info">

                                <div class="card-body">
                                    <div class="chart">
                                        <div chart [data]="employeeStatistics" color="rgba(27, 41, 54, 0.9)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</section>
