<section class="content-header">
    <h1>
        <span translate>Отзыв</span>
        <small><span translate>Детальная Информация</span>
            &nbsp;
            <span *ngIf="review" class="gvt-status transaction-request-status font-size-16px"
                   [ngClass]="{'gvt-status-info': review.status === 'created',
            'gvt-status-default': review.status === 'cancelled',
            'gvt-status-primary': review.status === 'processed',
            'gvt-status-success': review.status === 'approved'
            }">{{ review.statusDisplay }}</span>
        </small>
    </h1>
    <div class="back-to-list">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;
        <a routerLink="/reviews/list" translate>Список Отзывов</a>
    </div>
</section>
<div *ngIf="!loadingComplete">
    <section class="content-header">
        <h1 translate>Отзыв О Компании</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="font-size-20px" translate="">Идет загрузка информиции о отзыве</span>&nbsp;<loader></loader>
            </div>
        </div>
    </section>
</div>
<section class="content" [hidden]="!loadingComplete" *ngIf="review">
    <div class="row">
        <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h5 class="box-title" translate>Общая информация</h5>
                </div>
                <div class="box-body box-profile">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-10">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-sx-12">
                                <b class="font-size-20px">{{ review.name }}</b>
                                </div>
                            </div>
                            <div class="row" *ngIf="review.email">
                                <div class="col-md-12 col-sm-12 col-sx-12 margin-bottom-10">
                                <span class="font-size-14px">
                                    <a [href]="'mailto:' + review.email">{{ review.email }}</a>
                                </span>
                                </div>
                            </div>
                            <div class="row" *ngIf="review.phone">
                                <div class="col-md-12 col-sm-12 col-sx-12">
                                    <span class="font-size-14px">
                                        <a [href]="'tel:+375' + review.phone">+375{{ review.phone }}</a>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-sx-12">
                                    <small class="text-muted">{{ review.created | date : "dd/MM/y HH:mm" }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 font-size-16px margin-bottom-10">
                            {{ review.text }}
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 margin-bottom-10">
                            <span translate>Рейтинг</span>:
                            <rating [value]="review.rating"></rating>
                        </div>
                    </div>
                    <hr class="gvt-tr-details-delimiter" *ngIf="review.status === 'created'">
                </div>
                <div *ngIf="review.status === 'created'">
                    <div class="box-header with-border">
                        <h5 class="box-title" translate>Редактирование Отзыва</h5>
                    </div>
                    <div class="box-body box-profile">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 btn-toolbar">
                                <div class="btn-group">
                                <confirmation-modal
                                        [disableSubmitBtnCondition]="reviewUpdating"
                                        [confirmationSuccess]="changeReviewStatus('cancelled')"
                                        [buttonText]="'Отменить' | translate"
                                        [confirmationBtnClass]="'btn btn-flat btn-default'"
                                ></confirmation-modal>
                                </div>
                                <div class="btn-group">
                                <confirmation-modal
                                        [disableSubmitBtnCondition]="reviewUpdating"
                                        [confirmationSuccess]="changeReviewStatus('processed')"
                                        [buttonText]="'Обработан' | translate"
                                        [confirmationBtnClass]="'btn btn-flat btn-primary'"
                                ></confirmation-modal>
                                </div>
                                <div class="btn-group">
                                <confirmation-modal
                                        [disableSubmitBtnCondition]="reviewUpdating"
                                        [confirmationSuccess]="changeReviewStatus('approved')"
                                        [buttonText]="'Одобрен' | translate"
                                        [confirmationBtnClass]="'btn btn-flat gvt-bg-green'"
                                ></confirmation-modal>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="box box-solid">
                <div class="box-header with-border bg-aqua-active color-palette">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>

                    <h3 class="box-title" translate>Общая информация</h3>
                </div>

                <div class="box-body gvt-info-body">
                    <dl>
                        <br>
                        <dt translate>
                            Примечание по редактированию Отзыва
                        </dt>
                        <br>
                        <dd translate>
                            Каждый отзыв должен быть обработан.
                        </dd>
                        <br>
                        <dd translate>
                            Если нажать кнопку Одобрен, отзыв будет отображаться на Главной странице сайта. Согласуйте одобрение отзыва с Вашим менеджером.
                        </dd>
                        <br>
                        <dd translate>
                            Для того, чтобы отметить отзыв как обработанный, нажмите на Обработан.
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>
