<div *ngIf="!loadingComplete" class="row">
    <div class="col-md-12 text-center">
        <span class="font-size-20px" translate="">Идет загрузка заказов</span>&nbsp;<loader></loader>
    </div>
</div>
<div [hidden]="!loadingComplete">
    <div class="row">
        <div class="col-md-9 col-sm-9 col-xs-12">
            <h4 translate>Фильтрация</h4>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <a [routerLink]="['./', 'create']" class="btn btn-primary btn-flat pull-right create-tr-request-btn">
                <i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;
                <span translate>Создать</span>
            </a>
        </div>
    </div>
    <div class="row transportation-requests-list">
        <div class="col-md-3 col-sm-12">
            <div class="form-group" *ngIf="statuses.length">
                <select
                        class="form-control" (ngModelChange)="filterByStatus($event)" [(ngModel)]="filterStatus">
                    <option *ngFor="let status of statuses" [value]="status.value">{{ status.display }}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon cursor-click" (click)="filterDateStart = ''; filterByDate(filterDateStart, filterDateEnd)">
                        <i class="fa fa-times" aria-hidden="true"></i></span>
                    <input type="text"
                           placeholder="{{ 'От Даты' | translate }}"
                           [(ngModel)]="filterDateStart"
                           ngui-datetime-picker
                           (ngModelChange)="filterByDate($event, filterDateEnd)"
                           date-format="YYYY-MM-DD"
                           date-only="true"
                           class="form-control">
                    <span class="input-group-addon cursor-click">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon cursor-click" (click)="filterDateEnd = ''; filterByDate(filterDateStart, filterDateEnd)">
                        <i class="fa fa-times" aria-hidden="true"></i></span>
                    <input type="text"
                           placeholder="{{ 'До Даты' | translate }}"
                           [(ngModel)]="filterDateEnd"
                           ngui-datetime-picker
                           (ngModelChange)="filterByDate(filterDateStart, $event)"
                           date-format="YYYY-MM-DD"
                           date-only="true"
                           class="form-control">
                    <span class="input-group-addon cursor-click">
                        <i class="fa fa-calendar"
                           aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="!trRequests || !trRequests.length">
        <div class="col-md-12">
            <div class="callout callout-info font-size-14px">
                <h4 translate>Нет заявок</h4>

                <p translate>Заявки на транспортировку отсутствуют.</p>
            </div>
        </div>
    </div>
    <div class="table-responsive" *ngIf="trRequests && trRequests.length">
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th>
                    <span translate>Дата/Время Заказа</span>
                </th>
                <th translate>Статус</th>
                <th translate>Стоимость</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tr of trRequests; let i = index">
                <td>{{ (currentPage - 1) * 25 + i + 1 }}</td>
                <td>
                    <a [routerLink]="['./', tr.uuid]" class="font-size-16px tr-list-date">
                        <div><b>#{{ tr.id }}</b></div>
                        <div>

                            {{ tr.date | date : "dd/MM/y" }}
                        </div>
                    </a>
                    <span class="tr-list-time" *ngIf="tr.time">{{ tr.time }}</span>
                </td>
                <td class="gvt-status-wrapper-table">
                    <span class="font-size-14px gvt-status"
                          [ngClass]="{'gvt-status-danger': tr.status === 'new',
                                  'gvt-status-info': tr.status === 'accepted',
                                  'gvt-status-primary': tr.status === 'on_the_road' || tr.status === 'in_progress' || tr.status === 'delivered',
                                  'gvt-status-success': tr.status === 'paid',
                                  'gvt-status-default': TransportationConstants.AVAILABLE_STATUSES.indexOf(tr.status) < 0
                                  }">{{ tr.statusDisplay }}</span>
                </td>
                <td>
                    <span class="font-size-20px" *ngIf="tr.fullAmount">
                        {{ tr.fullAmount }}
                        <span *ngIf="tr.fullAmountMax">-</span>
                        <span *ngIf="tr.fullAmountMax">{{ tr.fullAmountMax }}</span>
                        BYN
                    </span>
                    <span class="text-muted"
                          *ngIf="!tr.fullAmount" translate>Не указана</span>
                    &nbsp;<i *ngIf="tr.isHourlyRate" class="fa fa-clock-o fa-lg text-success" aria-hidden="true"></i>
                    &nbsp;<i *ngIf="tr.isCashlessPayment" class="fa fa-credit-card fa-lg text-light-blue" aria-hidden="true"></i>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="font-size-14px">
            <pagination [totalItems]="totalItems" [(ngModel)]="currentPage"
                        [previousText]="'Предыдущая' | translate"
                        [nextText]="'Следующая' | translate"
                        [maxSize]="5"
                        [boundaryLinks]="true"
                        [firstText]="'Первая' | translate"
                        [lastText]="'Последняя' | translate"
                        [itemsPerPage]="25"
                        (pageChanged)="pageChanged($event)"></pagination>
        </div>
    </div>
</div>