{% extends 'admin/base.html' %}
{% load static %}

{% block extrahead %}
    <link rel="shortcut icon" href="{% static 'images/gvt_icon_64.png' %}" type="image/x-icon">
    <style>
        .gvt-brand {
            width: 180px;
        }

        .gvt-brand .row .col-sm-3 {
            width: 25%;
            display: inline-block;
            float: left
        }

        .gvt-brand .row .col-sm-9 {
            width: 75%;
            display: inline-block;
            margin-top: 12px;
        }

        .gvt-brand .brand-name {
            font-size: 18px;
            color: #fff;
            font-family: Raleway sans-serif;
        }
    </style>
{% endblock %}
{% block branding %}
    <div class="gvt-brand">
        <div class="row">
            <div class="col-sm-3">
                <div class="brand-image">
                    <img src="{% static 'images/gvt_icon_inversed_64.png' %}" width="40" height="40">
                </div>
            </div>
            <div class="col-sm-9">
                <div class="brand-name">Грузи В ТАКСИ</div>
            </div>
        </div>
    </div>
{% endblock %}