<section class="content-header">
    <h1>
        <span translate>Транспортировка</span>
        <small *ngIf="listName">{{ listName | translate }}&nbsp;<span class="label gvt-label-primary font-size-14px">{{ totalItems }}</span></small>
    </h1>
</section>
<section class="content tr-lists">
    <div *ngIf="!loadingComplete" class="row">
        <div class="col-md-12 text-center">
            <span class="font-size-20px" translate="">Идет загрузка заказов</span>&nbsp;<loader></loader>
        </div>
    </div>
    <div [hidden]="!loadingComplete">
        <div class="box">
            <div class="box-header with-border box-header-small">
            <div class="row">
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <h4 (click)="isFiltrationCollapsed = !isFiltrationCollapsed" class="cursor-click"><span translate>Фильтрация</span>&nbsp;
                        <i class="fa" [ngClass]="{'fa-chevron-up': !isFiltrationCollapsed, 'fa-chevron-down': isFiltrationCollapsed}"></i></h4>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <a routerLink="/transportation/requests/create" class="btn btn-primary btn-flat pull-right create-tr-request-btn">
                        <i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;
                        <span translate>Создать</span>
                    </a>
                </div>
            </div>
            <div class="row collapse transportation-requests-list" [collapse]="isFiltrationCollapsed">
                <div class="col-md-3 col-sm-12">
                    <div class="form-group" *ngIf="statuses.length">
                        <select
                                class="form-control" (ngModelChange)="filterByStatus($event)" [(ngModel)]="filterStatus">
                            <option *ngFor="let status of statuses" [value]="status.value">{{ status.display }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon cursor-click" (click)="filterDateStart = ''; filterByDate(filterDateStart, filterDateEnd)">
                                <i class="fa fa-times" aria-hidden="true"></i></span>
                            <input type="text"
                                   placeholder="{{ 'От Даты' | translate }}"
                                   [(ngModel)]="filterDateStart"
                                   ngui-datetime-picker
                                   (ngModelChange)="filterByDate($event, filterDateEnd)"
                                   date-format="YYYY-MM-DD"
                                   date-only="true"
                                   class="form-control">
                            <span class="input-group-addon cursor-click">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon cursor-click" (click)="filterDateEnd = ''; filterByDate(filterDateStart, filterDateEnd)">
                                <i class="fa fa-times" aria-hidden="true"></i></span>
                            <input type="text"
                                   placeholder="{{ 'До Даты' | translate }}"
                                   [(ngModel)]="filterDateEnd"
                                   ngui-datetime-picker
                                   (ngModelChange)="filterByDate(filterDateStart, $event)"
                                   date-format="YYYY-MM-DD"
                                   date-only="true"
                                   class="form-control">
                            <span class="input-group-addon cursor-click">
                                <i class="fa fa-calendar"
                                   aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="input-group">
                        <span class="input-group-addon cursor-click" (click)="filterSearch = ''; filterBySearch();">
                            <i class="fa fa-times" aria-hidden="true"></i></span>
                        <input type="text" [(ngModel)]="filterSearch" class="form-control"
                               placeholder="{{ 'Поиск по телефону или email' | translate }}">
                        <span class="input-group-addon cursor-click" (click)="filterBySearch()">
                            <i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="row" [collapse]="isFiltrationCollapsed">
                <div class="col-md-3 col-sm-12">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   [(ngModel)]="isCashlessPayment"
                                   (ngModelChange)="filterByCashlessPayment($event)"
                                   id="isCashlessPayment" name="isCashlessPayment"> <span class="font-size-16px" translate>Безналичный расчет</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12"
                     *ngIf="account.isManager() && employeesList.length && listType !== LIST_TYPES.assigned">
                    <div class="form-group">
                        <select
                                class="form-control" (ngModelChange)="filterByEmployeeID($event)" [(ngModel)]="filterEmployeeID">
                            <option value="" translate>Выбрать Cотрудника</option>
                            <option *ngFor="let employee of employeesList" [value]="employee.id">
                                {{ employee.firstName }} {{ employee.lastName }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            </div>

            <div class="box-body" *ngIf="!trRequests || !trRequests.length">
                <div class="row">
                    <div class="col-md-12">
                        <div class="callout callout-info font-size-14px">
                            <h4 translate>Нет заявок</h4>

                            <p translate>В данном списке отсутствуют заявки на транспортировку.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive box-body" *ngIf="trRequests && trRequests.length">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>
                            <span translate>Дата/Время Заказа</span>
                        </th>
                        <th translate>Статус</th>
                        <th translate>Назначен На</th>
                        <th translate>Стоимость</th>
                        <th translate *ngIf="account.isManagerOrDriver()">Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let tr of trRequests; let i = index">
                        <td>{{ (currentPage - 1) * 25 + i + 1 }}</td>
                        <td>
                            <a [routerLink]="['/transportation/requests/', tr.uuid]" class="font-size-16px tr-list-date">
                                <div><b>#{{ tr.id }}</b></div>
                                <div>

                                    {{ tr.date | date : "dd/MM/y" }}
                                </div>
                            </a>
                            <span class="tr-list-time" *ngIf="tr.time">{{ tr.time }}</span>
                        </td>
                        <td class="gvt-status-wrapper-table">
                            <span class="font-size-14px gvt-status"
                                  [ngClass]="{'gvt-status-danger': tr.status === 'new',
                                          'gvt-status-info': tr.status === 'accepted',
                                          'gvt-status-primary': tr.status === 'on_the_road' || tr.status === 'in_progress' || tr.status === 'delivered',
                                          'gvt-status-success': tr.status === 'paid',
                                          'gvt-status-default': TransportationConstants.AVAILABLE_STATUSES.indexOf(tr.status) < 0
                                          }">{{ tr.statusDisplay }}</span>
                        </td>
                        <td>
                            <span *ngIf="tr.assignee">{{ tr.assignee.firstName }}</span>
                            <span *ngIf="!tr.assignee" class="text-warning"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;<span translate>Не назначен</span></span>
                        </td>
                        <td>
                            <span class="font-size-20px" *ngIf="tr.fullAmount">
                                {{ tr.fullAmount }}
                                <span *ngIf="tr.fullAmountMax">-</span>
                                <span *ngIf="tr.fullAmountMax">{{ tr.fullAmountMax }}</span>
                                BYN
                            </span>
                            <span class="text-muted"
                                  *ngIf="!tr.fullAmount" translate>Не указана</span>
                            &nbsp;<i *ngIf="tr.isHourlyRate" class="fa fa-clock-o fa-lg text-success" aria-hidden="true"></i>
                            &nbsp;<i *ngIf="tr.isCashlessPayment" class="fa fa-credit-card fa-lg text-light-blue" aria-hidden="true"></i>
                        </td>
                        <td *ngIf="account.isManagerOrDriver()">
                            <a [routerLink]="['/transportation/requests/', tr.uuid, 'edit']">
                                <span translate>Изменить</span>&nbsp;<i class="fa fa-pencil"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="font-size-14px">
                <pagination [totalItems]="totalItems" [(ngModel)]="currentPage"
                            [previousText]="'Предыдущая' | translate"
                            [nextText]="'Следующая' | translate"
                            [maxSize]="5"
                            [boundaryLinks]="true"
                            [firstText]="'Первая' | translate"
                            [lastText]="'Последняя' | translate"
                            [itemsPerPage]="25"
                            (pageChanged)="pageChanged($event)"></pagination>
                </div>
            </div>
        </div>
    </div>
</section>