<section class="content-header">
    <h1>
        <span translate>Сотрудники</span>
        <small translate>Список Зарегистрированных Сотрудников</small>
    </h1>
</section>
<section class="content">
    <div *ngIf="!loadingComplete" class="row">
        <div class="col-md-12 text-center">
            <span class="font-size-20px" translate="">Идет загрузка заказов</span>&nbsp;<loader></loader>
        </div>
    </div>
    <div [hidden]="!loadingComplete">
        <div class="box">
            <div class="box-header with-border box-header-small">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <h4 translate>Фильтрация</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group" *ngIf="employeeRoles.length">
                            <select
                                    class="form-control" (ngModelChange)="filterByRole($event)" [(ngModel)]="filterRole">
                                <option *ngFor="let role of employeeRoles" [value]="role.value">{{ role.display }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon" (click)="filterSearch = ''; filterBySearch();">
                                <i class="fa fa-times" aria-hidden="true"></i></span>
                            <input type="text" [(ngModel)]="filterSearch" class="form-control"
                                   placeholder="{{ 'Поиск по телефону или email' | translate }}">
                            <span class="input-group-addon" (click)="filterBySearch()">
                                <i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                <div class="table-responsive" *ngIf="employeeList && employeeList.length">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th translate>Сотрудник</th>
                            <th translate>Роль</th>
                            <th translate>Номер телефона</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let employee of employeeList; let i = index">
                                <td>{{ (currentPage - 1) * 10 + i + 1 }}</td>
                                <td><a [routerLink]="['/accounts/employees/', employee.username]">
                                    <div class="user-block">
                                        <img class="img-circle img-bordered-sm"
                                             [src]="employee.userCard.photo || DEFAULT_AVATAR_IMG"
                                             alt="{{ employee.firstName }} {{ employee.lastName }}">
                                        <span class="username">
                                          {{ employee.firstName }} {{ employee.lastName }}
                                        </span>
                                        <span class="description">
                                            <span class="label color-palette"
                                                  [ngClass]="{
                                                  'bg-yellow-active': employee.userCard.status === 'disabled',
                                                  'bg-green-active': employee.userCard.status === 'active',
                                                  'bg-gray-active': userStatuses.indexOf(employee.userCard.status === 'active') < 0
                                                  }">{{ employee.userCard.statusDisplay }}</span>
                                        </span>
                                    </div>
                                    </a>
                                </td>
                                <td>
                                    <span class="font-size-16px">{{ employee.employeeCard.roleDisplay }}</span>
                                </td>
                                <td>
                                    <a href="tel:+375{{ employee.userCard.phoneNumber }}">+375{{ employee.userCard.phoneNumber }}</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="font-size-14px">
                    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage"
                                [previousText]="'Предыдущая' | translate"
                                [nextText]="'Следующая' | translate"
                                [maxSize]="5"
                                [boundaryLinks]="true"
                                [firstText]="'Первая' | translate"
                                [lastText]="'Последняя' | translate"
                                (pageChanged)="pageChanged($event)"></pagination>
                    </div>
                </div>
                <div *ngIf="!employeeList || !employeeList.length">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="callout callout-info">
                                <h4 translate>Нет сотрудников</h4>

                                <p><span translate>Данный список пуст. Если уже есть зарегистрированные сотрудники, вам необходимо зайти в</span>&nbsp;<a
                                        href="/admin" translate>Административную панель</a>&nbsp;<span translate="">и назначить Роль сотруднику.</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>