<div class="rating-wrapper">
    <i class="fa fa-lg" [ngClass]="{
        'fa-star': (i + 1) <= value,
        'fa-star-o': (i + 1) > value,
        'fa-starfa-star-half-o': (i + 2) > value && value > (i + 1)
    }" aria-hidden="true" *ngFor="let i of 5|range"></i>
</div>