<section class="content-header" *ngIf="employee">
    <h1>
        {{ employee.firstName }} {{ employee.lastName }}
        <small translate>Профиль Сотрудника</small>
    </h1>
    <div class="back-to-list">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;<a routerLink="/accounts/employees/list" translate>Список Сотрудников</a>
    </div>
</section>

<div *ngIf="!loadingComplete">
    <section class="content-header">
        <h1 translate>Профиль Сотрудника</h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="font-size-20px" translate="">Идет загрузка информиции о сотруднике</span>&nbsp;<loader></loader>
            </div>
        </div>
    </section>
</div>
<section class="content" *ngIf="employee" [hidden]="!loadingComplete">
    <div class="row">
        <div class="col-md-5">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h5 class="box-title" translate>Общая информация</h5>
                </div>
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle"
                         [src]="employee.userCard.photo || DEFAULT_AVATAR_IMG"
                         alt="User profile picture">

                    <h3 class="profile-username text-center">{{ employee.firstName }} {{ employee.lastName }}</h3>

                    <p class="text-center">
                        <a class="cursor-click"
                           (click)="changeEmployeeRoleModalInstance.show()">{{ employee.employeeCard.roleDisplay }}
                            <i class="fa fa-pencil"></i>
                        </a>
                    </p>

                    <p class="text-center"><span class="label"
                                                            [ngClass]="{
                          'bg-yellow-active': employee.userCard.status === UserStatuses.DISABLED,
                          'bg-green-active': employee.userCard.status === UserStatuses.ACTIVE,
                          'bg-gray-active': userStatuses.indexOf(employee.userCard.status === 'active') < 0
                          }">{{ employee.userCard.statusDisplay }}</span>
                    </p>
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b translate>Телефон</b> <a class="pull-right" href="tel:+375{{ employee.userCard.phoneNumber }}">
                            +375{{ employee.userCard.phoneNumber }}</a>
                        </li>
                        <li class="list-group-item">
                            <b translate>E-Mail</b> <a class="pull-right" href="mailto:{{ employee.email }}">
                            {{ employee.email }}</a>
                        </li>
                        <li class="list-group-item" *ngIf="employee.userCard.hometown">
                            <b translate>Город</b> <span class="pull-right">{{ employee.userCard.hometown }}</span>
                        </li>
                        <li class="list-group-item" *ngIf="employee.userCard.dateOfBirth">
                            <b translate>Дата рождения</b> <span class="pull-right">{{ employee.userCard.dateOfBirth | date : "dd/MM/y" }}</span>
                        </li>
                    </ul>
                    <p>
                        <confirmation-modal
                                *ngIf="employee.userCard.status === UserStatuses.ACTIVE"
                                [disableSubmitBtnCondition]="employeeUpdating"
                                [confirmationSuccess]="toggleEmployeeStatus()"
                                [buttonText]="'Заблокировать' | translate"
                                [confirmationBtnClass]="'btn btn-flat btn-warning btn-block'"
                        ></confirmation-modal>
                        <confirmation-modal
                                *ngIf="employee.userCard.status === UserStatuses.DISABLED"
                                [disableSubmitBtnCondition]="employeeUpdating"
                                [confirmationSuccess]="toggleEmployeeStatus()"
                                [buttonText]="'Разблокировать' | translate"
                                [confirmationBtnClass]="'btn btn-flat btn-success btn-block'"
                        ></confirmation-modal>
                    </p>
                <!-- /.box-body -->
                </div>
            </div>
        </div>

        <div class="col-md-7">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title" translate>О себе</h3>
                </div>
                <div class="box-body box-profile">
                    <p *ngIf="employee.userCard.about">{{ employee.userCard.about }}</p>
                    <span class="text-muted" *ngIf="!employee.userCard.about" translate>Не указано</span>
                </div>
            </div>
            <div class="box">
                <div class="row" *ngIf="!employeeStatistics">
                    <div class="col-md-12 text-center">
                        <span class="font-size-20px" translate="">Идет загрузка статистики</span>&nbsp;<loader></loader>
                    </div>
                </div>
                <div *ngIf="employeeStatistics">
                    <div class="box-header with-border">
                        <h5 class="box-title" translate>Выполненные Заказы</h5>
                    </div>
                    <div class="box-body">
                        <div class="card card-info">

                            <div class="card-body">
                                <div class="chart">
                                    <div chart [data]="employeeStatistics" color="rgba(27, 41, 54, 0.9)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal modal-default fade" bsModal
     tabindex="-1" role="dialog"
     *ngIf="employee && employee.employeeCard"
     aria-labelledby="changeEmployeeRoleModalInstance" aria-hidden="true" #changeEmployeeRoleModalInstance="bs-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header color-palette bg-blue-active">
                <button type="button" (click)="changeEmployeeRoleModalInstance.hide()"
                        class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" translate>Изменить Роль Сотрудника</h4>
            </div>

            <div class="modal-body gvt-modal">

                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label class="control-label" translate>Роль</label>
                            <select class="form-control" [(ngModel)]="currentEmployeeRole">
                                <option *ngFor="let role of employeeRoles" [value]="role.value">{{ role.display }}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal-footer color-palette bg-blue-active">
                <button type="button" class="btn btn-flat btn-default pull-left"
                        (click)="changeEmployeeRoleModalInstance.hide()" data-dismiss="modal" translate>Отмена
                </button>
                <confirmation-modal
                            [disableSubmitBtnCondition]="employeeUpdating"
                            [confirmationSuccess]="changeEmployeeRole()"
                            [buttonText]="'Изменить' | translate"
                            [confirmationBtnClass]="'btn btn-flat btn-primary pull-right'"
                ></confirmation-modal>
            </div>
        </div>
    </div>
</div>
