<div class="row">
    <div class="col-md-12 col-sm-12" *ngIf="yandexLoaded">
        <div class="row gvt-map-point" *ngFor="let point of trRequest.points; let i = index;">
            <div class="col-md-1 col-sm-1 col-xs-1 gvt-map-point-icon text-center" (click)="currentPoint = point;">
                <i class="fa fa-map-marker fa-2x" style="color: #d3d3d3;" aria-hidden="true" *ngIf="point !== currentPoint"></i>
                <i class="fa fa-map-pin fa-2x" style="color: #3c8dbc;" aria-hidden="true" *ngIf="point === currentPoint"></i>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-5 gvt-map-point-address-wrapper">
                <div class="gvt-map-point-address cursor-click" (click)="currentPoint = point; showAddressAutocompleteModal($event, addressModalInstance, point.address)">
                    <span *ngIf="point.address">{{ point.address }}</span>
                    <span *ngIf="!point.address" class="gvt-address-placeholder">{{ (i === 0 ? 'Откуда' : i === trRequest.points.length - 1 ? 'Куда' : 'Далее') | translate }}</span>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3 gvt-map-point-floor-wrapper">

                <div class="form-group">
                    <input class="form-control"
                           type="number" min="1"
                           (focus)="currentPoint = point;"
                           [(ngModel)]="point.floor"
                           placeholder="{{ 'Этаж' | translate }}"/>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 gvt-map-buttons">
                <button *ngIf="i === (trRequest.points.length - 1)"
                        type="button" class="btn gvt-add-map-point-btn btn-default pull-right" (click)="addPoint()">
                    <i class="fa fa-plus"
                           aria-hidden="true"></i>
                </button>
                &nbsp;
                <button *ngIf="trRequest.points.length > 2" type="button" class="btn pull-left gvt-remove-map-point-btn btn-default" (click)="removePoint(point)">
                    <i class="fa fa-minus"
                       aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12" *ngIf="trRequest && trRequest.routeLength">
        <div class="row gvt-route-length">
            <div class="col-md-3 col-sm-6 col-xs-12" translate>Длина Маршрута</div>
            <div class="col-md-3 col-sm-6 col-xs-12"><b>{{ trRequest.routeLength / 1000 | number : '1.2-2' }} км</b></div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div id="map" class="gvt-map"></div>
    </div>
</div>

<div class="modal modal-primary fade" bsModal tabindex="-1" role="dialog"
     aria-labelledby="addressModalInstance" aria-hidden="true" #addressModalInstance="bs-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" (click)="addressModalInstance.hide()"
                        class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" translate>Укажите адрес</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <textarea class="form-control"
                              rows="2"
                           #currentAddressInput
                           placeholder="{{ 'Введите адрес (Например, Мозырь, Нефтестроителей 1)' | translate }}"
                           [(ngModel)]="currentAddress" (ngModelChange)="buildAddressAutocompleteList($event)">
                    </textarea>
                    <div class="address-auto-complete" *ngIf="addressesList && addressesList.length">
                        <ul>
                            <li class="item" *ngFor="let value of addressesList" (click)="setCurrentAddress(value, currentAddressInput)">
                                {{ value }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left"
                        (click)="addressModalInstance.hide()" data-dismiss="modal" translate>Отмена</button>
                <button type="button" (click)="searchByAddress(); addressModalInstance.hide();"
                        class="btn btn-outline" translate>Выбрать</button>
            </div>
        </div>
    </div>
</div>
