{% extends 'site_templates/base.html' %}
{% load static %}
{% load i18n %}
{% load compress %}
{% load thumbnail %}

{% block title %}
    {% trans 'Страница Не Найдена' %}
{% endblock %}

{% block content %}
    <div class="place-order-section section">

        <!-- Backgound Image -->
        <div class="bg-image bg-parallax overlay"
             style="background-image:url({% static 'images/trucking/truck3.jpg' %})"></div>
        <!-- /Backgound Image -->

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <h1 class="white-text">404: {% trans 'Страница не найдена' %}</h1>
                </div>
            </div>
        </div>

    </div>
    <div id="contact" class="section feedback">
        <div class="container">
            <p>{% trans 'Запрашиваемый ресурс не найден' %}. {% trans 'Вернуться на' %} <a href="{% url 'home' %}">{% trans 'Главную' %}</a></p>
        </div>
    </div>
{% endblock %}