{% load i18n %}
{% load static %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
    <base href="/app">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% trans 'Грузи В ТАКСИ' %}: {% block title %}{% trans 'Приложение' %}{% endblock %}</title>
    <meta name="keywords" content="грузоперевозки, грузоперевозки мозырь, перевоз грузов, грузовое такси, грузовое такси мозырь, доставка мозырь">
    <meta name="description" content="ГРУЗОПЕРЕВОЗКИ МОЗЫРЬ">
    <meta name="robots" content="noindex,nofollow"/>
    <link rel="shortcut icon" href="{% static 'images/gvt_icon_64.png' %}" type="image/x-icon">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/gvt-app/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/gvt-app/loader.css' %}">
    <link rel="stylesheet" href="{% static 'css/gvt-app/tr-request-details.css' %}">
    <link rel="stylesheet" href="{% static 'css/gvt-app/organisations-list.css' %}">
    <link rel="stylesheet" href="{% static 'css/gvt-app/organisation-details.css' %}">
    <link rel="stylesheet" href="{% static 'css/gvt-app/toast.css' %}">
    <link href="{% static 'libs/adminLTE/dist/css/AdminLTE.min.css' %}" rel="stylesheet">
    <link href="{% static 'libs/adminLTE/dist/css/skins/skin-black.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'gvt-app/node_modules/ng2-toasty/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'gvt-app/node_modules/ng2-toasty/style-bootstrap.css' %}">
    {% endcompress %}

    <script src="https://npmcdn.com/@turf/turf/turf.min.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet" />

    <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>

    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css" type="text/css" />
    {% block extra_css %}
    {% endblock %}
</head>
<body class="hold-transition skin-black sidebar-mini gvt-app">
    <gvt-app>
        <div class="loading-preview text-center">
            <div class="gvt-preloader">
                <img src="{% static 'images/gvt_icon_64.png' %}"/>
                <span class="preloader-logo">Грузи В ТАКСИ: {% trans 'Загрузка' %}</span>
                &nbsp;
                <div class="bounce">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
    </gvt-app>
    <script>
        {% get_current_language as LANGUAGE_CODE %}
        var locale = '{{ LANGUAGE_CODE }}';
        mapboxgl.accessToken = '{{ MAPBOX_ACCESS_TOKEN }}';
    </script>
    {% compress js %}
    <script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
    <script src="{% static 'libs/adminLTE/dist/js/app.js' %}"></script>
    <script src="{% static 'libs/adminLTE/dist/plugins/chartjs-old/Chart.min.js' %}"></script>
    {% include 'helpers/gvt_app_extra_js.html' %}
    {% endcompress %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% block extra_js %}
    {% endblock %}
</body>
</html>
