{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <base href="/app">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% trans 'Грузи В ТАКСИ' %}: {% trans 'Пользовательское Соглашение' %}</title>
    <meta name="robots" content="noindex,nofollow"/>
    <link rel="shortcut icon" href="{% static 'images/gvt_icon_64.png' %}" type="image/x-icon">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
<div class="container-fluid gvt-app-wrapper wrapper">
    <div class="content-wrapper">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1>
                    Грузи В ТАКСИ
                    <small style="color: #fff;">Пользовательское соглашение</small>
                </h1>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <h3>Общая Информация Пользователя</h3>
                        Регистрируясь в приложении Грузи В ТАКСИ <b>Вы соглашаетесь</b> со следующими пунктами:
                        <ol>
                            <li>
                                Компания Грузи В ТАКСИ (далее Компания) имеет право хранить Ваши данные (номер телефона,
                                E-Mail, другие личные данные, введенные в приложении).
                            </li>
                            <li>
                                Компания имеет право использовать Ваши личные данные для уведомлений, рассылок.
                            </li>
                            <li>
                                Компания имеет право хранить данные о Вашем местоположении и использовать эти данные
                                во время выполнения заказов.
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <h3>Информация Сотрудника Компании</h3>
                        <b>Водители</b> и другие <b>сотрудники Компании</b> регистрируюясь в приложении <b>соглашаются</b> со следующими пунктами:
                        <ol>
                            <li>Сотруднику Компании запрещается рекламировать другие компании во время выполнения заказов.</li>
                            <li>Сотрудник Компании обязан пройти инструктаж перед началом сотрудничества с Компанией и выполнением заказов.</li>
                            <li>Сотруднику Компании запрещается разглашать внутренний распорядок Компании, способы и особенности ведения деятельности Компании.</li>
                            <li>Сотруднику Компании запрещается распространять третьим лицам схему работы приложения.</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        В данный момент приложение проходит тестирование.
                        На стадии тестирования приложение может давать сбои, неверно вычислять или отображать данные.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'libs/startbootstrap-grayscale/js/bootstrap.min.js' %}"></script><!-- Bootstrap -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
</body>
</html>