<div [ngClass]="{'organisation-subsection': isOrganisation}">
<section class="content-header">
    <h1>
        <span translate>Заявка На Перевозку</span>

        <small *ngIf="trRequest && !trRequest.uuid" translate>Создание</small>
        <small *ngIf="trRequest && trRequest.uuid" translate>Редактирование</small>
    </h1>
    <div class="back-to-list" *ngIf="!isOrganisation">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;
        <a routerLink="/transportation/requests/list/my" translate>Мои Заказы</a>
        <span *ngIf="account.isManagerOrDriver()">&nbsp;/&nbsp;</span>
        <a *ngIf="account.isManagerOrDriver()" routerLink="/transportation/requests/list/assigned" translate>Назначены На Меня</a>
        <span *ngIf="account.isManager()">&nbsp;/&nbsp;</span>
        <a *ngIf="account.isManager()" routerLink="/transportation/requests/list/all" translate>Список Заказов</a>
    </div>
</section>
<section class="content tr-request-details">
    <div class="row">
        <div class="col-lg-8 col-sm-12">
            <form role="form" #trRequestForm="ngForm" *ngIf="trRequest">

                <div class="box box-primary">

                    <div class="box-header with-border">
                        <h5 class="box-title"><i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;<span translate>Форма Заявки</span></h5>
                    </div>
                    <div class="box-body">

                        <div class="form-group" [ngClass]="{'has-error': phone.errors && phone.touched}">
                            <label for="phone"><span translate>Телефон</span> *</label>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    +375
                                </span>
                                <input [textMask]="{mask: phoneMask}"
                                        type="text" required class="form-control" [(ngModel)]="trRequest.phone"
                                        id="phone" name="phone" placeholder="{{ 'Номер телефона' | translate }}" #phone="ngModel">
                            </div>
                            <span class="help-block" *ngIf="phone.errors && phone.touched" translate>
                                Телефон обязателен
                            </span>
                        </div>
                        <div class="form-group" *ngIf="canSetPriceFields()">
                            <label for="carAmount" translate>Стоимость Автомобиля</label>
                            <input type="number" class="form-control" [(ngModel)]="trRequest.carAmount" min="0"
                                   id="carAmount" name="carAmount" placeholder="{{ 'Стоимость Автомобиля' | translate  }}"
                                   #carAmount="ngModel">
                        </div>
                        <div class="form-group" *ngIf="canSetPriceFields()">
                            <label for="portersAmount" translate>Стоимость Грузчиков</label>
                            <input type="number" class="form-control" [ngModel]="trRequest.portersAmount" min="0"
                                   (ngModelChange)="portersAmountChanged($event)"
                                   id="portersAmount" name="portersAmount" placeholder="{{ 'Стоимость Работы Грузчиков' | translate  }}"
                                   #portersAmount="ngModel">
                        </div>

                        <div class="checkbox" *ngIf="canSetPriceFields()">
                            <label>
                                <input type="checkbox"
                                       [(ngModel)]="trRequest.isHourlyRate"
                                       id="isHourlyRate" name="isHourlyRate"
                                       #isHourlyRate="ngModel"> <span translate>Почасовая Оплата</span>?
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       [(ngModel)]="trRequest.isCashlessPayment"
                                       id="isCashlessPayment" name="isCashlessPayment"
                                       #isCashlessPayment="ngModel"> <span translate>Безналичный Расчет</span>?
                            </label>
                        </div>

                        <div class="form-group" [ngClass]="{'has-error': text.errors && text.touched}">
                            <label for="text"><span translate>Комментарий</span> *</label>
                            <textarea class="form-control" [(ngModel)]="trRequest.text"
                                      required id="text" name="text"
                                      placeholder="{{ 'Опишите характеристики груза' | translate }}"
                                      #text="ngModel"></textarea>
                            <span class="help-block" *ngIf="text.errors && text.touched" translate>
                                Комментарий обязателен
                            </span>
                        </div>
                        <!--div class="form-group">
                            <label for="phone" translate>E-Mail</label>
                            <input type="text" class="form-control" [(ngModel)]="trRequest.email"
                                   id="email" name="email" placeholder="E-Mail" #email="ngModel">
                        </div-->

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"
                                       [(ngModel)]="trRequest.isNeedPorters"
                                       id="isNeedPorters" name="isNeedPorters"
                                       #isNeedPorters="ngModel"> <span translate="">Нужны Грузчики</span>?
                            </label>
                        </div>

                        <div class="form-group" *ngIf="trRequest.isNeedPorters">
                            <label for="portersNumber" translate>Количество Грузчиков</label>
                            <select id="portersNumber" name="portersNumber" class="form-control"
                                    [(ngModel)]="trRequest.portersNumber">
                                <option [value]="opt.value" *ngFor="let opt of portersNumbers">{{ opt.display }}</option>
                            </select>

                        </div>

                        <!--<div class="form-group" *ngIf="false">-->
                        <!--<label for="phone">Тип Транспортировки</label>-->
                        <!--<select class="form-control" [(ngModel)]="trRequest.transportationType">-->
                        <!--<option [val]="opt.value" *ngFor="let opt of portersNumbers">{{ opt.display }}</option>-->
                        <!--</select>-->

                        <!--</div>-->

                        <div class="form-group" [ngClass]="{'has-error': date.errors && date.touched}">
                            <label for="date"><span translate>Заказать На Дату</span> *</label>
                            <input type="text" class="form-control"
                                   ngui-datetime-picker
                                   required
                                   date-format="YYYY-MM-DD"
                                   date-only="true"
                                   [(ngModel)]="trRequest.date"
                                   id="date" name="date" placeholder="{{ 'Выберите дату' | translate }}" #date="ngModel">

                            <span class="help-block" *ngIf="date.errors && date.touched" translate>
                                Дата обязательна
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="time" translate>Заказать На Время</label>
                            <input type="text" class="form-control"
                                   [textMask]="{mask: timeMask}"
                                   [(ngModel)]="trRequest.time"
                                   id="time" name="time"
                                   placeholder="{{ 'Выберите время' | translate }}" #time="ngModel">
                        </div>
                    </div>

                </div>

                <div class="box box-primary">

                    <div class="box-header with-border">
                        <h5 class="box-title"><i class="fa fa-map-o" aria-hidden="true"></i>&nbsp;<span translate>Карта</span></h5>
                    </div>
                    <div class="box-body">
                        <!--yandex-map-routes-edit
                        [(trRequest)]="trRequest"></yandex-map-routes-edit-->
                        <mapbox-routes-edit [(trRequest)]="trRequest"></mapbox-routes-edit>
                    </div>
                    <div class="box-footer">

                        <a [routerLink]="['/transportation/requests/', trRequest.uuid]" *ngIf="trRequest.uuid && !isOrganisation"
                           class="btn btn-flat btn-default" translate>Отменить</a>
                        <a [routerLink]="['../']" *ngIf="trRequest.uuid && isOrganisation"
                           class="btn btn-flat btn-default" translate>Отменить</a>

                        <confirmation-modal
                                [disabledCondition]="!trRequestForm.form.valid || !isAddressesValid()"
                                [disableSubmitBtnCondition]="formSubmitted"
                                [confirmationSuccess]="submitForm()"
                                [buttonText]="(trRequest.uuid ? 'Сохранить Заявку' : 'Оформить Заявку') | translate"
                                [confirmationBtnClass]="'btn btn-flat pull-right btn-primary'"
                        ></confirmation-modal>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4 col-sm-12">
            <div class="box box-solid">
                <div class="box-header with-border bg-aqua-active color-palette">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>

                    <h3 class="box-title" translate>Примечание</h3>
                </div>

                <div class="box-body gvt-info-body">
                    <dl>
                        <dt translate>Создание/Редактирование заявки</dt>
                        <br>
                        <dd translate>
                            При создании заявки она попадает в список Мои заявки.
                        </dd>
                        <br>
                        <dd translate>
                            Цена для каждой заявки определяется индивидуально в зависимости от расстояния, этажности, массы груза.
                        </dd>
                        <br>
                        <dd translate>
                            После оформления заявки с Вами свяжется наш менеджер для уточнения стоимости перевозки, и Вы сможете подтвердить или отменить заказ.
                        </dd>
                        <br>
                        <br>
                        <dd translate>
                            <span translate>Для указания адреса маршрута выберите точку, нажав рядом с полем для ввода адреса (появится иконка</span>
                            <i class="fa fa-map-marker"></i><span translate>), и нажмите правой кнопкой мыши на карте. Либо нажмите на поле для ввода адреса и введите в сплывающем окне адрес и нажмите кнопку Выбрать.</span>
                        </dd>
                    </dl>
                </div>
            </div>

        </div>
    </div>
</section>
</div>