<section class="content-header">
    <h1>
        <span translate>Отчеты</span>
        <small translate>Выбор Отчета</small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <div class="box">
                <div class="box-header with-border box-header-small">
                    <h4 translate>Выберите Тип Отчета</h4>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="text-center col-md-6 col-sm-6 col-xs-12">
                            <a routerLink="/reports/general">
                                <div class="report-wrapper">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 colxs-12">
                                            <i class="fa fa-file-text-o fa-5x" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-md-12 col-sm-12 colxs-12">
                                            <span class="font-size-16px" translate>Стандартный</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="text-center col-md-6 col-sm-6 col-xs-12">

                            <!--a-->
                                <div class="report-wrapper">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 colxs-12">
                                            <i class="fa fa-cog fa-5x" aria-hidden="true"></i>
                                        </div>
                                        <div class="col-md-12 col-sm-12 colxs-12">
                                            <span class="font-size-16px"><span translate>Конструктор</span> <i translate>(в разработке)</i></span>
                                        </div>
                                    </div>
                                </div>
                            <!--/a-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12">
            <div class="box box-solid">
                <div class="box-header with-border bg-aqua-active color-palette">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>

                    <h3 class="box-title" translate>Примечание</h3>
                </div>

                <div class="box-body gvt-info-body">
                    <dl>
                        <dt translate>Отчеты</dt>
                        <br>
                        <dd translate>Выберите нужный тип отчета
                        </dd>
                        <br>
                        <dd><b translate>Стандартный отчет</b> - <span translate>отчет, содержащий общую информацию по заказам (стоимость, длина маршрута, сотрудник, выполнивший заказ). Стандартный отчет может содержать отфильтрованную по дате заказа, сотруднику, статусу информацию.</span>
                        </dd>
                        <br>
                        <dd><b translate>Конструктор отчета</b> - <span translate>тип отчета, позволяющий выбрать список отображаемых полей в отчете. Данный тип отчета не содержит в себе сумму стоимости заказов и общий километраж, которые доступны в Стандартном отчете. В конструкторе отчета Вы также можете указать параметры для фильтрации заказов.</span>
                        </dd>
                    </dl>
                </div>
            </div>

        </div>
    </div>

</section>