{% load static %}
{% load i18n %}
{% load compress %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>{% block title %}{% endblock %}</title>
        {% block meta_data %}
            <meta name="title" content="Грузоперевозки в Мозыре, Калинковичах и по Гомельской области">
            <meta name="keywords" content="грузоперевозки, перевозка грузов, грузовое такси, мозырь, калинковичи, гомель, Гомельская область, РБ, Беларусь">
            <meta name="description" content="Перевозка грузов в Мозыре, Калинковичах, Гомельской области. Междугородние перевозки по всей Беларуси.">
        {% endblock %}
		<meta name="google-site-verification" content="waotoql_bwl2S-yCmfBNjHy1nSylXeEQYUIs02rcCBo" />
        <meta name="author" content="gruzi-v-taxi.by">
        <link rel="shortcut icon" href="{% static 'images/gvt_icon_64.png' %}" type="image/x-icon">

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Lato:700%7CMontserrat:400,600" rel="stylesheet">

        {% compress css %}
            <link rel="stylesheet" href="{% static 'libs/site/css/bootstrap.min.css' %}"/>
            <link rel="stylesheet"
                  href="{% static 'libs/site/css/font-awesome.min.css' %}"/>

            <!-- Custom stlylesheet -->
            <link type="text/css" rel="stylesheet" href="{% static 'libs/site/css/style.css' %}"/>
            <link type="text/css" rel="stylesheet" href="{% static 'css/gvt_base.css' %}"/>
            {% block extra_css %}
            {% endblock %}
        {% endcompress %}

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
        {% block extra_head %}
        {% endblock %}
        <script type="text/javascript">
            (window.Image ? (new Image()) : document.createElement('img')).src = 'https://vk.com/rtrg?p=VK-RTRG-144285-ujtW';
        </script>
    </head>
	<body>

		<!-- Header -->
		<header id="header" class="transparent-nav">
			<div class="container site-menu-container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a class="logo" href="javascript:void(0);">
							<img src="{% static 'images/gvt_icon_inversed.png' %}" alt="logo">
                            {% trans 'Грузи В ТАКСИ' %}
						</a>
					</div>
					<!-- /Logo -->

					<!-- Mobile toggle -->
					<button class="navbar-toggle">
						<span></span>
					</button>
					<!-- /Mobile toggle -->
				</div>

				<!-- Navigation -->
                <form action="{% url 'set_language' %}" method="post">
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <input type="hidden" name="language" value="{{ LANGUAGE_CODE }}">
                        {% csrf_token %}
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                    <nav id="nav">
                        <ul class="main-menu nav navbar-nav navbar-right">
                            {% for language in languages %}
                            <li class=""><a class="language-switcher {% if LANGUAGE_CODE == language.code %}active-lang{% endif %}" href="javasrcipt:void(0);" data-lang="{{ language.code }}">
                                {{ language.code }}</a>
                            </li>
                            {% endfor %}
                            <li><a href="{% url 'home' %}">{% trans 'Главная' %}</a></li>
                            <li><a href="{% url 'feedback' %}">{% trans 'Отзывы' %}</a></li>
                            <li><a href="{% url 'evacuation' %}">{% trans 'Эвакуация' %}</a></li>
                            <li><a href="{% url 'crane_manipulator' %}">{% trans 'Кран-манипулятор' %}</a></li>
                            <li><a href="{% url 'auto_crane' %}">{% trans 'Автокран' %}</a></li>
{#                            <li><a href="#">{% trans 'Сборные Грузы' %}</a></li>#}
                            <li><a href="{% url 'place_order' %}">{% trans 'Заказать' %}</a></li>
                        </ul>
                    </nav>
                    <!-- /Navigation -->
                </form>

			</div>
		</header>

		{% block content %}
        {% endblock %}

		<!-- Footer -->
		<footer id="footer" class="section">

			<!-- container -->
			<div class="container">

                {% block footer_sponsors %}
                {% endblock %}

				<!-- row -->
				<div class="row">

					<!-- footer logo -->
					<div class="col-md-6">
						<div class="footer-logo">
							<a class="logo" href="javascript:void(0);">
								<img src="{% static 'images/gvt_logo_big.png' %}" alt="logo"> Грузи В ТАКСИ
							</a>
						</div>
					</div>
					<!-- footer logo -->

					<!-- footer nav -->
					<div class="col-md-6">
						<ul class="footer-nav">
							<li><a href="{% url 'home' %}">{% trans 'Главная' %}</a></li>
							<li><a href="{% url 'feedback' %}">{% trans 'Отзывы' %}</a></li>
							<li><a href="{% url 'evacuation' %}">{% trans 'Эвакуация' %}</a></li>
							<li><a href="{% url 'crane_manipulator' %}">{% trans 'Кран-манипулятор' %}</a></li>
							<li><a href="{% url 'auto_crane' %}">{% trans 'Автокран' %}</a></li>
							<li><a href="{% url 'place_order' %}">{% trans 'Заказать' %}</a></li>
						</ul>
					</div>
					<!-- /footer nav -->

				</div>
				<!-- /row -->

				<!-- row -->
				<div id="bottom-footer" class="row">

					<!-- social -->
					<div class="col-md-4 col-md-push-8">
						<ul class="footer-social">
							<li><a href="https://www.instagram.com/evacuator.mozyr/" target="_blank" class="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						</ul>
					</div>
					<!-- /social -->

					<!-- copyright -->
					<div class="col-md-8 col-md-pull-4">
						<div class="footer-copyright">
							<span>&copy; {% trans 'Грузи В ТАКСИ' %}, {% now 'Y' %}</span>
                            <br>
                            <span><i class="fa fa-envelope"></i>&nbsp;<a href="mailto:gvtmozyr@gmail.com">gvtmozyr@gmail.com</a></span>
                            <br>
                            <small>{% trans 'Сайт основан на шаблоне' %} <a target="_blank" href="https://colorlib.com">Colorlib</a></small>
						</div>
					</div>
					<!-- /copyright -->

				</div>
				<!-- row -->

			</div>
			<!-- /container -->

		</footer>
		<!-- /Footer -->

		<!-- preloader -->
		<div id="preloader"><div class="preloader"></div></div>
		<!-- /preloader -->


		<!-- jQuery Plugins -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167992407-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-167992407-1');
        </script>

        {% compress js %}
		<script type="text/javascript" src="{% static 'libs/site/js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'libs/site/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'libs/startbootstrap-grayscale/js/jquery.easing.min.js' %}"></script>

		<script type="text/javascript" src="{% static 'libs/site/js/main.js' %}"></script>
        <script src="{% static 'js/home.js' %}"></script><!-- custom js functions -->

        {% block extra_js %}
        {% endblock %}

        {% endcompress %}

        {% block extra_footer %}
        {% endblock %}
	</body>
</html>
