{% extends 'site_templates/base.html' %}
{% load static %}
{% load i18n %}
{% load compress %}
{% load thumbnail %}
{% load gvt_utils %}
{% block title %}
    {% trans 'Эвакуация Мозырь' %}
{% endblock %}


{% block meta_data %}
    <meta name="title" content="Эвакуатор в Мозыре, Калинковичах">
    <meta name="description" content="Эвакуация автомобилей и автопомощь на дороге в Мозыре, Калинковичах, Гомеле и Гомельской области.">
    <meta name="keywords" content="Эвакуатор, эвакуация автомобилей, автопомощь, мозырь, калинковичи, гомель, Гомельская область, РБ, Беларусь, эвакуатор мозырь">
{% endblock %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/evacuation.css' %}"/>
{% endblock %}

{% block content %}
    <div class="base-gvt-section section">

        <!-- Backgound Image -->
        <div class="bg-image bg-parallax overlay"
             style="background-image:url({% static 'images/trucking/truck3.jpg' %})"></div>
        <!-- /Backgound Image -->

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <ul class="hero-area-tree">
                        <li><a href="{% url 'home' %}">{% trans 'Главная' %}</a></li>
                        <li>{% trans 'Эвакуация' %}</li>
                    </ul>
                    <h1 class="white-text">{% trans 'Эвакуация Авто' %}</h1>

                    {% with header_phones=phone_settings|get_dict_value:"evacuation_header" %}
                        {% for phone in header_phones %}
                            <a href="tel:{{ phone.value|cut:" " }}" class="phone call-phone-link">
                                <h3 class="white-text">
                                    {% if phone.display_value %}
                                        {{ phone.display_value }}
                                    {% else %}
                                        {{ phone.value }}
                                    {% endif %}
                                </h3>
                            </a>
                        {% endfor %}
                    {% endwith %}
                    <p class="white-text">{% trans 'Предоставляем услуги эвакуатора и машины открытой погрузки' %}</p>
                    <a class="gvt-order-button icon-button" href="{% url 'place_order' %}">{% trans 'Заказать' %}</a>
                </div>
            </div>
        </div>

    </div>
    <!-- Contact -->
    <div id="contact" class="section base-section-description">
        <!-- container -->
        <div class="container">
            <div class="section-header">
                <h2 class="text-uppercase">{% trans 'Эвакуатор в Мозыре' %}</h2>
                <p class="lead">
                    {% blocktrans %}
                        Предоставляем услуги эвакуатора по г. Мозырю, Калинковичам, Гомельской области и РБ.
                    {% endblocktrans %}
                    <br>

                    {% blocktrans %}
                        Эвакуируем авто из близлежащего зарубежья (Украина, РФ).
                    {% endblocktrans %}
                </p>
            </div>
            <h4 class="auto-help-text">
                {% blocktrans %}
                    Перевозим и эвакуируем различные виды транспорта:
                {% endblocktrans %}
            </h4>
            <ul class="auto-help-list">
                <li>{% trans 'Седан / Универсал' %}</li>
                <li>{% trans 'Джип / Внедорожник / Кроссовер' %}</li>
                <li>{% trans 'Минивен / Микроавтобус' %}</li>
                <li>{% trans 'Мотоцикл' %}</li>
                <li>{% trans 'Грузовой авто' %}</li>
                <li>{% trans 'Спецтехника / Строительная техника' %}</li>
            </ul>
            <br>
            <h4 class="auto-help-text">
                {% blocktrans %}
                    Если Ваше транспортное средство оказалось неисправным, Вы можете воспользоваться услугой автопомощь на дороге:
                {% endblocktrans %}
            </h4>
            <ul class="auto-help-list">
                <li>{% trans 'Эвакуация легковых авто, грузовиков, микроавтобусов (вытаскивание из грязи, песка, водоемов)' %}</li>
                <li>{% trans 'Прикуривание авто' %}</li>
                <li>{% trans 'Доставка топлива' %}</li>
                <li>{% trans 'Другая автопомощь' %}</li>
            </ul>
            <br>
            <div>
                {% blocktrans %}
                    Заказать услугу эвакуации вы можете позвонив по одному из телефонов, указанных ниже,
                    либо оформив заявку на странице
                {% endblocktrans %}
                <a href="{% url 'place_order' %}">{% trans 'Заказа' %}</a>.
            </div>
            <div class="evacuation-phone-numbers">
                {% with contact_phones=phone_settings|get_dict_value:"evacuation_contacts" %}
                    {% for phone in contact_phones %}
                        <div>
                            <a href="tel:{{ phone.value|cut:" " }}" class="phone call-phone-link">
                                {% if phone.display_value %}
                                    {{ phone.display_value }}
                                {% else %}
                                    {{ phone.value }}
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                {% endwith %}
            </div>
            <p>
                {% blocktrans %}
                    Примеры наших работ вы можете увидеть ниже либо посетив страницу нашего
                {% endblocktrans %}
                <a href="https://www.instagram.com/evacuator.mozyr/" target="_blank">{% trans 'Инстаграм канала' %}</a>.
            </p>
            <br>
        <!-- Instagram photos -->
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    {{ config.evacuation_img_01 | safe }}
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    {{ config.evacuation_img_02 | safe }}
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    {{ config.evacuation_img_03 | safe }}
                </div>

            </div>
        <!-- END Instagram photos -->
        </div>
    </div>

    <script async src="//www.instagram.com/embed.js"></script>
{% endblock %}

{% block footer_sponsors %}
    <div class="row">
        <div class="col-xs-12 text-center evacuation-ad">
            <a href="https://evakyator.by/view/ip-hotetovskiy" target="_blank" title=""><img
                src="https://evakyator.by/sites/default/files/garantiya-kachestva-140х140.png"
                alt="" width="140" height="140" border="0"></a>
        </div>
    </div>
{% endblock %}