{% extends 'site_templates/base.html' %}
{% load static %}
{% load i18n %}
{% load compress %}
{% load thumbnail %}
{% block title %}
    {% trans 'Отзывы' %}
{% endblock %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/feedback.css' %}"/>
{% endblock %}

{% block extra_head %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
{% endblock %}

{% block content %}
    <div class="place-order-section section">

        <!-- Backgound Image -->
        <div class="bg-image bg-parallax overlay"
             style="background-image:url({% static 'images/trucking/truck3.jpg' %})"></div>
        <!-- /Backgound Image -->

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <ul class="hero-area-tree">
                        <li><a href="{% url 'home' %}">{% trans 'Главная' %}</a></li>
                        <li>{% trans 'Отзывы' %}</li>
                    </ul>
                    <h1 class="white-text">{% trans 'Отзывы о компании' %}</h1>
                    <p class="white-text">{% trans 'Здесь вы можете прочитать отзывы о нашей компании и оставить свой отзыв' %}</p>
                    <a class="gvt-feedback-button icon-button" id="showReviewModalBtn"
                       href="javascript:void(0);">{% trans 'Оставить Отзыв' %}</a>
                </div>
            </div>
        </div>

    </div>
    {% if reviews %}
    <div id="contact" class="section feedback">
        <div class="container">
            <div id="carousel-reviews" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    {% for review in reviews %}
                    {% if forloop.counter0|divisibleby:'3' %}
                    <div class="item {% if forloop.counter == 1%}active{% endif %}">
                    {% endif %}
                        <div class="col-md-4 col-sm-6 {% if forloop.counter|divisibleby:'3' %}hidden-sm{% endif %}
                            {% if forloop.counter|divisibleby:'2' and not forloop.counter|divisibleby:'3' %}hidden-xs{% endif %}">
                            <div class="block-text rel zmin">
                                <span>{{ review.name }}</span>
                                <div class="mark">{% trans 'Рейтинг' %}: {% include 'site_templates/home_templates/rating.html' %}</div>
                                <p>{% autoescape off %}{{ review.text|striptags|linebreaksbr }}{% endautoescape %}</p>
                                <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                            </div>
                        </div>
                    {% if forloop.counter|divisibleby:'3' %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% if reviews|length > 3 %}
                <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% else %}
        <br>
        <div class="row">
            <div class="col-md-12 text-center">{% trans 'На данный момент отзывы отсутствуют' %}</div>
        </div>
    {% endif %}
    {% include 'site_templates/home_templates/review_modal.html' %}
{% endblock %}

{% block extra_js %}
    <script src="{% static 'js/utils/animated_success.js' %}"></script><!-- custom js functions -->
    <script src="{% static 'js/utils/render_recaptcha.js' %}"></script><!-- custom js functions -->
    <script src="{% static 'js/utils/validators.js' %}"></script><!-- custom js functions -->
    <script src="{% static 'libs/masks/dist/jquery.mask.min.js' %}"></script><!-- masks -->
    <script type="text/javascript" src="{% static 'js/reviews/home_review.js' %}"></script>
{% endblock %}