{% extends 'site_templates/base.html' %}
{% load static %}
{% load i18n %}
{% load compress %}
{% load thumbnail %}
{% load gvt_utils %}

{% block title %}
    {% trans 'Грузоперевозки Мозырь' %} | {% trans 'Грузи В ТАКСИ' %}
{% endblock %}

{% block content %}
		<!-- Home -->
		<div id="home" class="place-order-section">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url({% static 'images/trucking/truck3.jpg' %})"></div>
			<!-- /Backgound Image -->

			<div class="home-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<h1 class="white-text">{% trans 'ГРУЗОПЕРЕВОЗКИ' %}</h1>
							<h1 class="white-text">{% trans 'ЭВАКУАЦИЯ' %}</h1>
                            <h1 class="white-text">{% trans 'КРАН-МАНИПУЛЯТОР' %} | {% trans 'АВТОКРАН' %}</h1>
                            {% with header_phones=phone_settings|get_dict_value:"home_header" %}
                                {% for phone in header_phones %}
                                    <a href="tel:{{ phone.value|cut:" " }}" class="phone call-phone-link">
                                        <h3 class="white-text">
                                            {% if phone.display_value %}
                                                {{ phone.display_value }}
                                            {% else %}
                                                {{ phone.value }}
                                            {% endif %}
                                        </h3>
                                    </a>
                                {% endfor %}
                            {% endwith %}
							<p class="lead white-text">{% trans 'Осуществляем услуги грузоперевозок по городу Мозырю, Калинковичам, междугородние перевозки.' %}<br>
                            {% trans 'Предоставляем услуги эвакуатора, крана-манипулятора, автокрана.' %}</p>
							<a class="gvt-contacts-button icon-button scroll-to" href="#contacts">{% trans 'Контакты' %}</a>
							<a class="gvt-order-button icon-button" href="{% url 'place_order' %}">{% trans 'Заказать' %}</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /Home -->

		<!-- About -->
		<div id="about" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<div class="col-md-6">
						<div class="section-header">
							<h2>{% trans 'ПОЧЕМУ ВАМ СТОИТ ОБРАТИТЬСЯ К НАМ?' %}</h2>
							<p class="lead">
                                {% blocktrans %}
                                    Мы занимаемся грузоперевозками уже более 6 лет.
                                    В нашей команде профессиональные водители и грузчики.
                                {% endblocktrans %}
                            </p>
						</div>
                        <p class="text-muted">
                            {% blocktrans %}
                                Мы ценим каждого клиента, который обращается к нам.
                            {% endblocktrans %}
                            <br>
                            <br>
                            {% blocktrans %}
                                Из года в год стремимся улучшить качество наших услуг,
                                повышая профессиональность водителей, вежливость операторов, аккуратность грузчиков.
                            {% endblocktrans %}
                            <br>
                            <br>
                            {% blocktrans %}
                                Развиваем услуги грузоперевозок в небольших городах, расширяя охват нашей деятельности,
                                чтобы каждому жителю РБ был предоставлен удобный сервис грузового такси.
                            {% endblocktrans %}
                            <br>
                            <br>
                            {% blocktrans %}
                                Постоянно расширяем спектр услуг грузового такси:
                                от переездов до вывоза строительного мусора, от перевозки стройматериалов до эвакуации вашего авто.
                            {% endblocktrans %}
                            <br>
                            <br>
                            {% blocktrans %}
                                Предоставляем услуги эвакуации авто, грузоперевозки с помощью крана-манипулятора, услуги автокрана
                            {% endblocktrans %}

                        </p>
                        <br>
                        <br>

						<!-- feature -->
						<div class="feature">
                            <i class="feature-icon fa fa-thumbs-o-up" aria-hidden="true"></i>
							<div class="feature-content">
								<h4>{% trans 'Качество, пунктуальность, гарантии' %} </h4>
								<p>{% blocktrans %}
                                    Экономим ваше время и деньги.
                                    Для нас очень важно, чтобы клиент остался доволен.
                                    {% endblocktrans %}</p>
							</div>
						</div>
						<!-- /feature -->

						<!-- feature -->
						<div class="feature">
                            <i class="feature-icon fa fa-hourglass-half" aria-hidden="true"></i>
							<div class="feature-content">
								<h4>{% trans 'Быстрая доставка' %}</h4>
								<p>
                                    {% blocktrans %}
                                    Собственный автопарк. Подбор размера
                                    машины и количества грузчиков
                                    к каждому заказу индивидуально.
                                    {% endblocktrans %}
                                </p>
							</div>
						</div>
						<!-- /feature -->

						<!-- feature -->
						<div class="feature">
                            <i class="feature-icon fa fa-usd" aria-hidden="true"></i>
							<div class="feature-content">
								<h4>{% trans 'Отличные цены на услуги' %}</h4>
								<p>{% trans 'Индивидуальный подход к каждому заказу.' %}</p>
							</div>
						</div>

						<!-- feature -->
						<div class="feature">
                            <i class="feature-icon fa fa-external-link" aria-hidden="true"></i>
							<div class="feature-content">
								<h4>{% trans 'Форма обратной связи' %}</h4>
								<p>{% trans 'Возможность оформить заявку on-line, используя удобную форму заказа. Опишите подробно Ваш груз, и мы сможем подобрать для Вас подходящий автомобиль.' %}</p>
							</div>
						</div>
						<!-- /feature -->

					</div>

					<div class="col-md-6">
						<div class="about-img">
							<img src="{% static 'images/trucking/about_us_384.png' %}" alt="">
						</div>
					</div>

				</div>
				<!-- row -->

			</div>
			<!-- container -->
		</div>
		<!-- /About -->

		<!-- Courses -->
		<div id="courses" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">
					<div class="section-header text-center">
						<h2>{% trans 'УСЛУГИ' %}</h2>
						<p class="lead">{% trans 'Оказываем широкий спектр услуг в сфере грузоперевозок' %}</p>
					</div>
				</div>
				<!-- /row -->

				<!-- courses -->
				<div id="courses-wrapper">

					<!-- row -->
					<div class="row">

						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<span class="course-img">
                                    <img class="svg-white"
                                         src="{% static 'libs/trucking/img/svg/pi-cargo-trolley-2.svg' %}" alt="icon"/>
								</span>
								<span class="course-title">{% trans 'Переезд квартир, офисов, дач любой сложности.' %}
                                {% trans 'Доставка мебели, стройматериалов, бытовой техники.' %}</span>
							</div>
						</div>
						<!-- /single course -->
						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<span class="course-img">
									<img class="svg-white" src="{% static 'libs/trucking/img/svg/pi-warehouse-1.svg' %}" alt="icon"/>
								</span>
								<span class="course-title">{% trans 'Доставка ваших грузов по торговым точкам и складам.' %}</span>
							</div>
						</div>
						<!-- /single course -->
						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<span class="course-img">
									<img class="svg-white" src="{% static 'libs/trucking/img/svg/pi-cargo-elevator-2.svg' %}" alt="icon"/>
{#									<img class="svg-white" src="{% static 'libs/trucking/img/svg/pi-cargo-box-4.svg' %}" alt="icon"/>#}
								</span>
								<span class="course-title">{% trans 'Услуги эвакуатора. Машина открытой погрузки.' %}</span>
							</div>
						</div>
						<!-- /single course -->
						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<span class="course-img">
									<img class="svg-white" src="{% static 'libs/trucking/img/svg/pi-trailor.svg' %}" alt="icon"/>
								</span>
								<span class="course-title">
                                    {% trans 'Перевозка пианино, длинномеров, крупногабаритных грузов.' %}
                                </span>
							</div>
						</div>
						<!-- /single course -->

					</div>
					<!-- /row -->

					<!-- row -->
					<div class="row">
						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<span class="course-img">
									<img class="svg-white" src="{% static 'libs/trucking/img/svg/pi-cargo-energy-2.svg' %}" alt="icon"/>
								</span>
								<span class="course-title">
                                    {% trans 'Вывоз старой мебели и строительного мусора.' %}
                                </span>
							</div>
						</div>
						<!-- /single course -->
						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<span class="course-img">
									<img class="svg-white" src="{% static 'libs/trucking/img/svg/pi-cargo-retail.svg' %}" alt="icon"/>
								</span>
								<span class="course-title">
                                    {% trans 'Сотрудничество с фирмами, предприятиями и магазинами.' %}
                                </span>
							</div>
						</div>
						<!-- /single course -->
						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<span class="course-img">
									<img class="svg-white" src="{% static 'libs/trucking/img/svg/pi-officer.svg' %}" alt="icon"/>
								</span>
								<span class="course-title">
                                    {% trans 'Сборка/разборка мебели.' %}
                                </span>
							</div>
						</div>
						<!-- /single course -->
						<!-- single course -->
						<div class="col-md-3 col-sm-6 col-xs-6">
							<div class="course">
								<span class="course-img">
									<img class="svg-white" src="{% static 'libs/trucking/img/svg/pi-globe-4.svg' %}" alt="icon"/>
								</span>
								<span class="course-title">
                                    {% trans 'Осуществляем междугородние перевозки по Беларуси.' %}
                                </span>
							</div>
						</div>
						<!-- /single course -->
					</div>
					<!-- /row -->

				</div>
				<!-- /courses -->

			</div>
			<!-- container -->

		</div>
		<!-- /Courses -->

		<!-- Call To Action -->
		<div id="cta" class="section">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url({% static 'images/trucking/truck2.jpg' %})"></div>
			<!-- /Backgound Image -->

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">

					<div class="col-md-6">
						<h2 class="white-text">{% trans 'СТОИМОСТЬ' %}</h2>
						<p class="lead white-text">{% trans 'Стоимость перевозки рассчитывается в зависимости от расстояния' %}</p>
						<p class="lead white-text">{% trans 'Стоимость работы грузчика рассчитывается' %}{% trans 'в зависимости от сложности работ' %}</p>
						<p class="lead white-text">{% trans 'Наличный и безналичный расчет' %}</p>
						<p class="lead white-text">{% trans 'Форма обратной связи и Заказ on-line' %}</p>
						<p class="font-size-14px white-text">
                            {% trans 'Офромление заявки on-line не обязывает Вас пользоваться именно нашими услугами' %}
                            <br>
                            {% blocktrans %}
                                Вы лишь даете нам возможность более точно подобрать автомобиль под ваш заказ.
                                Также вы избегаете необходимости отвечать на уточняющие вопросы оператора, тем самым экономите свое время
                            {% endblocktrans %}
                            <br>
                            {% trans 'Если сумма заказа Вас не устроит, после оформления заявки вы сможете отменить заказ по телефону, когда оператор позвонит Вам' %}
                        </p>
						<a class="gvt-order-button icon-button" href="{% url 'place_order' %}">{% trans 'Заказать' %}</a>
					</div>

				</div>
				<!-- /row -->

			</div>
			<!-- /container -->

		</div>
		<!-- /Call To Action -->

		<!-- Why us -->
		<div id="contacts" class="section">

			<!-- container -->
			<div class="container">

				<!-- row -->
				<div class="row">
					<div class="section-header text-center">
						<h2>{% trans 'КОНТАКТЫ' %}</h2>
						<p class="lead">{{ translated_config.work_time }}<br>
                            {% trans 'Для заказа доставки заполните заявку или позвоните по одному из телефонов, указанных ниже' %}</p>
					</div>

					<!-- feature -->
					<div class="col-md-12">
						<div class="feature">
                            <div class="row  phones-services">
                                {% with contact_phones=phone_settings|get_dict_value:"home_contacts" %}
                                    {% for phone in contact_phones %}
                                         <div class="col-md-12 col-xs-12 text-center">
                                            <a href="tel:{{ phone.value|cut:" " }}" class="phone call-phone-link">
                                                <p class="phone-text">
                                                    {% if phone.display_value %}
                                                        {{ phone.display_value }}
                                                    {% else %}
                                                        {{ phone.value }}
                                                    {% endif %}
                                                </p>
                                            </a>
                                        </div>
                                    {% endfor %}
                                {% endwith %}
                            </div>
						</div>
					</div>

				</div>
				<!-- /row -->

				<hr class="section-hr">

                <div class="row" id="requisites">

					<div class="col-md-12 text-center">
						<h3>{% trans 'Реквизиты' %}</h3>
						<p class="lead">ИП Хотетовский И.С.</p>
						<p>
                            247760, Гомельская обл., г. Мозырь,<br>
                            ул.Социалистическая, д.71, кв. 20<br>
                            УНП 491185945<br>
                            Р/с BY23 BELB 3013 1345 9500 2022 6000 в ОАО «Банк БелВэб»<br>
                            Адрес банка: г.Мозырь, ул.Саета, 4<br>
                            БИК 153001226
                        </p>
					</div>

				</div>

				<hr class="section-hr">
		    </div>
        </div>
		<!-- /Why us -->
        <!-- Search engines tags -->
        <div style="display: none;">
            грузоперевозки мозырь
            калинковичи
            грузчики
            переезд
            грузовое такси
            беларусь
            рб
            доставка
            перевозка мебели
            вывоз мусора
            грузоперевозка хойники, гомель, лельчицы, ельск, наровля
            грузовое такси гомельская область
        </div>

        <div style="visibility:hidden; height: 0px; width: 0px; position: absolute; top: 0; left: 0">
            грузоперевозки мозырь
            калинковичи
            грузчики
            переезд
            грузовое такси
            беларусь
            рб
            доставка
            перевозка мебели
            вывоз мусора
            грузоперевозка хойники, гомель, лельчицы, ельск, наровля
            грузовое такси гомельская область
        </div>
{% endblock %}

{% block extra_js %}
{% endblock %}
{% block extra_footer %}
    {% include 'helpers/analytics.html' %}
{% endblock %}