{% extends 'site_templates/base.html' %}
{% load static %}
{% load i18n %}
{% load compress %}
{% load thumbnail %}
{% load gvt_utils %}
{% block title %}
    {% trans 'Кран-манипулятор Мозырь' %}
{% endblock %}


{% block meta_data %}
    <meta name="title" content="Манипулятор в Мозыре, Калинковичах">
    <meta name="description" content="Заказ манипулятора в Мозыре, Калинковичах, Гомеле и Гомельской области.">
    <meta name="keywords"
          content="кран-манипулятор мозырь, манипулятор мозырь, манипулятор калинковичи, услуги кран-манипулятор мозырь, перевозка груза манипулятором мозырь">
{% endblock %}

{% block extra_css %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/manipulation.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'libs/trucking/css/magnific-popup.css' %}"/>
{% endblock %}

{% block content %}
    <div class="base-gvt-section section">

        <!-- Backgound Image -->
        <div class="bg-image bg-parallax overlay"
             style="background-image:url({% static 'images/trucking/truck3.jpg' %})"></div>
        <!-- /Backgound Image -->

        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 text-center">
                    <ul class="hero-area-tree">
                        <li><a href="{% url 'home' %}">{% trans 'Главная' %}</a></li>
                        <li>{% trans 'Кран-манипулятор' %}</li>
                    </ul>
                    <h1 class="white-text">{% trans 'Услуги крана-манипулятора' %}</h1>

                    {% with header_phones=phone_settings|get_dict_value:"crane_header" %}
                        {% for phone in header_phones %}
                            <a href="tel:{{ phone.value|cut:" " }}" class="phone call-phone-link">
                                <h3 class="white-text">
                                    {% if phone.display_value %}
                                        {{ phone.display_value }}
                                    {% else %}
                                        {{ phone.value }}
                                    {% endif %}
                                </h3>
                            </a>
                        {% endfor %}
                    {% endwith %}
                    <p class="white-text">{% trans 'Предоставляем услуги крана-манипулятора и машины открытой погрузки' %}</p>
                    <a class="gvt-order-button icon-button" href="{% url 'place_order' %}">{% trans 'Заказать' %}</a>
                </div>
            </div>
        </div>

    </div>

    <div id="contact" class="section base-section-description manipulator-section">
        <!-- container -->
        <div class="container">
            <div class="section-header">
                <h2 class="text-uppercase">{% trans 'Кран-манипулятор в Мозыре' %}</h2>
                <p class="lead">
                    {% blocktrans %}
                        Предоставляем услуги грузового автомобиля с краном-манипулятором по г. Мозырю, Калинковичам,
                        Гомельской области и РБ.
                    {% endblocktrans %}
                    <br>
                    <br>

                    {% blocktrans %}
                        Автомобиль с краном-манипулятором - универсальное средство для перевозки стройматериалов,
                        крупногабаритного груза и многого другого.
                    {% endblocktrans %}
                    <br>
                    <br>

                    {% blocktrans %}
                        Грузоподъемность автомобиля составляет 15 тонн, крана-манипулятора - 4.5 тонны.
                    {% endblocktrans %}
                </p>
            </div>

            <h4 class="auto-help-text">
                {% blocktrans %}
                    Мы предоставим Вам автомобиль с краном-манипулятором, если Вам необходимо перевезти:
                {% endblocktrans %}
            </h4>
            <ul class="auto-help-list">
                <li>{% trans 'Стройматериалы (блоки, плиты и т.д.)' %}</li>
                <li>{% trans 'Гараж, беседку, контейнер, небольшую постройку, предназначенную для перевозки' %}</li>
                <li>{% trans 'Спецтехнику' %}</li>
                <li>{% trans 'Авто-мото запчасти' %}</li>
                <li>{% trans 'Пиломатериалы' %}</li>
                <li>{% trans 'Негабаритный груз' %}</li>
            </ul>
            <br>
            <div>
                {% blocktrans %}
                    Заказать автомобиль кран-манипулятор вы можете позвонив по одному из телефонов, указанных ниже,
                    либо оформив заявку на странице
                {% endblocktrans %}
                <a href="{% url 'place_order' %}">{% trans 'Заказа' %}</a>.
            </div>
            <div class="evacuation-phone-numbers">

                {% with contact_phones=phone_settings|get_dict_value:"crane_contacts" %}
                    {% for phone in contact_phones %}
                        <div>
                            <a href="tel:{{ phone.value|cut:" " }}" class="phone call-phone-link">
                                {% if phone.display_value %}
                                    {{ phone.display_value }}
                                {% else %}
                                    {{ phone.value }}
                                {% endif %}
                            </a>
                        </div>
                    {% endfor %}
                {% endwith %}
            </div>
            <p>
                {% blocktrans %}
                    Примеры наших работ вы можете увидеть ниже.
                {% endblocktrans %}
            </p>
            <br>
            <div class="row grid-of-images">
                <div class="col-xs-12 text-center">
                    <div class="gvt-manipulation-images-container">
                    {% for image in images %}
                        <a class="image" href="{% static image.source_image %}">
                            <img src="{% static image.thumbnail %}" alt="Кран-манипулятор">
                        </a>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <!-- custom js functions -->
    <script src="{% static 'libs/trucking/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/manipulation.js' %}"></script>
{% endblock %}