{% extends 'site_templates/base.html' %}
{% load static %}
{% load i18n %}
{% load compress %}
{% load thumbnail %}

{% block title %}
    {% trans 'Заказать' %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'libs/datepicker/css/datepicker.css' %}"/><!-- datepicker -->
    <link rel="stylesheet" href="{% static 'libs/timepicker/css/timepicker.css' %}"/><!-- timepicker -->

    <link type="text/css" rel="stylesheet" href="{% static 'css/place_order.css' %}"/>
{% endblock %}

{% block extra_head %}
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.css" rel="stylesheet" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.0/mapbox-gl.js"></script>
    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
{% endblock %}

{% block content %}

		<!-- Hero-area -->
		<div class="place-order-section section">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url({% static 'images/trucking/truck3.jpg' %})"></div>
			<!-- /Backgound Image -->

			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center">
						<ul class="hero-area-tree">
							<li><a href="{% url 'home' %}">{% trans 'Главная' %}</a></li>
							<li>{% trans 'Заказ' %}</li>
						</ul>
						<h1 class="white-text">{% trans 'ОФОРМИТЬ ЗАЯВКУ' %}</h1>
                        <p class="white-text">{% blocktrans %}
                                После заполнения заявки с Вами свяжется наш менеджер для уточнения стоимости перевозки, и Вы сможете подтвердить или отменить заказ.
                            {% endblocktrans %}</p>

					</div>
				</div>
			</div>

		</div>
		<!-- /Hero-area -->

		<!-- Contact -->
		<div id="contact" class="section">
			<!-- container -->
			<div class="container">
                <!-- contact form -->
                <div class="contact-form">
                    {% include 'site_templates/home_templates/transportation_req_form.html' %}
				</div>
			</div>
			<!-- /container -->
		</div>
		<!-- /Contact -->
        {% include 'site_templates/home_templates/form_submit_modal.html' %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'libs/typeahead/bloodhound.min.js' %}"></script><!-- datepicker -->
    <script src="{% static 'libs/typeahead/typeahead.bundle.min.js' %}"></script><!-- datepicker -->
    <script src="{% static 'libs/typeahead/typeahead.jquery.min.js' %}"></script><!-- datepicker -->
    <script src="{% static 'libs/datepicker/js/bootstrap-datepicker.min.js' %}"></script><!-- datepicker -->
    <script src="{% static 'libs/timepicker/js/bootstrap-timepicker.js' %}"></script><!-- datepicker -->
    <script src="{% static 'libs/datepicker/js/bootstrap-datepicker.ru.min.js' %}"></script><!-- datepicker locale -->
    <script src="{% static 'libs/masks/dist/jquery.mask.min.js' %}"></script><!-- masks -->

    <script src="{% static 'js/utils/animated_success.js' %}"></script><!-- custom js functions -->
    <script src="{% static 'js/utils/render_recaptcha.js' %}"></script><!-- custom js functions -->
    <script src="{% static 'js/utils/validators.js' %}"></script><!-- custom js functions -->

    <script src="{% static 'js/place_order.bundle.js' %}"></script><!-- custom js functions -->
{% endblock %}
