<section class="content-header">
    <h1>
        <span translate>Организации</span>&nbsp;<small
            translate>Список Подключенных Компаний</small>&nbsp;<span
            class="label gvt-label-primary font-size-14px">{{ totalItems }}</span>
    </h1>
</section>
<section class="content organisations-list">
    <div *ngIf="!loadingComplete" class="row">
        <div class="col-md-12 text-center">
            <span class="font-size-20px" translate="">Идет загрузка организаций</span>&nbsp;<loader></loader>
        </div>
    </div>
    <div [hidden]="!loadingComplete">
        <div class="box">
            <div class="box-header with-border box-header-small">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12 pull-right">
                        <a href="javascript:void(0);"
                           routerLink="/organisations/create"
                           class="btn btn-primary btn-flat pull-right create-tr-request-btn">
                            <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
                            <span translate>Добавить</span>
                        </a>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <h4 translate>Фильтрация</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group" *ngIf="orgStatuses && orgStatuses.length">
                            <select
                                    class="form-control" (ngModelChange)="filterByStatus($event)" [(ngModel)]="filterStatus">
                                <option *ngFor="let status of orgStatuses" [value]="status.value">{{ status.display }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon cursor-click" (click)="filterSearch = ''; filterBySearch();">
                                <i class="fa fa-times" aria-hidden="true"></i></span>
                            <input type="text" [(ngModel)]="filterSearch" class="form-control"
                                   placeholder="{{ 'Поиск по названию организации' | translate }}">
                            <span class="input-group-addon cursor-click" (click)="filterBySearch()">
                                <i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">

                <div class="row" *ngIf="!organisationsList || !organisationsList.length">
                    <div class="col-md-12">
                        <div class="callout callout-info font-size-14px">
                            <h4 translate>Нет Организаций</h4>

                            <p translate>Организации отсутствуют.</p>
                        </div>
                    </div>
                </div>
                <div class="table-responsive" *ngIf="organisationsList && organisationsList.length">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th translate>Название/Статус/Вебсайт</th>
                            <th translate>E-Mail</th>
                            <th translate>Телефон</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let org of organisationsList; let i = index">
                                <td>{{ (currentPage - 1) * 10 + i + 1 }}</td>
                                <td>
                                    <div class="org-name-wrapper">
                                        <div class="org-avatar-wrapper">
                                            <img class="org-avatar" [src]="org.logo || DEFAULT_ORG_AVATAR_IMG">
                                        </div>
                                        <div class="org-name">
                                            <a [routerLink]="['/organisations', org.uuid, 'orders']">
                                                <b class="font-size-14px">{{ org.name }}</b>
                                            </a>
                                            <br>
                                            <span class="org-status label color-palette" [ngClass]="{
                                                  'bg-yellow-active': org.status === OrganisationStatuses.DISABLED,
                                                  'bg-green-active': org.status === OrganisationStatuses.ACTIVE
                                                  }">{{ org.statusDisplay }}</span>
                                            <br *ngIf="org.website">
                                            <a href="{{ org.website }}" target="_blank"
                                               *ngIf="org.website">{{ org.website }}</a>
                                        </div>
                                    </div>
                                </td>
                                <td><a href="mailto:{{ org.contactEmail }}" target="_blank"
                                           *ngIf="org.website">{{ org.contactEmail }}</a>
                                    <span class="gvt-text-gray font-size-14px" *ngIf="!org.contactEmail" translate="">Не указан</span>
                                </td>
                                <td>
                                    <a href="tel:{{ org.contactPhone }}" target="_blank"
                                       *ngIf="org.contactPhone">{{ org.contactPhone }}</a>
                                    <span class="gvt-text-gray font-size-14px" *ngIf="!org.contactPhone" translate="">Не указан</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="font-size-14px">
                    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage"
                                [previousText]="'Предыдущая' | translate"
                                [nextText]="'Следующая' | translate"
                                [maxSize]="5"
                                [boundaryLinks]="true"
                                [firstText]="'Первая' | translate"
                                [lastText]="'Последняя' | translate"
                                (pageChanged)="pageChanged($event)"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>