{% load i18n %}
<div style="padding: 10px 30px;">
    <h1>Грузи В ТАКСИ</h1>
    <h2>{% trans 'Заявка на грузоперевозку' %}</h2>
    <h4>{% trans 'Добрый день!' %}</h4>
    <h4>{% trans 'Вы оформили заявку на перевозку груза' %} {{ req.created | date:"D d M Y" }}. {% trans 'Данные по заявке' %}: </h4>
    <table class="table" style="border: 1px solid grey; border-collapse: collapse; width: 80%;">
        <tbody>
            <tr>
                <td style="border: 1px solid grey; padding: 10px;"><b>{% trans 'Номер телефона' %}:</b></td>
                <td style="border: 1px solid grey; padding: 10px;">+375 {{ phone }}</td>
            </tr>
            {% if email %}
            <tr>
                <td style="border: 1px solid grey; padding: 10px;"><b>E-Mail:</b></td>
                <td style="border: 1px solid grey; padding: 10px;">{{ email }}</td>
            </tr>
            {% endif %}
            {% if req.date %}
            <tr>
                <td style="border: 1px solid grey; padding: 10px;"><b>{% trans 'Дата' %}:</b></td>
                <td style="border: 1px solid grey; padding: 10px;">{{ req.date }}</td>
            </tr>
            {% endif %}
            {% if req.time %}
            <tr>
                <td style="border: 1px solid grey; padding: 10px;"><b>{% trans 'Время' %}:</b></td>
                <td style="border: 1px solid grey; padding: 10px;">{{ req.time }}</td>
            </tr>
            {% endif %}
            {% if req.is_need_porters %}
            <tr>
                <td style="border: 1px solid grey; padding: 10px;"><b>{% trans 'Количество грузчиков' %}:</b></td>
                <td style="border: 1px solid grey; padding: 10px;">{{ req.porters_number }}</td>
            </tr>
            {% endif %}
            {% for point in req.points.all %}
            <tr>
                <td style="border: 1px solid grey; padding: 10px;"><b>
                {% if forloop.first %}
                    {% trans 'Откуда' %}
                {% elif forloop.last %}
                    {% trans 'Куда' %}
                {% else %}
                    {% trans 'Далее' %}
                {% endif %}:</b></td>
                <td style="border: 1px solid grey; padding: 10px;">{{ point.address }}
                {% if point.floor %}, {% trans 'этаж' %} {{ point.floor }}{% endif %}</td>
            </tr>
            {% endfor %}
            <tr>
                <td style="border: 1px solid grey; padding: 10px;"><b>{% trans 'Комментарий' %}:</b></td>
                <td style="border: 1px solid grey; padding: 10px;">{% autoescape off %}{{ req.text|linebreaks }}{% endautoescape %}</td>
            </tr>
        </tbody>
    </table>
    <h4>{% trans 'Благодарим Вас за выбор нашей компании.' %} <br>{% trans 'С Вами свяжется наш менеджер для уточнения стоимости перевозки.' %}</h4>
    {% include 'emails/signature.html' %}
</div>