{% load i18n %}
<style>
    .table {
        border: 1px solid grey;
        border-collapse: collapse; 
        width: 80%;
    }
    .table td {
        border: 1px solid grey;
        padding: 10px;
    }
</style>
<div style="padding: 10px 30px;">
    <h1>Грузи В ТАКСИ</h1>
    <h2>Заявка на перевозку груза</h2>
    <h4>Добрый день!</h4>
    <h4>Была оформлена заявка на перевозку груза {{ req.created | date:"D d M Y" }}. Данные по заявке: </h4>
    <table class="table">
        <tbody>
            <tr>
                <td><b>Номер телефона:</b></td>
                <td><a href="tel:+375{{ phone }}">+375 {{ phone }}</a></td>
            </tr>
            {% if email %}
            <tr>
                <td><b>E-Mail:</b></td>
                <td><a href="mailto:{{ email }}">{{ email }}</a></td>
            </tr>
            {% endif %}
            {% if req.date %}
            <tr>
                <td><b>Дата:</b></td>
                <td>{{ req.date }}</td>
            </tr>
            {% endif %}
            {% if req.time %}
            <tr>
                <td><b>Время:</b></td>
                <td>{{ req.time }}</td>
            </tr>
            {% endif %}
            {% if req.is_need_porters %}
            <tr>
                <td><b>Количество грузчиков:</b></td>
                <td>{{ req.porters_number }}</td>
            </tr>
            {% endif %}
            {% for point in req.points.all %}
            <tr>
                <td><b>
                {% if forloop.first %}
                    Откуда
                {% elif forloop.last %}
                    Куда
                {% else %}
                    Далее
                {% endif %}:</b></td>
                <td>{{ point.address }}
                {% if point.floor %}, этаж {{ point.floor }}{% endif %}</td>
            </tr>
            {% endfor %}
            <tr>
                <td><b>Комментарий:</b></td>
                <td>{% autoescape off %}{{ req.text|linebreaks }}{% endautoescape %}</td>
            </tr>
        </tbody>
    </table>
    <h4>Необходимо ответить на заявку и перевести заявку в соответствующий статус в системе управления перевозками <a href="http://gruzi-v-taxi.by/app">по ссылке</a>.</h4>
    {% include 'emails/signature.html' %}
</div>