{% load i18n %}
<div style="color: grey;">
    <br>
    --
    <br>
    <div>
        <img src="http://gruzi-v-taxi.by/static/images/logo.png">
    </div>
    <br>
    {% trans 'С уважением,' %}
    <br>
    {% trans 'Команда Грузи В ТАКСИ' %}
    <br>
    {% trans 'Мозырь, Республика Беларусь' %}
    <br>
    <br>
    www: <a href="http://gruzi-v-taxi.by">http://gruzi-v-taxi.by</a><br>
    e-mail: <a href="mailto:gvtmozyr@gmail.com">gvtmozyr@gmail.com</a><br>
    <br>
    mobile vel: <a href="tel:+375299915888">+375 (29) 99 15 888</a><br>
    mobile mts: <a href="tel:+375297317572">+375 (29) 731 75 72</a><br>
</div>