{% extends 'admin/change_form.html' %}
{% load static %}
{% load gvt_utils %}
{% block after_field_sets %}
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <div id="map" style="min-height: 400px; width: 100%;">
    </div>
    <script>
        var startCoords =
            {% if start_coords %}
                [parseFloat('{{ start_coords.latitude|js_float }}'),
                    parseFloat('{{ start_coords.longitude|js_float }}')]
            {% else %}
                []
                {% endif %};

        var nextCoords =[
            {% if next_coords %}
                {% for coords in next_coords %}
                [parseFloat('{{ coords.latitude|js_float }}'),
                    parseFloat('{{ coords.longitude|js_float }}')]
                {% if not forloop.last %},{% endif %}
                {% endfor %}
            {% endif %}];

    </script>
<script src="{% static 'js/admin/transportation/change_req.js' %}"></script>
{% endblock %}