<section class="content-header">
    <h1>
        <span translate>Организация</span>

        <small *ngIf="organisation && !organisation.uuid" translate>Создание</small>
        <small *ngIf="organisation && organisation.uuid" translate>Редактирование</small>
    </h1>
    <div class="back-to-list" *ngIf="account.isManager()">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;
        <a routerLink="/organisations/list" translate>Список Организаций</a>
    </div>
</section>
<section class="content organisation-edit-details">
    <div class="row">
        <div class="col-lg-8 col-sm-12">
            <form role="form" #organisationForm="ngForm" *ngIf="organisation">
                <div class="box box-primary">

                    <div class="box-header with-border">
                        <h5 class="box-title"><i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;<span translate>Форма Организации</span></h5>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-12">

                                <div class="form-group" [ngClass]="{'has-error': name.errors && name.touched}">
                                    <label for="name"><span translate>Название</span> *</label>

                                    <input type="text" required class="form-control" [(ngModel)]="organisation.name"
                                            id="name" name="name" placeholder="{{ 'Название организации' | translate }}" #name="ngModel">
                                    <span class="help-block" *ngIf="name.errors && name.touched" translate>
                                        Название организации обязательно
                                    </span>
                                </div>

                                <div class="form-group">
                                    <label for="description"><span translate>Описание</span></label>

                                    <textarea type="text" class="form-control" [(ngModel)]="organisation.description"
                                            id="description" name="description" placeholder="{{ 'Описание' | translate }}"
                                              #description="ngModel">
                                    </textarea>
                                </div>

                                <div class="form-group">
                                    <label for="website"><span translate>Веб-сайт</span></label>

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-external-link" aria-hidden="true"></i>
                                        </span>
                                        <input type="url" class="form-control" [(ngModel)]="organisation.website"
                                                id="website" name="website" placeholder="{{ 'Сайт организации (https://example.com)' | translate }}"
                                                  #website="ngModel"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="website"><span translate>Контактный Телефон</span></label>

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                        </span>
                                        <input type="text" [textMask]="{mask: phoneMask}" class="form-control"
                                               [(ngModel)]="organisation.contactPhone"
                                                id="contactPhone" name="contactPhone" placeholder="{{ 'Контактный номер телефона (+375(25) 111-11-11)' | translate }}"
                                                  #contactPhone="ngModel"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="website"><span translate>Контактный E-Mail</span></label>

                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                        </span>
                                        <input type="text" class="form-control" [(ngModel)]="organisation.contactEmail"
                                                id="contactEmail" name="contactEmail" placeholder="{{ 'Контактный E-mail организации (contacts@example.com)' | translate }}"
                                                  #contactEmail="ngModel"/>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="box-footer">
                        <a routerLink="/organisations/list" *ngIf="!organisation.uuid"
                           class="btn btn-flat btn-default" translate>Отменить</a>
                        <a [routerLink]="['/organisations', organisation.uuid, 'orders']" *ngIf="organisation.uuid"
                           class="btn btn-flat btn-default" translate>Отменить</a>

                        <confirmation-modal
                                [disabledCondition]="!organisationForm.form.valid"
                                [disableSubmitBtnCondition]="formSubmitted"
                                [confirmationSuccess]="submitForm()"
                                [buttonText]="(!organisation.uuid ? 'Добавить' : 'Сохранить') | translate"
                                [confirmationBtnClass]="'btn btn-flat pull-right btn-primary'"
                        ></confirmation-modal>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-lg-4 col-sm-12">
            <div class="box box-solid">
                <div class="box-header with-border bg-aqua-active color-palette">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>

                    <h3 class="box-title" translate>Примечание</h3>
                </div>

                <div class="box-body gvt-info-body">
                    <dl>
                        <dt translate>Редактирование организации</dt>
                        <br>
                        <dd translate>
                            При редактировании организации вы можете изменить название, описание, контактную информацию Организации.
                        </dd>
                        <br *ngIf="account.isManager()">
                        <dd translate *ngIf="(!organisation || !organisation.uuid) && account.isManager()">
                            После создания Организации добавьте сотрудников (администратора, менеджера, бухгалтера).
                        </dd>
                    </dl>
                </div>
            </div>

        </div>
    </div>
</section>
