<div *ngIf="!loadingComplete" class="row">
    <div class="col-md-12 text-center">
        <span class="font-size-20px" translate="">Идет загрузка сотрудников организации</span>&nbsp;<loader></loader>
    </div>
</div>

<div [hidden]="!loadingComplete">
    <div class="row" *ngIf="!memberList || !memberList.length">
        <div class="col-md-12">
            <div class="callout callout-info font-size-14px">
                <h4 translate>Нет участников</h4>

                <p translate>Участники организации отсутствуют.</p>
            </div>
        </div>
    </div>
</div>