<div class="row" *ngIf="routeTime">
    <div class="col-md-12 col-sm-12">
        <label translate>Приблизительное время в пути</label>: {{ routeTime }}
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="gvt-map-wrapper">
            <div id="map" class="gvt-map"></div>
        </div>
    </div>
</div>