<!--
    Show Button with confirmation required action.
-->
<button type="button"
        [disabled]="disabledCondition"
        (click)="confirmationModalInstance.show()"
        [disableSubmitBtn]="disableSubmitBtnCondition"
        class="{{ confirmationBtnClass }}">
    {{ buttonText }}
</button>

<div class="modal modal-default fade confirmation-modal" bsModal tabindex="-1" role="dialog"
     aria-labelledby="confirmationModalInstance" aria-hidden="true" #confirmationModalInstance="bs-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header color-palette bg-blue-active text-center">
                <button type="button" (click)="confirmationModalInstance.hide()"
                        class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ confirmationHeader }}</h4>
            </div>

            <div class="modal-body text-left">
                <div [innerHTML]="confirmationBody"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-default pull-left"
                        (click)="confirmationModalInstance.hide()" data-dismiss="modal">{{ confirmationNo }}</button>
                <button type="button" (click)="confirmationSuccess(); confirmationModalInstance.hide();"
                        class="btn btn-flat pull-right btn-primary"
                    [disableSubmitBtn]="disableSubmitBtnCondition">{{ confirmationYes }}</button>
            </div>
        </div>
    </div>
</div>