{% load static %}
<!-- Extra JS: including GVT-app files and Angular2 files -->
<!--script src="{% static 'gvt-app/node_modules/core-js/client/shim.min.js' %}"></script-->
<script src="{% static 'gvt-app/node_modules/zone.js/dist/zone.js' %}"></script>
<script src="{% static 'gvt-app/node_modules/reflect-metadata/Reflect.js' %}"></script>
<script src="{% static 'gvt-app/dist/bundle.js' %}"></script>
<!--script src="{% static 'gvt-app/node_modules/systemjs/dist/system.src.js' %}"></script>
<script src="{% static 'gvt-app/systemjs.config.js' %}"></script-->
<script src="{% static 'libs/moment/moment-with-locales.js' %}"></script>

<!--script>
  System.import('app').catch(function(err){
      console.error(err);
  });
  moment.locale('ru');
</script-->