<section class="content-header">
    <h1>
        Грузи В ТАКСИ
        <small translate>Панель управления</small>
    </h1>
</section>
<section class="content gvt-dashboard">
    <p translate>
        Панель управления позволяет оперативно получить доступ к наиболее часто запрашиваемым ресурсам
    </p>
    <div class="row">
        <div class="gvt-dashboard-item col-md-4 col-sm-6 col-xs-12 text-center">
            <a routerLink="/accounts/profile" class="gvt-text-gray dashboard-item">
                <i class="fa fa-user fa-5x"></i>
                <h1>
                    <span translate>Мой Профиль</span>
                </h1>
            </a>
            <p translate>
                Перейдите в Мой Профиль для настройки информации своего аккаунта
            </p>
        </div>
        <div class="gvt-dashboard-item col-md-4 col-sm-6 col-xs-12 text-center">
            <a routerLink="/transportation/requests/create" class="gvt-text-gray dashboard-item">
                <i class="fa fa-file-o fa-5x" aria-hidden="true"></i>
                <h1>
                    <span translate>Оформить Заказ</span>
                </h1>
            </a>
            <p translate>
                Создайте заказ для перевозки необходимого Вам груза, подробно описав груз, дату/время, точки маршрута
            </p>
        </div>
        <div class="gvt-dashboard-item col-md-4 col-sm-6 col-xs-12 text-center">
            <a routerLink="/transportation/requests/list/my" class="gvt-text-gray dashboard-item">
                <i class="fa fa-list-alt fa-5x" aria-hidden="true"></i>
                <h1>
                    <span translate>Мои Заказы</span>
                </h1>
            </a>
            <p translate>
                Откройте список Ваших заказов. Отсортируйте заказы используя Фильтр - это поможет быстро найти информацию о нужном заказе
            </p>
        </div>
        <div class="gvt-dashboard-item col-md-4 col-sm-6 col-xs-12 text-center" *ngIf="account.user && account.isManagerOrDriver()">
            <a routerLink="/reports/library" class="gvt-text-gray dashboard-item">
                <i class="fa fa-file-excel-o fa-5x" aria-hidden="true"></i>
                <h1>
                    <span translate>Отчеты</span>
                </h1>
            </a>
            <p translate>
                Получите отчет о выполенных заказах с подробной информацией о суммах с фильтрацией по различным параметрам
            </p>
        </div>
        <div class="gvt-dashboard-item col-md-4 col-sm-6 col-xs-12 text-center" *ngIf="account.user && account.isManager()">
            <a routerLink="/accounts/employees/list" class="gvt-text-gray dashboard-item">
                <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                <h1>
                    <span translate>Сотрудники</span>
                </h1>
            </a>
            <p translate>
                Управляйте статусами и ролями сотрудников в системе
            </p>
        </div>
        <div class="gvt-dashboard-item col-md-4 col-sm-6 col-xs-12 text-center" *ngIf="account.user && account.isManager()">
            <a routerLink="/reviews/list" class="gvt-text-gray dashboard-item">
                <i class="fa fa-star fa-5x" aria-hidden="true"></i>
                <h1>
                    <span translate>Отзывы</span>
                </h1>
            </a>
            <p translate>
                Получайте фидбек от пользователей сайта
            </p>
        </div>
    </div>
</section>
