<ng2-toasty></ng2-toasty>
<div class="container-fluid gvt-app-wrapper wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a routerLink="/home" class="logo font-size-18px">
            <img [src]="LOGO_IMG" class="gvt-logo" alt="LOGO">
            <img [src]="LOGO_IMG_INVERSED" class="gvt-logo-inversed" alt="LOGO">
            Грузи В ТАКСИ
        </a>

        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li class="cursor-click text-center tr-list-shorticon"
                        *ngIf="account.user && transportationRequests.statistics && account.isManagerOrDriver()">
                        <a [routerLink]="account.isManager() ? '/transportation/requests/list/all' : '/transportation/requests/list/assigned'">
                            <i class="fa fa-table" aria-hidden="true"></i>
                            <span class="label bg-red" [ngClass]="{
                                    'bg-red': !!transportationRequests.statistics.new,
                                    'bg-blue': !transportationRequests.statistics.new && !!transportationRequests.statistics.accepted,
                                    'bg-blue-active': !transportationRequests.statistics.new && !transportationRequests.statistics.accepted && transportationRequests.statistics.inProgress
                                }">
                                {{ transportationRequests.statistics.new || transportationRequests.statistics.accepted || transportationRequests.statistics.inProgress }}
                            </span>
                        </a>
                    </li>
                    <li class="cursor-click set-language-form text-center" [ngClass]="{'active': 'ru' === locale}" (click)="'ru' !== locale && ruLangForm.submit()">
                        <form action="/i18n/setlang/" method="POST" #ruLangForm>
                            <input name="next" type="hidden" value="">
                            <input type="hidden" name="language" value="ru">
                            <span>RU</span>
                        </form>
                    </li>
                    <li class="cursor-click set-language-form text-center" [ngClass]="{'active': 'en' === locale}" (click)="'en' !== locale && enLangForm.submit()">
                        <form action="/i18n/setlang/" method="POST" #enLangForm>
                            <input name="next" type="hidden" value="">
                            <input type="hidden" name="language" value="en">
                            <span>EN</span>
                        </form>
                    </li>
                    <li class="cursor-click set-language-form text-center" [ngClass]="{'active': 'be' === locale}" (click)="'be' !== locale && beLangForm.submit()">
                        <form action="/i18n/setlang/" method="POST" #beLangForm>
                            <input name="next" type="hidden" value="">
                            <input type="hidden" name="language" value="be">
                            <span>BE</span>
                        </form>
                    </li>
                    <li class="dropdown user user-menu" dropdown *ngIf="account.user">
                        <a class="dropdown-toggle cursor-click" id="userMenu" dropdownToggle>
                            <img [src]="account.user.userCard.photo || DEFAULT_AVATAR_IMG" class="user-image" alt="User Image">
                            <span class="hidden-xs">{{ account.user.firstName }} {{ account.user.lastName }}</span>
                        </a>
                        <ul class="dropdown-menu" *dropdownMenu>
                            <!-- User image -->
                            <li class="user-header">
                                <img [src]="account.user.userCard.photo || DEFAULT_AVATAR_IMG" class="img-circle" alt="User Image">

                                <p>
                                    {{ account.user.firstName }} {{ account.user.lastName }}
                                    <small><span translate>Присоединился</span>: {{ account.user.dateJoined | date : "dd/MM/y" }}</small>
                                </p>
                            </li>
                            <li class="user-body text-center" *ngIf="account.user.employeeCard && account.user.employeeCard.role">
                                <label class="label label-info">{{ account.user.employeeCard.roleDisplay }}</label>
                            </li>

                            <li class="user-footer">
                                <div class="pull-left">
                                    <a routerLink="/accounts/profile" class="btn btn-default btn-flat" translate>Профиль</a>
                                </div>
                                <div class="pull-right">
                                    <a href="/logout?next=/login"
                                       class="btn btn-default btn-flat" translate>Выйти</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel" *ngIf="account.user">
                <div class="pull-left image">
                    <img [src]="account.user.userCard.photo || DEFAULT_AVATAR_IMG" class="img-circle" alt="Avatar">
                </div>
                <div class="pull-left info">
                    <p>{{ account.user.firstName }} {{ account.user.lastName }}</p>
                    <small>{{ account.user.dateJoined | date : "dd/MM/y" }}</small>
                </div>
            </div>

            <ul class="sidebar-menu">
                <li class="header" translate>Меню</li>

                <li>
                    <a routerLink="/home" routerLinkActive="active-menu-link">
                        <i class="fa fa-th"></i> <span translate>Быстрая Панель</span>
                    </a>
                </li>

                <li>
                    <a routerLink="/accounts/profile" routerLinkActive="active-menu-link">
                        <i class="fa fa-user"></i> <span translate>Мой Профиль</span>
                    </a>
                </li>

                <li *ngIf="account.user && account.isManager()">
                    <a routerLink="/accounts/employees/list" routerLinkActive="active-menu-link">
                        <i class="fa fa-users"></i> <span translate>Сотрудники</span>
                    </a>
                </li>

                <li class="treeview" dropdown>
                    <a dropdownToggle class="cursor-click">
                        <i class="fa fa-tasks" aria-hidden="true"></i> <span translate>Грузоперевозки</span>

                        <span class="pull-right-container" *ngIf="transportationRequests.statistics">
                            <small class="label pull-right bg-red"
                                   *ngIf="transportationRequests.statistics.new">
                                {{ transportationRequests.statistics.new }}</small>
                            <small class="label pull-right bg-blue"
                                   *ngIf="transportationRequests.statistics.accepted">
                                {{ transportationRequests.statistics.accepted }}</small>
                            <small class="label pull-right bg-blue-active"
                                   *ngIf="transportationRequests.statistics.inProgress">
                                {{ transportationRequests.statistics.inProgress }}</small>
                        </span>
                    </a>
                    <ul class="treeview-menu" *dropdownMenu>
                        <li *ngIf="account.user && account.isManager()">
                            <a routerLink="/transportation/requests/list/all">
                                <i class="fa fa-table" aria-hidden="true"></i> <span translate>Список Заказов</span></a>
                        </li>
                        <li *ngIf="account.user && account.isManagerOrDriver()">
                            <a routerLink="/transportation/requests/list/assigned"><i class="fa fa-list" aria-hidden="true"></i>
                                <span translate>Назначены На Меня</span></a>
                        </li>
                        <li><a routerLink="/transportation/requests/list/my"><i class="fa fa-list-alt" aria-hidden="true"></i>
                            <span translate>Мои Заказы</span></a>
                        </li>
                        <li><a routerLink="/transportation/requests/create"><i class="fa fa-file-o" aria-hidden="true"></i>
                            <span translate>Создать</span></a>
                        </li>
                    </ul>
                </li>

                <li *ngIf="account.user && account.isManagerOrDriver()">
                    <a routerLink="/reports/library" routerLinkActive="active-menu-link">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;<span translate>Отчеты</span>
                    </a>
                </li>
                <li class="treeview" dropdown *ngIf="account.user && account.isManager()">
                    <a class="cursor-click" dropdownToggle>
                        <i class="fa fa-star-o" aria-hidden="true"></i> <span translate>Отзывы</span>
                    </a>
                    <ul class="treeview-menu" *dropdownMenu>
                        <li>
                            <a routerLink="/reviews/list">
                                <i class="fa fa-star" aria-hidden="true"></i> <span translate>Отзывы О Компании</span></a>
                        </li>
                        <!--li>
                            <a href="#">
                                <i class="fa fa-truck" aria-hidden="true"></i> <i>Отзывы По Заказам</i>
                            </a>
                        </li-->
                    </ul>
                </li>
                <li *ngIf="account.user && account.isManager()">
                    <a routerLink="/organisations/list" routerLinkActive="active-menu-link">
                        <i class="fa fa-briefcase" aria-hidden="true"></i>&nbsp;<span translate="">Организации</span>
                    </a>
                </li>
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">

        <router-outlet></router-outlet>

    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b translate>Версия</b>: {{ APP_VERSION }}
        </div>
        <strong>Copyright © 2020 <a target="_blank" class="footer-logo"
                                    href="https://www.gruzi-v-taxi.by">Грузи В ТАКСИ</a></strong>
    </footer>
</div>