<div class="row route-time-row" *ngIf="routeTime">
    <div class="col-md-12 col-sm-12">
        <b translate>Приблизительное время в пути</b>: {{ routeTime }}
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="gvt-map-wrapper">
            <div id="map-{{ uuid }}" class="gvt-map"></div>
        </div>
    </div>
</div>