.modal, .modal.fade, .modal .modal-dialog, .modal .modal-dialog .modal-content,
.modal .modal-dialog .modal-content .modal-header,
.modal .modal-dialog .modal-content .modal-footer
 {
    border-radius: 0;
}
.gvt-map-point img.cur-point {
    visibility: hidden;
    width: 28px;
    height: 24px;
    display: inline-block;
    float: left;
}
.gvt-map-point input.form-control {
    display: inline-block;
    width: 90%;
}
.gvt-map-point.active img {
    visibility: visible;
}
.page-section.content-section {
    min-height: 100%;
}

.page-section {
    min-height: 100%;
    padding: 0;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-height:500px) {
    section.content-section.page-section {
        height: auto;
        min-height: 500px;
    }
}

@media(max-width:768px) {
    section.content-section.page-section {
        height: auto;
        display: inline-block;
        width: 100%;
    }
    .container .navbar-toggle {
        color: #fff;
    }
}
.page-section .row {
    width: 100%;
    display: block;
}
.about-bottom-text {
    margin-top: 30px;
}
.height-20 {
    height: 20px;
    min-height: 20px;
}

.margin-right-15-percent {
    margin-right: -30%;
}

.margin-left-15-percent {
    margin-left: -5%;
}


.gvt-form .btn, .gvt-req-create-modal .btn{
    border-color: #000;
    color: #000;
    margin-top: 15px;
}

.gvt-form .btn:hover, .gvt-req-create-modal .btn:hover {
    background-color: #044E20;
    color: #000;
}

#reqModalText {
    color: #044E20;
    margin: auto;
}
.gvt-req-create-modal .modal-header, .gvt-req-create-modal .modal-footer {
    background-color: #044E20;
}
