.page-section {
    min-height: 100%;
    height: 100%;
    margin-top: 80px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}
body {
    width: 100%;
    height: 100%;
}
div.page-content.page-section {
    min-height: 100%;
    height: 100%;
    margin-top: 80px;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}
.custom-heading02 {
    padding: 10px;
}
.custom-heading02.pricing-heading {
    margin-top: 30px;
    margin-bottom: 10px;
}
@media(min-height: 600px){
    .service-list {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .navbar-nav{
        display: block!important;
    }
}
.service-list li p.nopadding {
    padding: 0;
}
a.phone img {
    position: relative;
    top: 15px;
}
.service-list.phones-services li{
    padding-bottom: 0;
}
.service-list.phones-services .icon-container{
    height: 50px;
}
.service-list li p.phone-text {
    font-family: 'proxima_nova';
}
form#reqForm {
    height: 100%;
    min-height: 640px;
}
div.page-content.page-section#write {
    margin-bottom: 0;
}
.modal, .modal.fade, .modal .modal-dialog, .modal .modal-dialog .modal-content,
.modal .modal-dialog .modal-content .modal-header,
.modal .modal-dialog .modal-content .modal-footer
 {
    border-radius: 0;
}
.gvt-form .btn, .gvt-req-create-modal .btn{
    border-color: #000;
    color: #000;
    margin-top: 15px;
}

.gvt-form .btn:hover, .gvt-req-create-modal .btn:hover {
    color: #000;
}

#reqModalText {
    color: #1B2936;
    margin: auto;
}
#reqModal .modal-title {
    color: #fff;
}
#reqModal .modal-body {
    color: #1B2936;
}
.gvt-req-create-modal .modal-header .modal-title, .gvt-review-create-modal .modal-header .modal-title,
.gvt-req-create-modal .modal-header button, .gvt-review-create-modal .modal-header button {
    color: #fff;
}
.gvt-req-create-modal .modal-header, .gvt-req-create-modal .modal-footer,
.gvt-review-create-modal .modal-header, .gvt-review-create-modal .modal-footer {
    background-color: #1B2936;
}
#mapFormBtn a img {
    display: inline;
}
.gvt-map-link {
    color: #000;
    font-size: 18px;
}
.gvt-map-point i.cur-point {
    visibility: hidden;
}
.gvt-map-point input.form-control {
}
.gvt-map-point.active i.cur-point {
    visibility: visible;
}
#mapForm, #mapForm > * {
    color: #fff;
}
#contacts.page-section, #contacts.page-section > *, #about.page-section, #about.page-section p,
#contacts.page-section a, #contacts.page-section p, #about.page-section a, #about.page-section > * {
    color: #000;
}
.gvt-req-create-modal .row.modal-text-wrapper {
    margin-bottom: 20px;
}
.gvt-req-create-modal #reqModalText {
    margin-top: 20px;
}

#about.page-section div.service-details p {
    font-size: 14px;
}

#masterslider .ms-slide p, #masterslider .ms-slide h2 {
    text-shadow: 0 0 15px black;
}
#masterslider, #masterslider .ms-slide, #masterslider .ms-container, #masterslider .ms-inner-controls-cont,
#masterslider .ms-view, .page-section {
    min-height: 100vh!important;
    vertical-align: middle;
}
#contacts.page-section {
    padding-top: 3%;
}

#contacts .contacts-text {
    padding-top: 10%;
}
div.datepicker, div.datepicker > *, .bootstrap-timepicker-widget {
    border-radius: 0!important;
}

.twitter-typeahead {
    width: 90%;
}

.tt-menu.tt-open {
    border: 2px solid #2e6da4;
}
.tt-menu.tt-open, .tt-menu.tt-open > * {
    background: #ffffff;
    color: #000000;
}
.tt-menu.tt-open .tt-suggestion {
    min-height: 28px!important;
    font-size: 16px!important;
    padding: 5px 10px;
    min-width: 100%!important;
}
.tt-menu.tt-open .tt-suggestion:hover {
    background: #2C3741;
    color: #ffffff;
}
@media (max-width: 768px) {
    .gvt-form, .gvt-form > * {
        max-width: 100vw!important;
    }
    .gvt-form {
        width: 100%!important;
    }
    .header-wrapper.header-transparent {
        position: fixed!important;
        width: 100vw;
    }
    button.navbar-toggle {

    }
    .header-wrapper .logo {
        width: 50%;
    }
    .logo img {
        margin: 0 15px 15px;
    }
    .logo {
        display: inline-block;
    }
    .gvt-request-text {
        margin: 5px;
        max-width: 100%;
    }
    .navbar-nav{
        display: block!important;
    }
    #map {
        max-height: 50vh!important;
        height: 60vh!important;
    }
    .floor-wrapper .form-control {
        max-width: 40vw!important;
    }
}
.language-switcher-wrapper-last {
    margin-right: 40px;
}
.gvt-request-text {
    margin: 20px;
    max-width: 50%;
    font-size: 14px;
    color: #ccc;
}
.language-switcher .badge {
    background-color: #1B2936;
}
@media only screen and (min-width: 320px) and (max-width: 479px){
    .navbar-nav{
        display: block!important;
    }
    #maps-points .gvt-map-point.col-xs-9, #maps-points .floor-wrapper.col-xs-3 {
        margin-bottom: 10px;
    }
    #maps-points .gvt-map-point.col-xs-9 .col-xs-2, #maps-points .gvt-map-point.col-xs-9 .col-xs-10 {
        margin-bottom: 0;
    }
    #id_is_need_porters {
        padding: 5px;
    }
}
.has-error .form-control {
    border-width: 1.5px!important;
}
.form-group .control-label.gvt-form-label {
    color: #fff;
    font-size: 14px;
}

.popover > * {
    color: #1B2936!important;
}
.popover .popover-title {
    background-color: #dfe6eb;
}
.transportation-type-group {
    margin-top: 15px;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
    padding: 5px;
}

.form-group.floor-wrapper {
    padding-left: 10px!important;
    padding-right: 10px!important;
}


#id_is_need_porters {
    margin-top: 12px;
    /* Double-sized Checkboxes */
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    padding: 10px;
}
@media(max-width: 768px) and (max-height: 640px) {
    .nav.navbar-nav li {
        max-height: 60px;
    }
}
@media(max-width: 768px) {
    .submit-button-wrapper .col-md-3 {
        margin-bottom: 20px;
        padding-bottom: 30px;
        margin-top: 30px;
    }
    #reqFormSubmit {
        margin-bottom: 30px;
    }
    #id_is_need_porters {
        margin-top: 5px;
        padding: 7px;
    }

    .col-xs-12.text-right, .col-xs-12.text-left {
          text-align: center;
    }
    #contacts .contacts-text {
        padding-top: 0;
    }
}

.gvt-social-icon {
    background-color: #565f66;
    color: #fff!important;
    border-radius: 5px;
    padding: 5px;
    min-width: 30px;
    width: 30px;
    font-size: 18px;
    margin-left: 10px;
    display: inline-block;
}

.btn-flat {
    border-radius: 0!important;
}
.cursor-click {
    cursor: pointer;
}
.margin-bottom-10 {
    margin-bottom: 10px!important;;
}

.gvt-review-create-modal > * {
    color: #1B2936!important;
}

.btn.bg-gray {
    background-color: #f4f4f4!important;
}

.gvt-review-create-modal .form-group .control-label {
    color: #1B2936!important;
    font-size: 16px;
}

.review-required .control-label:after {
    content:" *";
}

#maps-points pre {
    overflow: hidden!important;
    width: 100%!important;
    max-width: 100%!important;
}

input, textarea, .input-group-addon, select {
    border-radius: 0!important;
}

.gvt-actions-wrapper {
    position: fixed;
    bottom: 50px;
    right: 10px;
    max-width: 60%;
    width: auto;
    z-index: 999;
    max-height: 50vh;
    overflow-y: auto;
    padding: 10px;
}
.gvt-actions-wrapper .gvt-action-alert .close-gvt-alert {
    color: #1B2936!important;
    font-size: 32px;
}
.gvt-actions-wrapper .gvt-action-alert .gvt-action-description {
    font-size: 22px;
    color: #1B2936!important;
    margin: 20px 15px 0;
}
.gvt-actions-wrapper .gvt-action-alert .gvt-action-image:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.gvt-actions-wrapper .gvt-action-alert .gvt-action-image {
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    max-height: 160px;
    max-width: 160px;
    height: 90%;
    width: 90%;
    margin: 10px;
    display: inline;
}

.gvt-actions-wrapper .gvt-action-alert .row {
    margin-bottom: 10px!important;
}
.gvt-actions-wrapper .gvt-action-alert {
    border-radius: 0;
    background-color: #fff;
    padding: 0!important;
    border: 2px solid #fff!important;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    margin: 10px;
    max-width: 100%;
}

@media (max-width: 768px) {
    .gvt-actions-wrapper {
        max-width: 95%;
        right: 5px;
    }
    .gvt-actions-wrapper .gvt-action-alert .gvt-action-image {
        margin: 5px;
    }
    .gvt-actions-wrapper .gvt-action-alert h1 {
        font-size: 24px;
    }
    .gvt-actions-wrapper .gvt-action-alert .gvt-action-description {
        font-size: 16px;
    }
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.gvt-actions-wrapper .alert-body {
    padding: 15px;
}
.gvt-actions-wrapper .alert-header {
    background-color: #1B2936!important;
    color: #fff!important;
    width: 100%;
    padding: 15px;
}
.gvt-actions-wrapper .gvt-action-alert .alert-header .close-gvt-alert {
    color: #fff!important;
    right: 0;
}
.gvt-actions-wrapper .gvt-action-alert .alert-header h1 {
    font-size: 32px;
    color: #fff!important;
    font-weight: 500;
    margin: 0!important;
}
