/* Base Web-site forms styles */

form .form-group .input-group, form .form-group .form-control, form .form-group .input-group-addon {
    border-color: #b9b9b9;
}

form .form-group .input-group.has-error, form .form-group.has-error .form-control, form .form-group.has-error .input-group-addon {
    border-color: #a94442;
}


.base-section-description .section-header {
    margin-bottom: 20px;
}
.base-section-description p.lead {
    margin-bottom: 10px;
}
.base-section-description .auto-help-text {
    margin-bottom: 5px;
}

.base-section-description ul.auto-help-list {
    padding-left: 35px;
    list-style: square outside;
}

.evacuation-phone-numbers {
    margin-top: 10px;
}

.evacuation-phone-numbers a.phone {
    display: inline-block;
    margin-bottom: 10px;
}

@media(max-width: 480px) {
    .base-section-description .evacuation-phone-numbers {
        margin-top: 10px;
        text-align: center;
    }
    .base-section-description .evacuation-phone-numbers a.phone {
        display: inline-block;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 767px){
    .base-gvt-section.section {
        position: relative;
        padding-top: 80px;
    }
}

.container.site-menu-container {
    padding-left: 8px;
    padding-right: 8px;
}