.request-form{
    margin-top: 20px;
    margin-bottom: 60px;
}
#map {
    margin-top: 20px;
    min-height: 600px;
    border: 1px solid rgba(0,0,0, 0.3);
}

.navbar-custom a {
    font-weight: 900;
    font-family: 'proxima_nova';
}
section.content-section.page-section {
    font-family: 'proxima_nova';
}
.margin-left-50 {
    margin-left: 50px;
}
.margin-left-20 {
    margin-left: 20px;
}
.margin-left-10 {
    margin-left: 10px;
}
#write {
    padding-top: 95px;
    padding-bottom: 0px;
}

.intro .brand-heading, .intro p {
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
}
.gvt-text {
    font-size: 16px;
    font-family: 'proxima_nova';
}
.gvt-image-tariffs {
    width: 100%;
}
.gvt-image{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0 0 10px 2px rgba(255,255,255,0.5);
}
.gvt-form input, .gvt-form textarea, .gvt-form select, .gvt-form .input-group-addon {
    border-radius: 0;
    border-color: #000;
}
.gvt-form .input-group-addon {
    border-radius: 0;
}
.gvt-form .form-group.input-group input {
    width: 100%;
}
.gvt-form .gvt-map-link {
    color: #000;
    font-size: 18px;
    font-family: 'proxima_nova';
}

.gvt-form .btn, .gvt-req-create-modal .btn{
    border-color: #000;
    color: #000;
    margin-top: 15px;
}

.gvt-form .btn:hover, .gvt-req-create-modal .btn:hover {
    background-color: #DFDFDF;
    color: #000;
}

.padding-left-15 {
    padding-left: 18px;
}
section#pricing > * {
}
section#pricing {
    width: 100%;
    background: url(../images/map_white_25.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding-top: 60px;
    /*background: linear-gradient(to right, #02660C, #fff);*/
}
section#write {
    width: 100%;
    min-height: 100%;
    background-image: url(../images/write_bg1_40.png);
    background-repeat: repeat;
    /*background: linear-gradient(to right, #9FC6A3, #fff);
    background: #A5C9A9;*/
}


.gvt-down {
    margin-bottom: -60px;
}
.intro .intro-body .brand-heading {
    font-family: 'proxima_nova';
    font-weight: 900;
}
.

.gvt-about p {
    margin-bottom: 15px;
}
#reqModalText {
    color: #044E20;
    margin: auto;
    font-family: 'proxima_nova';
}
.gvt-req-create-modal .modal-header, .gvt-req-create-modal .modal-footer {
    background-color: #399B5E;
}
.gvt-req-create-modal .modal-footer {
    padding-top: 8px;
    padding-bottom: 7px;
}
.gvt-req-create-modal .modal-title {
    font-family: 'proxima_nova';
    color: #044E20;
}
.gvt-req-create-modal .modal-text{
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'proxima_nova';
}
.ymaps-2-1-64-search {
    display: none
}

#pricing ul > * {
}
.list-no-style {
    padding-top: 15px;
    list-style: none;
}
.list-services li:before {
    content: url(../images/check1.png);
}
.list-services-zoom li:before {
    content: url(../images/round.png);
    margin-right: 10px;
}
.list-services-zoom {

    font-size: 14px;
    list-style: none;
    width: 100%;
    min-width: 100%;
}
.list-services-zoom li {
    width: 100%;
    min-width: 100%;
  position: relative;
    min-height: 30px;
    margin-bottom: 10px;
    padding-left: 8px;
    padding-bottom: 8px;
}
.list-services-zoom li:before, .list-services-zoom li:after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: -3px;

}
.list-services-zoom li:before {
  top: -3px;
  width: 1px;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#044E20), to(transparent));
  background-image: -webkit-linear-gradient(transparent, #044E20);
  background-image: -moz-linear-gradient(transparent, #044E20);
  background-image: -o-linear-gradient(transparent, #044E20);
}
.list-services-zoom li:after {
  right: -3px;
  height: 1px;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#044E20), to(transparent));
  background-image: -webkit-linear-gradient(left, #044E20, transparent);
  background-image: -moz-linear-gradient(left, #044E20, transparent);
  background-image: -o-linear-gradient(left, #044E20, transparent);
}

.row .list-pricing-wrapper{
    text-align: center;
}
.list-pricing li:before {
    margin-right: 5px;
    content: url(../images/check2.png);
}
#pricing h2, #pricing h3,  #pricing h4, #about h3, #contact h3, #write h3 {
    font-family: 'proxima_nova';
}
.list-pricing li {
    white-space:nowrap;
}
.list-pricing {
    border: 2px solid rgba(6,55,16, 0.6);
    display: inline-block;
    padding: 10px 40px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    -webkit-transition: all 0.1s ease-in 0.1s;
    -moz-transition: all 0.1s ease-in 0.1s;
    -o-transition: all 0.1s ease-in 0.1s;
    transition: all 0.1s ease-in 0.1s;
}
.list-pricing:hover {
    -webkit-transition: all 0.1s ease-in 0.1s;
    -moz-transition: all 0.1s ease-in 0.1s;
    -o-transition: all 0.1s ease-in 0.1s;
    transition: all 0.1s ease-in 0.1s;
    z-index: 999;
    width: 500px;
    background: #fff;
    box-shadow: 0 0 10px 1px rgba(6,55,16, 0.6);
    font-size: 20px;
    height: auto;
}
.pricing-image {
    width: 100%;
}

.gvt-footer {
   /* background: linear-gradient(to right, #54985B, #fff);*/

    background-image: url(../images/write_bg1_40.png);
    background-repeat: repeat;
    width: 100%;
}

@media(max-width:480px) {
    #mapFormBtn, #mapForm, .phone-pulsing-wrapper {
        display: none!important;
    }
    .phones-wrapper {
        margin-left: 15px;
        padding: 0;
    }
    .contacts-wrapper {
        margin: 0;
    }
    h2.brand-heading {
        font-size: 20px!important;
    }
    section#pricing {
        /*background: linear-gradient(to right, #02660C, #fff);*/
        background: #fff;
    }
    .list-no-style {
        margin-left: 15px;
        margin-right: 0px;
    }
    .intro {
        /*background: url(../images/8_small.png) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;*/
        background: #000;
    }
    .list-pricing li:before {
        content: url(../images/check1.png);
    }
    ul.list-pricing, ul.list-services-zoom {
        margin-left: auto;
        width: auto;
        padding-left: 10px;
    }
    section.content-section.page-section, .intro {
        min-height: 100%;
    }
    #contact .phones-row .col-sm-12 {
        margin-top: 5%;
        padding-left: 0px;
    }
    #contact .phones-row {
        padding-left: 0px;
        margin-left: 0px;
    }
    #contact .phones-wrapper {
        margin-left: 0px;
    }
}
@media(max-device-width:480px) {
    #mapFormBtn, #mapForm, .phone-pulsing-wrapper {
        display: none;
    }
}

#about div.row:first-of-type {
    margin-top: -30px;
}
#pricing {
    padding-top: 150px;
    padding-left: 30px;
    padding-right: 20px;
}
@media(max-width:768px) {
    section#pricing > * {
        text-align: center!important;
    }
    #pricing .list-pricing-wrapper {
        margin-left: auto;
    }
    section.content-section.page-section {
        width: 100%!important;
    }
    section .row {
        margin-left: 10px;
        text-align: center;
    }
    #pricing {
        padding-top: 100px;
        padding-left: 0px;
        padding-right: 0px;
    }
}
#pricing .gvt-text > * {
    font-size: 18px;
    /*font-weight: 900;*/
}
.velcom-img {
    margin-right: 16px;
    margin-left: 16px;
}
#pricing .pricing-10 {
    height: 10%;
}
#pricing .pricing-50 {
    height: 50%;
}
#pricing .pricing-50 div, #pricing .pricing-20 div, #pricing .pricing-50 div ul.list-services {
    height: 100%;
}
#pricing .pricing-50 div .list-services li{
    height: 25%;
    padding-top: 6%;
}
#pricing div .list-pricing li{
    margin-top: 15px;
}
#pricing div .list-pricing li:first-of-type {
    margin-top: 5px;
}
#pricing .pricing-50 div, #pricing .pricing-20 div {
    vertical-align: middle;
}
#pricing .pricing-20 {
    height: 60%;
}
#pricing .height-100 {
    height: 100%;
}
.phones-row {
    margin-top: 20px;
}
.gvt-map-desc-text {
    color: #000;
    margin: 15px 0;
    font-family: 'proxima_nova';
}
ul.zoom-list {
    position: absolute;
    -webkit-transition: all 0.1s ease-in 0.1s;
    -moz-transition: all 0.1s ease-in 0.1s;
    -o-transition: all 0.1s ease-in 0.1s;
    transition: all 0.1s ease-in 0.1s;
}
ul.zoom-backdrop {
    display: block;
    visibility: hidden;
}
ul.zoom-list:hover {
    position: absolute;
    height: auto;
    font-size: 18px;
    box-shadow: 0 0 10px 1px rgba(6,55,16, 0.6);
    border: 1px solid rgba(6,55,16, 0.6);
    -webkit-transition: all 0.1s ease-in 0.1s;
    -moz-transition: all 0.1s ease-in 0.1s;
    -o-transition: all 0.1s ease-in 0.1s;
    transition: all 0.1s ease-in 0.1s;
    z-index: 999;
    background: #fff;
}
#pricing .pricing-50 div .list-services:hover li{
    height: 33.33333333%;
    padding-top: 4.6%;
}
a.phone {
    color: #000;
}

::selection {
    background: #044E20;
}
.contacts-wrapper {
    min-height: 256px;
}
.gvt-contacts-text > *, .gvt-contacts-text{
    font-size: 18px;
}
.phone-pulsing-wrapper img.phone-pulsing {
    display: inline;
}
.phone-pulsing-wrapper {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    min-height: 200px;
}

.points-control-wrapper {
    overflow: hidden;
    position: relative;
}

.points-control-wrapper .col-md-1 {
    min-height: 100%;
    position: absolute;
    right: 16.66666666%;
}


.points-control-wrapper .col-md-1 img {
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
}

.points-control-wrapper .col-md-1:last-of-type {
    right: 8.33333333%
}

@media(max-width:480px) {
    #mapFormBtn, #mapForm, .phone-pulsing-wrapper {
        display: none!important;
    }
    section .row {
        margin-left: 0;
    }
    section .row .col-sm-12 {
        padding-left: 3px;
    }
    .list-pricing, .list-pricing:hover {
        border: none;
    }
    .phones-wrapper {
        margin-left: 15px;
        padding: 0;
    }
    .contacts-wrapper {
        margin: 0;
    }
    h2.brand-heading {
        font-size: 20px!important;
    }
    section#pricing {
        /*background: linear-gradient(to right, #02660C, #fff);*/
        background: #fff;
    }
    .list-no-style {
        margin-left: 15px;
        margin-right: 0px;
    }
    .intro {
        /*background: url(../images/8_small.png) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;*/
        background: #000;
    }
    .list-pricing li:before {
        content: url(../images/check1.png);
    }
    ul.list-pricing, ul.list-services-zoom {
        margin-left: auto;
        width: 100%;
        margin: 0;
        white-space: normal;
        padding-left: 10px;
    }
    section.content-section.page-section, .intro {
        min-height: 100%;
    }
    #contact .phones-row .col-sm-12 {
        margin-top: 5%;
        padding-left: 0px;
    }
    #contact .phones-row {
        padding-left: 0px;
        margin-left: 0px;
    }
    #contact .phones-wrapper {
        margin-left: 0px;
    }
}
@media(max-device-width:480) {
    #mapFormBtn, #mapForm, .phone-pulsing-wrapper {
        display: none;
    }
    section .row {
        margin-left: 0;
    }
    section .row .col-md-12 {
        padding: 0;
    }
    h2.brand-heading {
        font-size: 20px!important;
    }
    section#pricing {
        /*background: linear-gradient(to right, #02660C, #fff);*/
        background: #fff;
    }
    .intro {
        /*background: url(../images/8_small.png) no-repeat bottom center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;*/
        background: #000;
    }
    .list-pricing li:before {
        content: url(../images/check1.png);
    }

}