body, html {
    height: 100%;
    min-height: 100%;
}

nav.navbar.gvt-navbar {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 40px;
}

.gvt-bg-primary {
    background-color: #1B2936 !important;
}

.gvt-color-primary {
    color: #1B2936 !important;
}

nav.gvt-navbar .navbar-toggler {
    color: #fff;
}
nav.gvt-navbar.gvt-bg-primary {
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
}

nav.gvt-navbar.gvt-bg-transparent .gvt-logo-inverse {
    display: none;

    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
nav.gvt-navbar.gvt-bg-primary .gvt-logo {
    display: none;

    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

#gvtMainSlider {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}
.gvt-home-section .gvt-about-us .col-md-4 .about-us-section h4 span {
    border-bottom: 2px solid #1E98FF;
    padding-bottom: 5px;
}
.gvt-home-section .gvt-about-us .col-md-4 .about-us-section h4 {
    font-weight: 900;
    color: #1B2936;
}
.gvt-home-section .gvt-about-us .col-md-4 .about-us-section p {
    color: #1B2936;
}

#gvtMainSlider .carousel-item .carousel-caption {
    bottom: auto;
    top: 45%;
    opacity: 0;
    left: 0;
}

#gvtMainSlider .carousel-item .carousel-caption p {
    opacity: 0;
    margin-top: 100px;
}
#gvtMainSlider .carousel-item.active .carousel-caption {
    opacity: 1;
    left: 15%;
    transition: opacity .75s ease-in-out, left .75s ease-in-out;
    -moz-transition: opacity .75s ease-in-out, left .75s ease-in-out;
    -webkit-transition: opacity .75s ease-in-out, left .75s ease-in-out;
}

#gvtMainSlider .carousel-item.active .carousel-caption p {
    opacity: 1;
    margin-top: 0;
    transition-delay: 1s, 1s;
    transition: opacity .75s ease-in-out, margin-top .75s ease-in-out;
    -moz-transition: opacity .75s ease-in-out, margin-top .75s ease-in-out;
    -webkit-transition: opacity .75s ease-in-out, margin-top .75s ease-in-out;
}

#gvtMainSlider .carousel-caption > * {
    text-shadow: 3px 3px 20px black;
}

#gvtMainSlider .carousel-caption h1 {
    font-size: 72px;
}

#gvtMainSlider .carousel-caption p {
    font-size: 32px;
}

@media (max-width: 992px) {

    #gvtMainSlider .carousel-item .carousel-caption {
        top: 15%;
    }
    nav.gvt-navbar.gvt-bg-transparent {
        box-shadow: 0 7px 7px rgba(0, 0, 0, 0.4);
    }

    nav.gvt-navbar.gvt-bg-primary, nav.gvt-navbar.gvt-bg-transparent,
    nav.gvt-navbar.gvt-bg-primary .navbar-brand, nav.gvt-navbar.gvt-bg-transparent .navbar-brand,
    nav.gvt-navbar.gvt-bg-primary ul li a, nav.gvt-navbar.gvt-bg-transparent ul li a {
        background-color: #1B2936;
        color: #fff;
    }

    nav.navbar.gvt-navbar {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 36px;
    }

    nav.gvt-navbar.gvt-bg-transparent .gvt-logo-inverse  {
        display: inline;
        width: 36px!important;
        height: 36px!important;
    }
    nav.gvt-navbar.gvt-bg-transparent .gvt-logo {
        display: none;
    }

    .gvt-home-section .gvt-about-us .col-md-4 .about-us-section h4 {
        font-size: 18px;
    }
    .gvt-home-section .gvt-about-us .col-md-4 .about-us-section p {
        font-size: 14px;
    }
    .gvt-home-section .gvt-about-us .col-md-4 .about-us-section h4 span {
        border-bottom: 2px solid #1E98FF;
        padding-bottom: 2px;
    }
}

@media (min-width: 992px) {
    nav.gvt-navbar.gvt-bg-transparent, nav.gvt-navbar.gvt-bg-transparent ul li {
        background-color: transparent;

        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }

    nav.gvt-navbar.gvt-bg-transparent .navbar-toggler .navbar-toggler-icon, nav.gvt-navbar.gvt-bg-transparent .navbar-brand, nav.gvt-navbar.gvt-bg-transparent ul li a {
        color: #1B2936;

        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }

    nav.gvt-navbar.gvt-bg-primary .navbar-toggler .navbar-toggler-icon, nav.gvt-navbar.gvt-bg-primary .navbar-brand, nav.gvt-navbar.gvt-bg-primary ul li a {
        color: #fff;

        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }

    nav.gvt-navbar.gvt-bg-transparent ul li:hover a:hover {
        color: #fff;

        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }

    nav.gvt-navbar.gvt-bg-transparent ul li:hover {
        background-color: #1B2936;

        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }

    nav.gvt-navbar.gvt-bg-primary {
        background-color: #1B2936;

        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }

    nav.gvt-navbar.gvt-bg-primary ul li a {
        background-color: #1B2936;

        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }

    nav.gvt-navbar.gvt-bg-primary ul li:hover a {
        background-color: #fff;
        color: #1B2936;

        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }

    nav.gvt-navbar.gvt-bg-primary ul li:hover {
        background-color: #fff;

        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }
}

section.gvt-home-section.gvt-home-first-section {
    padding-top: 0;
}

section.gvt-home-section {
    height: 100%;
    min-height: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 56px;
}

.carousel.gvt-carousel img.w-100 {
    height: 100vh;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
}

.gvt-home-section .gvt-about-us {
    position: absolute;
    bottom: 8%;
    width: 100%;
}


.gvt-home-section .gvt-about-us{
    margin: 0;
}
.gvt-home-section .gvt-about-us .col-md-4 .about-us-section {
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    margin: 10px;
    padding: 20px 20px;
    height: 160px;
    border-radius: 8px;
}


@media(max-width: 640px) {
    #gvtMainSlider {
        display: none;
    }
}
@media(max-width: 480px) {
    .gvt-home-first-section {
        background: #f3f3f3;
    }
    #gvtMainSlider {
        display: none;
    }

    .gvt-home-section .gvt-about-us {
        position: relative;
        bottom: auto;
        padding-top: 20px;
        left: auto;
        right: auto;
        margin-top: 48px;
    }
    .gvt-home-section .gvt-about-us .col-md-4 .about-us-section {
        background-color: #fff;
        box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
        margin: 3px;
        padding: 25px 10px;
        height: 27vh;
    }

    .gvt-home-section .gvt-about-us .col-md-4 .about-us-section h4 {
        font-size: 18px;
    }
    .gvt-home-section .gvt-about-us .col-md-4 .about-us-section p {
        font-size: 14px;
    }

    .navbar-brand small {
        display: none;
    }

}


