.manipulator-section img.manipulator-example-image {
    max-width: 100%;
    max-height: 100%;
}
.manipulator-section .grid-of-images .gvt-manipulation-images-container a.image {
    cursor: zoom-in;
    border-bottom: 0;
    display: inline-block;
}

.manipulator-section .grid-of-images .gvt-manipulation-images-container a.image img {
    margin: 10px;
}

.manipulator-section .grid-of-images .gvt-manipulation-images-container a.image:hover {
    opacity: .7;
}

.mfp-zoom-out-cur .mfp-content .mfp-figure .mfp-close {
    cursor: pointer;
}