<section class="content-header">
    <h1>
        <span *ngIf="organisation">{{ organisation.name }}</span>
        <small translate>Детали Организации</small>
    </h1>
    <div class="back-to-list" *ngIf="account.isManager()">
        <i class="fa fa-angle-double-left" aria-hidden="true"></i>&nbsp;
        <a routerLink="/organisations/list" translate>Список Организаций</a>
    </div>
</section>


<section class="content organisation-details">
    <div *ngIf="!loadingComplete" class="row">
        <div class="col-md-12 text-center">
            <span class="font-size-20px" translate="">Идет загрузка деталей организации</span>&nbsp;<loader></loader>
        </div>
    </div>
    <div class="row" [hidden]="!loadingComplete" *ngIf="organisation">
        <div class="col-md-6 col-sm-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h5 class="box-title" translate>Общая информация</h5>

                    <a *ngIf="!collapseOrgDetails" class="pull-right font-size-14px cursor-click"
                       (click)="collapseOrgDetails = !collapseOrgDetails" translate>Скрыть детали</a>

                    <a *ngIf="collapseOrgDetails" class="pull-right font-size-14px cursor-click"
                       (click)="collapseOrgDetails = !collapseOrgDetails" translate>Показать детали</a>
                </div>
                <div class="box-body box-profile">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="org-name-item">
                                <img class="org-avatar" [src]="organisation.logo || DEFAULT_ORG_AVATAR_IMG">
                            </div>
                            <div class="org-name-item">
                                <h3 class="org-name">{{ organisation.name }}</h3>

                                <div>
                                    <label class="org-status label color-palette" [ngClass]="{
                                                                  'bg-yellow-active': organisation.status === OrganisationStatuses.DISABLED,
                                                                  'bg-green-active': organisation.status === OrganisationStatuses.ACTIVE
                                                                  }">{{ organisation.statusDisplay }}</label>
                                    <div class="org-phone font-size-14px" *ngIf="organisation.contactPhone">
                                        <b translate>Контактный Телефон</b><b>:</b>&nbsp;<a class="pull-right"
                                                                    href="tel:+{{ organisation.contactPhone }}">
                                        +{{ organisation.contactPhone }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div animatedCollapse [collapseModel]="collapseOrgDetails">
                        <br>
                        <ul class="list-group list-group-unbordered font-size-14px">
                            <li class="list-group-item" *ngIf="organisation.contactEmail">
                                <b translate>Контактный E-Mail</b> <a class="pull-right" href="mailto:{{ organisation.contactEmail }}">
                                {{ organisation.contactEmail }}</a>
                            </li>
                            <li class="list-group-item" *ngIf="organisation.website">
                                <b translate>Веб-сайт</b> <a
                                    class="pull-right" href="{{ organisation.website }}" target="_blank">
                                {{ organisation.website }}</a>
                            </li>
                            <li class="list-group-item" *ngIf="organisation.description">
                                <b translate>Описание</b>
                                <p>{{ organisation.description }}</p>
                            </li>
                        </ul>
                        <div class="gvt-confirmation-button-group">
                            <span *ngIf="account.isManager()">
                                <confirmation-modal
                                        *ngIf="organisation.status === OrganisationStatuses.ACTIVE"
                                        [disableSubmitBtnCondition]="organisationStatusUpdating"
                                        [confirmationSuccess]="toggleOrganisationStatus()"
                                        [buttonText]="'Заблокировать' | translate"
                                        [confirmationBtnClass]="'btn btn-flat btn-warning'"
                                ></confirmation-modal>
                                <confirmation-modal
                                        *ngIf="organisation.status === OrganisationStatuses.DISABLED"
                                        [disableSubmitBtnCondition]="organisationStatusUpdating"
                                        [confirmationSuccess]="toggleOrganisationStatus()"
                                        [buttonText]="'Разблокировать' | translate"
                                        [confirmationBtnClass]="'btn btn-flat btn-success'"
                                ></confirmation-modal>
                            </span>

                            <a class="btn btn-primary btn-flat"
                               [routerLink]="['/organisations', organisation.uuid, 'edit']"
                               translate="">Редактировать</a>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12" animatedCollapse [collapseModel]="collapseOrgDetails">
            <div class="box ">
                <div class="box-header with-border">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                    <h5 class="box-title" translate>Статистика</h5>
                </div>
                <div class="box-body">
                    <div class="row" *ngIf="!orgStatistics">
                        <div class="col-md-12 text-center">
                            <span class="font-size-20px" translate="">Идет загрузка статистики</span>&nbsp;<loader></loader>
                        </div>
                    </div>
                    <div class="card card-info" *ngIf="orgStatistics">

                        <div class="card-body">
                            <div class="chart">
                                <div chart [data]="orgStatistics"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="box-header with-border box-header-small" *ngIf="organisationUUID">
            <div class="route-links btn-group gvt-btn-group">
                <a [routerLink]="['./orders']" class="btn btn-flat" routerLinkActive="btn-primary"
                    #rlaOrders="routerLinkActive" [ngClass]="{'btn-default': !rlaOrders.isActive}">
                    <i class="fa fa-th-list" aria-hidden="true"></i>&nbsp;<span translate="">Заказы</span>
                </a>
                <a [routerLink]="['./members']" class="btn btn-flat" routerLinkActive="btn-primary"
                    #rlaMembers="routerLinkActive" [ngClass]="{'btn-default': !rlaMembers.isActive}">
                    <i class="fa fa-users" aria-hidden="true"></i>&nbsp;<span translate="">Участники</span>
                </a>
                <a [routerLink]="['./reports/general']" class="btn btn-flat" routerLinkActive="btn-primary"
                    #rlaReports="routerLinkActive" [ngClass]="{'btn-default': !rlaReports.isActive}">
                    <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;<span translate="">Отчеты</span>
                </a>
            </div>
        </div>
        <div class="box-body">
            <router-outlet></router-outlet>
        </div>
    </div>
</section>