{% extends 'registration/registration_base.html' %}
{% load i18n %}

{% block content %}
    <p class="login-box-msg">
        {% blocktrans %}
            Вы успешно активировали аккаунт.<br/>
            В ближайшее время наши администраторы проверят ваши данные и дадут вам доступ к внутренним ресурсам.<br/>
            Если вы уже имеете доступ, вы можете
        {% endblocktrans %}
     <a href="{% url 'accounts:auth_login' %}">{% trans 'войти в систему' %}</a>
    </p>
{% endblock %}