{% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <title>{% trans 'Регистрация на сайте Грузи в ТАКСИ' %}</title>
</head>
<style>
    .site-info {
        padding: 10px;
    }
    .site-info, .site-info div, .site-info span {
        color: #808080;
    }
    .site-info a {
        color: #808080;
    }
    .site-info a:hover {
        text-decoration: underline;
    }
    .content-block, .header-block {
        padding: 10px;
        margin: 10px;
    }
    .site-info img {
        max-width: 100px;
    }
    .header-block a {
        color: #ffffff;
    }
    .header-block a:hover {
        text-decoration: underline;
    }
    .logo-header {
        font-family: Raleway;
    }
</style>

<body>
<div style="padding: 10px 30px;">
    <h1 class="header-block logo-header">{% trans 'Грузи В ТАКСИ' %}</h1>
    <br/><br/>
    <h3 class="header-block">
        {% blocktrans %}
            Регистрация на сайте <a href="http://www.gruzi-v-taxi.by">Грузи в ТАКСИ</a>
        {% endblocktrans %}
    </h3>
    <br>
    <div class="content-block">
        {% blocktrans with site_name=site.name %}
        Добрый день!<br/>
        Вы (или кто-то от вашего имени) зарегистрировались на сайте
        Грузи в ТАКСИ.<br/>
        Если это были не вы, пожалуйста, игнорируйте это сообщение
        и ваш e-mail автоматически будет удален из нашей базы в течение нескольких дней.
        {% endblocktrans %}
    </div>
    <br>
    <div class="content-block">
        {% blocktrans %}
        Для активации аккаунта перейдите по ссылке в течение
        {{ expiration_days }} дней:
        {% endblocktrans %}
    </div>
    <br>
    <div class="content-block">
        <a href="http://{{site.domain}}{% url 'accounts:registration_activate' activation_key %}">
            {{site.domain}}{% url 'accounts:registration_activate' activation_key %}
        </a>
    </div>
    <br>
    <div class="content-block">
        {% trans 'Ваш логин' %}: {{ user.username }}
    </div>
</div>
    <div style="padding: 10px 30px;">
        {% include 'emails/signature.html' %}
    </div>
</body>

</html>