{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Аккаунт Активирован" %}{% endblock %}

{% block content %}
<p class="login-box-msg">{% trans "Аккаунт успешно активирован." %}</p>
<p class="login-box-msg">{% trans "Теперь вы можете войти в систему." %}</p>
<p class="login-box-msg"><a href="{% url 'accounts:auth_login' %}">{% trans 'Войти' %}</a><br></p>
{% endblock %}