{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Сброс пароля успешно завершен" %}{% endblock %}

{% block content %}
<p>
    {% trans "Вы успешно сбросили пароль!" %}
    {% blocktrans %}Теперь вы можете {% endblocktrans %}
    <a href="{% url 'accounts:auth_login' %}?next=/app/">{% trans 'Войти' %}</a> {% trans 'в систему' %}.

</p>
{% endblock %}