{% extends 'registration/registration_base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Сброс пароля' %}{% endblock %}
{% block content %}
{#load ulogin_tags #}
    <p class="login-box-msg">{% trans 'Сброс пароля' %}</p>
    <p class="login-box-msg">
        {% blocktrans %}
            Вам было отправлено сообщение, содержащее ссылку для сброса пароля. Проверьте указанный E-Mail.
        {% endblocktrans %}
    </p>

    <a href="{% url 'accounts:auth_login' %}">{% trans 'Войти' %}</a><br>
    <a href="{% url 'accounts:register' %}">{% trans 'Зарегистрироваться' %}</a><br>
{% endblock %}
