{% load i18n %}
<!doctype html>
<html lang="en">

<head>
    <title>{% trans 'Cброс пароля на сайте Грузи В ТАКСИ' %}</title>
</head>
<style>
    .site-info {
        padding: 10px;
    }
    .site-info, .site-info div, .site-info span {
        color: #808080;
    }
    .site-info a {
        color: #808080;
    }
    .site-info a:hover {
        text-decoration: underline;
    }
    .content-block, .header-block {
        padding: 10px;
        margin: 10px;
    }
    .site-info img {
        max-width: 100px;
    }
    .header-block a {
        color: #ffffff;
    }
    .header-block a:hover {
        text-decoration: underline;
    }
    .logo-header {
        font-family: Raleway;
    }
</style>

<body>
    <h1 class="header-block logo-header">{% trans 'Грузи В ТАКСИ' %}</h1>
    <h3 class="header-block">
        {% blocktrans %}Сброс пароля{% endblocktrans %}
    </h3>
    <div class="content-block">
        {% blocktrans %}
        Добрый день!<br>
        Вы получили это сообщение потому что Вы (или кто-то от Вашего имени) сделал запрос на сброс пароля на сайте
        {% endblocktrans %}
    </div>
    <div class="content-block">
        {% trans 'Если это были не Вы или Вы не хотите сбрасывать пароль, игнорируйте это сообщение.' %}
    </div>
    <div class="content-block">
        {% blocktrans %}
            Для сброса пароля, пожалуйста перейдите по ссылке или скопируйте и вставьте в поле ввода адреса в браузере:
        {% endblocktrans %}
        <br>
        <a href="{{ protocol }}://{{ domain }}{% url 'accounts:auth_password_reset_confirm' uid token %}">
            {{ protocol }}://{{ domain }}{% url 'accounts:auth_password_reset_confirm' uid token %}
        </a>
    </div>
    <div style="padding: 10px 30px;">
        {% include 'emails/signature.html' %}
    </div>
</body>

</html>
