{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans 'Сброс Пароля' %}{% endblock %}

{% block content %}
    <p class="login-box-msg">{% trans 'Сброс пароля' %}</p>
    <p class="text-white">
        {% blocktrans %}
        Введите новый пароль
        {% endblocktrans %}
    </p>
    {% if form %}
    <form method="post" action="">
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {% include 'registration/_registration_form_field.html' with field=field %}
        {% endfor %}

        {% if form.non_field_errors %}
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                        <li class="">{{ error }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans 'Изменить Пароль' %}</button>
            </div>
        </div>
    </form>
    {% else %}
        <p class="text-white">{% trans 'Ссылка для сброса пароля больше не валидна. Попробуйте еще раз' %}</p>.
        <p><a href="{% url 'accounts:auth_password_reset' %}">{% trans 'Сбросить пароль' %}</a></p>
    {% endif %}
    <br>
    <a href="{% url 'accounts:auth_login' %}">{% trans 'Войти' %}</a><br>
    <a href="{% url 'accounts:register' %}">{% trans 'Зарегистрироваться' %}</a><br>
{% endblock %}


{# This is used by django.contrib.auth #}