{% extends 'registration/registration_base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Вход В Систему' %}{% endblock %}
{% block content %}
{#load ulogin_tags #}
    <div class="alert alert-warning">
        <i aria-hidden="true" class="fa fa-info-circle"></i> В данный момент приложение используется исключительно сотрудниками компании и не предназначено для других пользователей.
    Приложение находится на стадии тестирования.
    </div>
    <p class="login-box-msg">{% trans 'Авторизация' %}</p>
    <form action="" method="POST">
        <input name="next" value="{% url 'app' %}" type="hidden"/>
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            {% if field != form.tos %}
                {% include 'registration/_registration_form_field.html' with field=field %}
            {% endif %}
        {% endfor %}

        {% if form.non_field_errors %}
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                        <li class="">{{ error }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans 'Войти' %}</button>
            </div>
        </div>
    </form>
    <br>
    <a href="{% url 'accounts:auth_password_reset' %}">{% trans 'Я забыл свой пароль' %}</a><br>
    <a href="{% url 'accounts:register' %}">{% trans 'Зарегистрироваться' %}</a><br>
{% endblock %}
