{% extends 'registration/registration_base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Регистрация' %}{% endblock %}
{% block content %}
{#load ulogin_tags #}
    <div class="alert alert-warning">
        <i aria-hidden="true" class="fa fa-info-circle"></i> В данный момент приложение используется исключительно сотрудниками компании и не предназначено для других пользователей.
    Приложение находится на стадии тестирования.
    </div>
    <p class="login-box-msg">{% trans 'Регистрация' %}</p>
    <form action="{% url 'accounts:register' %}" method="POST">
        {% csrf_token %}

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields  %}
            {% if field != form.tos %}
                {% include 'registration/_registration_form_field.html' with field=field %}
            {% endif %}
        {% endfor %}

        <div class="checkbox">
            <label>
                {{ form.tos }} <a target="_blank" href="{% url 'terms_of_service' %}">{{ form.tos.label }}</a>
            </label>
        </div>

        {% if form.non_field_errors %}
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <ul class="errorlist">
                    {% for error in form.non_field_errors %}
                        <li class="">{{ error }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endif %}

        <div class="g-recaptcha" data-callback="activateSubmitBtn" data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}"></div>
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <button type="submit" class="btn btn-primary btn-block btn-flat" id="submit_registration" disabled>{% trans 'Зарегистрироваться' %}</button>
            </div>
        </div>
    </form>
    <br>
    <a href="{% url 'accounts:auth_login' %}">{% trans 'Войти' %}</a><br>
{% endblock %}

{% block extra_js %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}