{% extends 'registration/registration_base.html' %}
{% load i18n %}

{% block content %}
    <p class="login-box-msg">
        {% blocktrans %}
            Регистрация завершена. Для активации аккаута проверьте свой e-mail.
            После подтверждения вашего почтового ящика вам будет дан доступ к внутренним ресурсам.
            Если вы уже одобрены администратором, вы можете
        {% endblocktrans %}
        <a href="{% url 'accounts:auth_login' %}">{% trans 'войти в систему' %}</a>
    </p>
{% endblock %}