{% load static %}
{% load i18n %}
{% load compress %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex,nofollow"/>
        <meta name="keywords" content="грузоперевозки, грузоперевозки мозырь, перевоз грузов, грузовое такси, грузовое такси мозырь, доставка мозырь">
        <meta name="description" content="ГРУЗОПЕРЕВОЗКИ МОЗЫРЬ">
        <link rel="shortcut icon" href="{% static 'images/gvt_icon_64.png' %}" type="image/x-icon">
        <title>{% trans 'Грузи В ТАКСИ' %}: {% block title %}{% endblock %}</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.6 -->
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <!-- Theme style -->
        {% compress css %}
        <link rel="stylesheet" href="{% static 'css/gvt-app/login.css' %}">
        <link rel="stylesheet" href="{% static 'libs/startbootstrap-grayscale/css/bootstrap.min.css' %}">
        <link href="{% static 'libs/adminLTE/dist/css/AdminLTE.min.css' %}" rel="stylesheet">
        <link href="{% static 'libs/adminLTE/dist/css/skins/skin-blue.min.css' %}" rel="stylesheet">
        {% endcompress %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo gvt-login-logo">
        <a href="{% url 'home' %}"><img src="{% static 'images/gvt_icon.png' %}" alt="Грузи в ТАКСИ"/> {% trans 'Грузи в ТАКСИ' %}</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        {% block content %}
        {% endblock %}
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
{% compress js %}
<script src="{% static 'js/jquery-2.2.0.min.js' %}"></script><!-- Bootstrap -->
<script src="{% static 'libs/startbootstrap-grayscale/js/bootstrap.min.js' %}"></script><!-- Bootstrap -->
<script src="{% static 'libs/masks/dist/jquery.mask.min.js' %}"></script><!-- masks -->
<script src="{% static 'js/accounts/auth/register.js' %}"></script><!-- registration JS -->
{% endcompress %}
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script><!-- jQuery UI -->
{% block extra_js %}
{% endblock %}
</body>
</html>
