/*
Constance admin styles
*/

.constance-change-list table {
    border: 1px solid #d3d3d3;
    border-collapse: collapse;
}
.constance-change-list table tr {
    border: 1px solid #d3d3d3;
}
.constance-change-list table tr:hover, .constance-change-list table tr:nth-of-type(2n):hover {
    background-color: #f2f2f2;
}
.constance-change-list table tr td, .constance-change-list table tr th {
    padding: 8px 10px;
    border: 1px solid #d3d3d3;
    min-height: 50px;
    font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.constance-change-list table tr:nth-of-type(2n) {
    background-color: #fafafa;
}

.constance-change-list .paginator input[type="submit"] {
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
    padding: 4px 8px;
    font-family: Lora, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.constance-change-list .paginator input[type="submit"]:hover {
    background-color: #d4d4d4;
}
