{% load i18n %}
<div class="modal fade gvt-req-create-modal" tabindex="-1" role="dialog" id="reqModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times" aria-hidden="true"></i></button>
                <h4 class="modal-title">{% trans 'Оформление заявки' %}</h4>
            </div>
            <div class="modal-body">
                <div class="row modal-text-wrapper">
                    <div class="col-md-6 col-sm-6 col-xs-12 modal-text col-md-offset-1">
                        <h4 id="reqModalText">{% trans 'Запрос отправляется' %}...</h4>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12 col-md-offset-1" id="successTimerWrapper">
                        <canvas width="150" height="150" id="successTimer"></canvas>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-primary pull-left btn-primary"
                        data-dismiss="modal">{% trans 'Закрыть' %}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->