<span class="feedback-rating">
{% for i in 'xxxxx' %}
    <i class="fa {% if forloop.counter <= review.rating %}fa-star{% else %}fa-star-o{% endif %} review-rating" aria-hidden="true"></i>
{% endfor %}
</span>