{% load i18n %}
<div class="modal fade gvt-review-create-modal" tabindex="-1" role="dialog" id="reviewModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
                <h4 class="modal-title">{% trans 'Оцените качество сервиса' %}</h4>
            </div>
            <div class="modal-body">
                <div class="row review-modal-description margin-bottom-10" id="reviewModalDescription">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h3>{% trans 'Оставьте свой отзыв о работе компании. Обязательные поля отмечены *.' %}</h3>
                    </div>
                </div>
                <div class="row margin-bottom-10">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form id="reviewForm">
                            {% csrf_token %}
                            <div class="form-group review-required">
                                <label class="control-label">
                                    {{ review_form.name.label }}
                                </label>
                                {{ review_form.name }}
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    {{ review_form.phone.label }}
                                </label>
                                <div class="input-group">
                                    <div class="input-group-addon">+375</div>
                                    {{ review_form.phone }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">
                                    {{ review_form.email.label }}
                                </label>
                                {{ review_form.email }}
                            </div>
                            <div class="form-group review-required">
                                <label class="control-label">
                                    {{ review_form.text.label }}
                                </label>
                                {{ review_form.text }}
                            </div>
                            <div class="form-group review-required">
                                <label class="control-label">
                                    {{ review_form.rating.label }}
                                </label>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        {% for i in 'xxxxx' %}
                                            <i class="fa fa-star-o review-rating cursor-pointer fa-2x" data-rating="{{ forloop.counter }}" aria-hidden="true"></i>
                                        {% endfor %}
                                    </div>
                                    <div style="display: none;">
                                        {{ review_form.rating }}
                                    </div>
                                </div>
                            </div>
                            <div class="row margin-bottom-10">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="g-recaptcha" id="reviewRecaptcha" data-callback="activateReviewBtn"
                                         data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}"></div>
                                </div>
                                <input type="hidden" name="review-g-recaptcha-response" id="review-g-recaptcha-response">
                            </div>
                        </form>
                        <div class="row margin-bottom-10" id="reviewIsSendWrapper">
                            <div class="col-md-6 col-sm-6 col-xs-12 modal-text col-md-offset-1">
                                <h4 id="reviewModalText">{% trans 'Запрос отправляется' %}...</h4>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12 col-md-offset-1" id="sendReviewSuccessTimerWrapper">
                                <canvas width="150" height="150" id="sendReviewSuccessTimer"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row margin-bottom-10">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <button type="button" class="btn btn-flat bg-gray btn-default pull-left"
                        data-dismiss="modal">{% trans 'Закрыть' %}</button>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <button type="button" id="sendReview" disabled="disabled" class="btn btn-flat btn-primary pull-right">{% trans 'Отправить' %}</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
<script>
    var reviewIsSentText = '{% trans 'Благодарим Вас за оставленный отзыв и за выбор нашей компании.' %}';
    var reviewSendError = "{% trans 'Произошла ошибка. Приносим извинения. Повторите попытку позже' %}";
    var sendReviewUrl = '{% url 'feedback:api:create_review' %}';
    var requestIsSendingText = "{% trans 'Запрос отправляется... ' %}";
</script>