{% load static %}
{% load i18n %}
{% load gvt_utils %}
<form method="POST" class="gvt-form" id="reqForm" action="{% url 'transportation:api:add_transportation_request' %}">

<div class="row">
    <div class="col-md-4 col-sm-12 col-xs-12 pull-right">
        <h4>{% trans 'Контакты' %}</h4>
        <ul class="contact-details">
            <li><i class="fa fa-envelope"></i>&nbsp;<a href="mailto:gvtmozyr@gmail.com">gvtmozyr@gmail.com</a></li>
            <li><i class="fa fa-phone"></i>&nbsp;
                {% with contact_phones=phone_settings|get_dict_value:"place_order_contacts" %}
                    {% for phone in contact_phones %}
                        <a href="tel:{{ phone.value|cut:" " }}" class="call-phone-link">
                            {% if phone.display_value %}
                                {{ phone.display_value }}
                            {% else %}
                                {{ phone.value }}
                            {% endif %}
                        </a>
                        {% if not forloop.last %},
                        {% endif %}
                    {% endfor %}
                {% endwith %}
            </li>
            <li><i class="fa fa-map-marker"></i>Мозырь, Республика Беларусь</li>
        </ul>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="form-group required">
                    <div class="input-group">
                        <div class="input-group-addon">+375</div>
                        {{ tr_req_form.phone }}
                    </div>
                </div>
                <div class="form-group">
                    {{ tr_req_form.text }}
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">@</div>
                        {{ tr_req_form.email }}
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                        {{ tr_req_form.date }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group bootstrap-timepicke">
                        <div class="input-group-addon"><i class="fa fa-clock-o"></i></div>
                        {{ tr_req_form.time }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6 col-sm-4 col-xs-12">
                        <div class="row">
                            <div class="col-md-8 col-sm-9 col-xs-7">
                                <label class="control-label cursor-pointer gvt-form-label text-capitalize" for="{{ tr_req_form.is_need_porters.id_for_label }}">{{ tr_req_form.is_need_porters.label }}</label>
                            </div>
                            <div class="col-md-4 col-sm-3 col-xs-5">
                                <span class="pull-right">
                                {{ tr_req_form.is_need_porters }}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-8 col-xs-12" id="porters-number-wrapper" style="display: none;">
                        {{ tr_req_form.porters_number }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <label class="control-label cursor-pointer gvt-form-label text-capitalize"
                                   for="{{ tr_req_form.is_cashless_payment.id_for_label }}">{{ tr_req_form.is_cashless_payment.label }}</label>
                            <i class="fa fa-question-circle fa-lg"
                               data-toggle="popover"
                               data-placement="top"
                               data-trigger="focus"
                               tabindex="0"
                               id="transportationTypeDescription"
                               data-title="{% trans 'Безналичный расчет' %}"
                               data-html="true"
                               data-content="{% trans 'При безналичном расчете Вам понадобится оплатить путем перевода средств на счет, указанный на' %} <a target='_blank' href='{% url 'home' %}#requisites' >{% trans 'Главной' %}</a> {% trans 'странице' %}"
                          ></i>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <span class="pull-right">
                            {{ tr_req_form.is_cashless_payment }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="mapFormBtn">
    <div class="col-md-4">
        <!--a role="button"
           data-toggle="collapse"
           class="gvt-map-link  pull-left"
           href="#mapForm" aria-expanded="false" aria-controls="collapseExample">
          <i class="fa fa-angle-double-down"></i>
            {% trans 'Указать адреса' %} <img src="{% static 'images/trucking/route_icon_1.0.1.png' %}" height="32" width="32">
        </a-->
         <span class="gvt-map-link  pull-left">{% trans 'Указать адреса' %}&nbsp;<img src="{% static 'images/trucking/route_icon_1.0.1.png' %}" height="32" width="32">
         </span>
    </div>
</div>
<div id="mapForm">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <small class="pull-left gvt-map-desc-text">{% trans 'Введите адреса или нажмите на карте, выбрав нужную точку' %}</small>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <table class="points-control-wrapper">
                <tbody>
                    <tr>
                        <td colspan="5">
                            <div id="maps-points" class=""></div>
                        </td>
                        <td class="add-point-wrapper">
                            <div class="row form-group">
                                <div class="col-sm-12 text-center">
                                    <button id="addMapPoint" type="button" class="btn btn-primary add-map-point-btn btn-sm">
                                        <i class="fa fa-plus"
                                            aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 col-sm-6 col-xs-12">
            {% trans 'Длина маршрута  (км)' %}: <span id="routeLength">{% trans 'Не выбран маршрут' %}</span>
        </div>
        {{ tr_req_form.route_length }}
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div id="gvt-place-order-map"></div>
        </div>
    </div>
</div>
<br>
<div class="row submit-button-wrapper">
    <div class="com-md-3 col-sm-6 col-xs-12 pull-right">
        <div class="g-recaptcha" id="trRequestRecaptcha" data-callback="activateSubmitBtn" data-sitekey="{{ RECAPTCHA_PUBLIC_KEY }}"></div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12">
        <button type="button" id="reqFormSubmit" class="btn btn-flat btn-primary btn-lg pull-left" disabled="disabled">{% trans 'Отправить' %}</button>
    </div>
</div>
</form>

<script>
    var successRequestText = "{% trans 'Ваш запрос отправлен. С вами свяжется наш диспетчер' %}";
    var errorRequestText = "{% trans 'Произошла ошибка. Приносим извинения. Повторите заявку' %}";
    var requestIsSendingText = "{% trans 'Запрос отправляется... ' %}";
    var fromText = "{% trans 'Откуда' %}";
    var toText = "{% trans 'Куда' %}";
    var routeIsNotSet = "{% trans 'Не выбран маршрут' %}";
    var toCompleteText = "{% trans 'Например, Мозырь, Социалистическая 72' %}";
    var nextText = "{% trans 'Промежуточная точка (Например, Мозырь, Нефтестроителей 1)' %}";
    var floorText = "{% trans 'Этаж' %}";
    var mapCheckImg = '{% static "images/trucking/mapcheck1_1.0.1.png" %}';
    var currentLanguage = '{% if LANGUAGE_CODE != 'be' %}{{ LANGUAGE_CODE }}{% else %}ru{% endif %}';
    var mapSelectorMap = '{% trans 'Карта' %}';
    var mapSelectorSatellite = '{% trans 'Спутник' %}';

    function activateSubmitBtn(){
        $('#reqFormSubmit').removeAttr('disabled');
    }
</script>

<script>
    mapboxgl.accessToken = '{{ MAPBOX_ACCESS_TOKEN }}';
</script>