<section class="content-header">
    <h1>
        <span translate>Отчеты</span>&nbsp;
        <small translate>Стандартный</small>
    </h1>
</section>
<section class="content">

    <div class="row">
        <div class="col-md-7 col-sm-12">
            <div class="box box-primary">
                <div class="box-header with-border box-header-small">
                    <h4 translate>Фильтрация</h4>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group" *ngIf="statuses.length">
                                <select
                                        class="form-control"
                                        (ngModelChange)="setFilterParams($event, filterDateStart, filterDateEnd, filterEmployeeID)"
                                        [(ngModel)]="filterStatus">
                                    <option *ngFor="let status of statuses" [value]="status.value">{{ status.display }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon" (click)="filterDateStart = ''; setFilterParams(filterStatus, filterDateStart, filterDateEnd, filterEmployeeID)">
                                        <i class="fa fa-times" aria-hidden="true"></i></span>
                                    <input type="text"
                                           placeholder="{{ 'От Даты' | translate }}"
                                           [(ngModel)]="filterDateStart"
                                           ngui-datetime-picker
                                           (ngModelChange)="setFilterParams(filterStatus, $event, filterDateEnd, filterEmployeeID)"
                                           date-format="YYYY-MM-DD"
                                           date-only="true"
                                           class="form-control">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon" (click)="filterDateEnd = ''; setFilterParams(filterStatus, filterDateStart, filterDateEnd, filterEmployeeID)">
                                        <i class="fa fa-times" aria-hidden="true"></i></span>
                                    <input type="text"
                                           placeholder="{{ 'До Даты' | translate }}"
                                           [(ngModel)]="filterDateEnd"
                                           ngui-datetime-picker
                                           (ngModelChange)="setFilterParams(filterStatus, filterDateStart, $event, filterEmployeeID)"
                                           date-format="YYYY-MM-DD"
                                           date-only="true"
                                           class="form-control">
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar"
                                           aria-hidden="true"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12" *ngIf="account.isManager()">
                            <div class="form-group">
                                <select
                                        class="form-control"
                                        (ngModelChange)="setFilterParams(filterStatus, filterDateStart, filterDateEnd, $event)"
                                        [(ngModel)]="filterEmployeeID">
                                    <option value="" translate>Выбрать Cотрудника</option>
                                    <option *ngFor="let employee of employeesList" [value]="employee.id">
                                        {{ employee.firstName }} {{ employee.lastName }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <a [href]="downloadURL + '?' + filterParams" target="_blank" class="font-size-16px btn btn-primary btn-flat" download="Отчет.xlsx">
                                <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;<span translate>Сформировать Отчет</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12">
            <div class="box box-solid">
                <div class="box-header with-border bg-aqua-active color-palette">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>

                    <h3 class="box-title" translate>Примечание</h3>
                </div>

                <div class="box-body gvt-info-body">
                    <dl>
                        <dt translate>Стандартный отчет</dt>
                        <br>
                        <dd translate>
                            Информация о типе отчета
                        </dd>
                        <br>
                        <dd translate>
                            Стандартный отчет может быть отфильтрован по 3 признакам: по дате, сотруднику, статусу.
                        </dd>
                        <br>
                        <dd translate>
                            Если не указывать признак, то будут выведены все записи, соответствующие запросу (например, если не указывать сотрудника, будет сформирован отчет по каждому сотруднику, выполнявшему заказ).
                        </dd>
                        <br>
                        <dd>
                            <span translate>Стандартный отчет содержит следующую информацию</span>:
                            <ol>
                                <li translate>дата заказа</li>
                                <li translate>дата, на которую заказ назначен</li>
                                <li translate>номер телефона клиента</li>
                                <li translate>статус заказа</li>
                                <li translate>стоимость авто</li>
                                <li translate>стоимость грузчиков</li>
                                <li translate>стоимость</li>
                                <li translate>скидка</li>
                                <li translate>сумма</li>
                                <li translate>оплата грузчикам</li>
                                <li translate>сотрудник, выполнивший заказ</li>
                                <li translate>длина маршрута</li>
                            </ol>
                        </dd>
                        <br>
                        <dd translate>
                            Стандартный отчет также содержит общую информацию: Общую стоимость заказов в отчете и Общий километраж.
                        </dd>
                    </dl>
                </div>
            </div>

        </div>
    </div>

</section>