<section class="content-header">
    <h1>
        <span translate>Отзывы</span>
        <small translate>Список Отзывов О Компании</small>
    </h1>
</section>
<section class="content">
    <div *ngIf="!loadingComplete" class="row">
        <div class="col-md-12 text-center">
            <span class="font-size-20px" translate="">Идет загрузка отзывов</span>&nbsp;<loader></loader>
        </div>
    </div>
    <div [hidden]="!loadingComplete">
        <div class="box">
                <div class="box-body">
                <div class="box-header with-border box-header-small">
                    <h4 translate>Отзывы</h4>
                </div>
                <div class="table-responsive" *ngIf="reviewsList && reviewsList.length">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 10px">#</th>
                            <th style="max-width: 50vw;" translate>Отзыв</th>
                            <th translate>Рейтинг</th>
                            <th translate>Статус</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let review of reviewsList; let i = index">
                                <td>{{ (currentPage - 1) * 10 + i + 1 }}</td>
                                <td style="max-width: 50vw;">
                                    <div class="post">
                                        <div class="user-block">
                                            <div class="font-size-16px text-bold">
                                              <a [routerLink]="['/reviews/details/', review.uuid]">{{ review.name }}</a>
                                            </div>
                                            <div><span class="text-muted">{{ review.created | date : "dd/MM/y HH:mm" }}</span></div>
                                        </div>
                                        <p class="font-size-14px">
                                            {{ review.text | wordsLimit : 20 }}
                                        </p>
                                    </div>
                                </td>
                                <td>
                                    <rating [value]="review.rating"></rating>
                                </td>
                                <td>
                                   <span *ngIf="review" class="gvt-status transaction-request-status font-size-16px"
                                       [ngClass]="{'gvt-status-info': review.status === 'created',
                                        'gvt-status-default': review.status === 'cancelled',
                                        'gvt-status-primary': review.status === 'processed',
                                        'gvt-status-success': review.status === 'approved'
                                        }">{{ review.statusDisplay }}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="font-size-14px">
                    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage"
                                [previousText]="'Предыдущая' | translate"
                                [nextText]="'Следующая' | translate"
                                [maxSize]="5"
                                [boundaryLinks]="true"
                                [firstText]="'Первая' | translate"
                                [lastText]="'Последняя' | translate"
                                (pageChanged)="pageChanged($event)"></pagination>
                    </div>
                </div>
                <div *ngIf="!reviewsList || !reviewsList.length">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="callout callout-info">
                                <h4 translate>Нет отзывов</h4>

                                <p translate="">Данный список пуст. В данный момент отсутствуют отзывы о компании.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>