<div class="row">
    <div class="col-md-12 col-sm-12" *ngIf="mapLoaded">
        <p class="text-muted">
            <span translate>Нажмите на иконку</span>&nbsp;<i
                class="fa fa-map-marker" style="color: #d3d3d3;"></i>&nbsp;<span translate>
            рядом с нужным пунктом чтобы выбрать точку на карте</span>
        </p>
        <div class="row gvt-map-point" *ngFor="let point of trRequest.points; let i = index;">
            <div class="col-md-1 col-sm-1 col-xs-1 gvt-map-point-icon text-center" (click)="setCurrentPoint(point)">
                <i class="fa fa-map-marker fa-2x" style="color: #d3d3d3;"
                   title="{{ 'Нажмите, чтобы выбрать точку на карте' | translate }}"
                   aria-hidden="true" *ngIf="point !== currentLocation"></i>
                <i class="fa fa-map-pin fa-2x" style="color: #3c8dbc;" aria-hidden="true" *ngIf="point === currentLocation"></i>
            </div>
            <div class="col-md-7 col-sm-6 col-xs-5 gvt-map-point-address-wrapper">
                <div class="gvt-map-point-address cursor-click"
                     (click)="setCurrentPoint(point, true); showAddressAutocompleteModal($event, addressModalInstance, point.address)">
                    <span *ngIf="point.address">{{ point.address }}</span>
                    <span *ngIf="!point.address" class="gvt-address-placeholder">{{ (i === 0 ? 'Откуда' : i === trRequest.points.length - 1 ? 'Куда' : 'Далее') | translate }}</span>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3 gvt-map-point-floor-wrapper">

                <div class="form-group">
                    <input class="form-control"
                           type="number" min="1"
                           [(ngModel)]="point.floor"
                           placeholder="{{ 'Этаж' | translate }}"/>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2 gvt-map-buttons">
                <div class="gvt-map-buttons-wrapper pull-right">
                    <button *ngIf="i === (trRequest.points.length - 1) && trRequest.points.length < 20"
                            type="button" class="btn btn-xs gvt-add-map-point-btn pull-right" (click)="addPoint()">
                        <i class="fa fa-plus"
                               aria-hidden="true"></i>
                    </button>
                    &nbsp;
                    <button *ngIf="trRequest.points.length > 2" type="button" class="btn pull-left btn-xs gvt-remove-map-point-btn" (click)="removePoint(point)">
                        <i class="fa fa-trash"
                           aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12">
        <div class="row gvt-route-length">
            <div class="col-xs-12">
                <span translate="">Длина Маршрута</span>:&nbsp;<b
                    *ngIf="trRequest && trRequest.routeLength">
                {{ trRequest.routeLength / 1000 | number : '1.2-2' }} км</b><span
                    *ngIf="!trRequest || !trRequest.routeLength" translate="">Маршрут не выбран</span>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="gvt-map-wrapper">
            <div id="map-{{ uuid }}" class="gvt-map"></div>
        </div>
    </div>
</div>

<div class="modal modal-default fade" bsModal tabindex="-1" role="dialog"
     aria-labelledby="addressModalInstance" aria-hidden="true" #addressModalInstance="bs-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header color-palette bg-blue-active">
                <button type="button" (click)="addressModalInstance.hide()"
                        class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" translate>Укажите адрес</h4>
            </div>

            <div class="modal-body">
                <p translate="">
                    Введите адрес в формате:
                </p>
                <p translate="" class="text-muted">
                    [Город] [Улица] [Номер дома]
                </p>
                <p translate="" class="text-muted font-size-14px">
                    Иногда требуется добавить слово улица/бульвар/проспект и т.д. для более точного поиска адреса
                </p>
                <div class="form-group">
                    <textarea class="form-control"
                              rows="2"
                           #currentAddressInput
                           placeholder="{{ 'Введите адрес (Например, Мозырь, Нефтестроителей 1)' | translate }}"
                           [(ngModel)]="currentAddress" (ngModelChange)="buildAddressAutocompleteList($event)">
                    </textarea>
                    <div class="address-auto-complete" *ngIf="addressesList && addressesList.length">
                        <ul>
                            <li class="item cursor-click" *ngFor="let value of addressesList" (click)="setCurrentAddress(value, currentAddressInput)">
                                {{ value }}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-flat btn-default pull-left"
                        (click)="addressModalInstance.hide()" data-dismiss="modal" translate>Отмена</button>
                <button type="button" (click)="searchByAddress(); addressModalInstance.hide();"
                        class="btn btn-primary btn-flat" translate>Выбрать</button>
            </div>
        </div>
    </div>
</div>
