<section class="content-header">
    <h1>
        <span translate>Редактирование Профиля</span>
        <small translate>Информация Пользователя</small>
    </h1>
</section>
<section class="content profile-form-section">
    <div class="row">
        <div class="col-md-7 col-sm-12">
            <div class="box box-primary">

                <div class="box-header with-border">
                    <h5 class="box-title" translate>Редактировать Информацию</h5>
                </div>

                <form role="form" #userForm="ngForm" *ngIf="userEditObj">
                    <div class="box-body">

                        <div class="form-group" *ngIf="account.isManagerOrDriver()">
                            <label for="first_name" translate>Фото</label>
                            <div class="row">
                                <div class="col-md-3" *ngIf="userEditObj.userCard.photo" >
                                    <img class="profile-user-img img-responsive img-circle"
                                         [src]="userEditObj.userCard.photo" alt="User profile picture">
                                </div>
                                <div class="col-md-9">
                                    <div class="row text-center">
                                        <div class="col-md-6 text-center">
                                            <input type="file" ng2FileSelect [uploader]="uploader" id="photo" name="photo" />
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" [disabled]="!uploader.getNotUploadedItems().length || uploader.isUploading"
                                                    class="btn btn-primary btn-flat" (click)="uploader.uploadAll()" translate>
                                                Изменить Фото
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" [ngClass]="{'has-error': firstName.errors && firstName.touched}">
                            <label for="first_name" translate>Имя</label>
                            <input type="text" class="form-control" [(ngModel)]="userEditObj.firstName" required
                                   id="first_name" name="firstName" placeholder="{{ 'Имя' | translate }}" #firstName="ngModel">
                            <span class="help-block" *ngIf="firstName.errors && firstName.touched" translate>
                                Имя обязательно
                            </span>
                        </div>

                        <div class="form-group" [ngClass]="{'has-error': lastName.errors && lastName.touched}">
                            <label for="last_name" translate>Фамилия</label>
                            <input type="text" class="form-control" [(ngModel)]="userEditObj.lastName" required
                                   id="last_name" name="lastName" placeholder="{{ 'Фамилия' | translate }}" #lastName="ngModel">
                            <span class="help-block" *ngIf="lastName.errors && lastName.touched" translate>
                                Фамилия обязательна
                            </span>
                        </div>

                        <div class="form-group" [ngClass]="{'has-error': phoneNumber.errors && phoneNumber.touched}">
                            <label for="phoneNumber" translate>Номер Телефона</label>

                            <div class="input-group">
                                <span class="input-group-addon">
                                    +375
                                </span>
                            <input type="text" [textMask]="{mask: phoneMask}" class="form-control" [(ngModel)]="userEditObj.userCard.phoneNumber" required
                                   id="phoneNumber" name="phoneNumber" placeholder="(33)333-33-33" #phoneNumber="ngModel">
                            </div>
                            <span class="help-block" *ngIf="phoneNumber.errors && phoneNumber.touched" translate>
                                Номер Телефона обязателен
                            </span>
                        </div>

                        <div class="form-group">
                            <label for="hometown" translate>Город</label>
                            <input type="text" class="form-control" [(ngModel)]="userEditObj.userCard.hometown"
                                   id="hometown" name="hometown" placeholder="Город" #hometown="ngModel">
                        </div>

                        <div class="form-group">
                            <label for="about" translate>О себе</label>
                            <textarea class="form-control" [(ngModel)]="userEditObj.userCard.about"
                                      style="resize: none;"
                                      rows="5"
                                   id="about" name="about" placeholder="{{ 'Расскажите о себе' | translate }}" #about="ngModel"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="last_name" translate>Дата Рождения</label>
                            <div class="input-group">
                                <input type="text"
                                   name="dateOfBirth"
                                   placeholder="{{ 'Укажите дату' | translate }}"
                                   [(ngModel)]="userEditObj.userCard.dateOfBirth"
                                   ngui-datetime-picker
                                   date-format="YYYY-MM-DD"
                                   date-only="true"
                                   class="form-control">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar"
                                       aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label><span translate>Дата регистрации:</span>
                                {{ userEditObj.dateJoined | date : "dd/MM/y" }}</label>
                        </div>
                    </div>

                    <div class="box-footer">
                        <a class="btn btn-default btn-flat" routerLink="/accounts/profile" translate="">Отмена</a>
                        <confirmation-modal
                                [disabledCondition]="!userForm.form.valid"
                                [disableSubmitBtnCondition]="formSubmitted"
                                [confirmationSuccess]="submitForm()"
                                [buttonText]="'Сохранить'"
                                [confirmationBtnClass]="'btn btn-flat btn-primary pull-right'"
                        ></confirmation-modal>
                    </div>
                </form>

            </div>
        </div>
        <div class="col-md-5 col-sm-12">
            <div class="box box-solid">
                <div class="box-header with-border bg-aqua-active color-palette">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>

                    <h3 class="box-title" translate>Примечание</h3>
                </div>

                <div class="box-body gvt-info-body">
                    <dl>
                        <dt translate>Обновление информации</dt>
                        <br>
                        <dd translate>Здесь вы можете обновить общую информацию пользователя (к примеру, Имя, Фамилию и другое).
                        </dd>
                        <br>
                        <dd translate>Для изменения пароля выйдите из аккаунта (в верхнем правом углу нажмите на Ваше имя и далее Выйти),
                        </dd>
                        <dd translate>затем на странице авторизации нажмите на ссылку сброса пароля (ссылка "Забыли пароль").
                        </dd>
                    </dl>
                </div>
            </div>

        </div>
    </div>
</section>