html, body {
    height: 100%;
    width: 100%;
}
.main-header a.logo {
    font-family: Raleway!important;
}
div.container-fluid.navbar-wrapper, div.gvt-app-wrapper.container-fluid {
    padding: 0;
}
.content-wrapper {
    height: 100%;
    min-height: calc(100vh - 102px)!important;
}

.footer-logo {
    font-family: Raleway!important;
}

.container-fluid.navbar-wrapper .navbar {
    border-radius: 0;
    background-color: #1B2936;
}

.nav-item.active .nav-link, .label-gvt {
    background-color: #192532;
}
.gvt-label-primary {
    background-color: #192532!important;
    border-radius: 0!important;
}

.text-gvt-color {
    color: #1B2936!important;
}

.nav.navbar-nav > * {
    border-radius: 0 !important;
}

div.gvt-app-body {
    padding: 15px;
}

.gvt-logo, .gvt-image-account {
    max-width: 100%;
    max-height: 100%;
    display: inline-block !important;
}
.gvt-logo-inversed {
    max-width: 100%;
    max-height: 100%;
    display: none !important;
}

.navbar-brand {
    padding: 7px !important;
    color: #fff !important;
}

.account-card {
    padding: 5px;
}

.account-card .row {
    margin: 0 !important;
    padding: 10px;
}

#accountCard.account-card .manage-account-area {
    border-top: 1px solid;
    margin-top: 5px;
    padding-top: 8px;
    border-top: 1px solid #d3d3d3;
}

.loading-preview {
    width: 100%;
    height: 100%;
}
.loading-preview .gvt-preloader .preloader-logo {
    font-family: Raleway;
    font-size: 32px;
}
.loading-preview .gvt-preloader {
    display: inline-block;
    margin-top: calc(50vh - 64px);
}

#accountCard.account-card {
    padding: 15px;
    width: 20vw;
}

.badge.transaction-request-status {
    font-size: 16px !important;
}

.address-auto-complete li.item, .address-auto-complete li.no-match-found {
    color: #192532;
}

.address-auto-complete {
    background-color: transparent;
}

.address-auto-complete > input {
    outline: none;
    border: 0;
    padding: 2px;
    box-sizing: border-box;
    background-clip: content-box;
}

.address-auto-complete > ul {
    background-color: #fff;
    margin: 0;
    width: 100%;
    overflow-y: auto;
    list-style-type: none;
    padding: 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    animation: slideDown 0.1s;
}

.address-auto-complete > ul.empty {
    display: none;
}

.address-auto-complete > ul li {
    padding: 2px 5px;
    border-bottom: 1px solid #eee;
}

.address-auto-complete > ul li:last-child {
    border-bottom: none;
}

.address-auto-complete > ul li:hover {
    background-color: #ccc;
}

h4.label {
    font-size: 18px!important;
}
.confirmation-modal .modal-body {
    color: #000;
}
.confirmation-modal .modal-dialog {
    max-width: 300px;
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
.confirmation-modal .modal-footer {
    padding: 6px 15px;
}

/* Btn group for confirmation modal directive */

/*.btn-group,*/
/*.btn-group-vertical {*/
 /*position: relative;*/
 /*display: inline-block;*/
 /*vertical-align: middle;*/
/*}*/
/*.btn-group .btn,*/
/*.btn-group-vertical .btn {*/
 /*position: relative;*/
 /*float: left;*/
/*}*/
/*.btn-group .btn:hover,*/
/*.btn-group-vertical .btn:hover,*/
/*.btn-group .btn:focus,*/
/*.btn-group-vertical .btn:focus,*/
/*.btn-group .btn:active,*/
/*.btn-group-vertical .btn:active,*/
/*.btn-group .btn.active,*/
/*.btn-group-vertical .btn.active {*/
 /*z-index: 2;*/
/*}*/
/*.btn-group .btn + .btn,*/
/*.btn-group .btn + .btn-group,*/
/*.btn-group .btn-group + .btn,*/
/*.btn-group .btn-group + .btn-group {*/
 /*margin-left: -1px;*/
/*}*/
/*.btn-toolbar {*/
 /*margin-left: -5px;*/
/*}*/
/*.btn-toolbar .btn,*/
/*.btn-toolbar .btn-group,*/
/*.btn-toolbar .input-group {*/
 /*float: left;*/
/*}*/
/*.btn-toolbar .btn,*/
/*.btn-toolbar .btn-group,*/
/*.btn-toolbar .input-group {*/
 /*margin-left: 5px;*/
/*}*/
/*.btn-group .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {*/
 /*border-radius: 0;*/
/*}*/
/*.btn-group .btn:first-child {*/
 /*margin-left: 0;*/
/*}*/
/*.btn-group .btn:first-child:not(:last-child):not(.dropdown-toggle) {*/
 /*border-top-right-radius: 0;*/
 /*border-bottom-right-radius: 0;*/
/*}*/
/*.btn-group .btn:last-child:not(:first-child),*/
/*.btn-group .dropdown-toggle:not(:first-child) {*/
 /*border-top-left-radius: 0;*/
 /*border-bottom-left-radius: 0;*/
/*}*/
/*.btn-group .btn-group {*/
 /*float: left;*/
/*}*/
/*.btn-group .btn-group:not(:first-child):not(:last-child) .btn {*/
 /*border-radius: 0;*/
/*}*/
/*.btn-group .btn-group:first-child:not(:last-child) .btn:last-child,*/
/*.btn-group .btn-group:first-child:not(:last-child) .dropdown-toggle {*/
 /*border-top-right-radius: 0;*/
 /*border-bottom-right-radius: 0;*/
/*}*/
/*.btn-group .btn-group:last-child:not(:first-child) .btn:first-child {*/
 /*border-top-left-radius: 0;*/
 /*border-bottom-left-radius: 0;*/
/*}*/
/*.btn-group .dropdown-toggle:active,*/
/*.btn-group.open .dropdown-toggle {*/
 /*outline: 0;*/
/*}*/
/*.btn-group .btn + .dropdown-toggle {*/
 /*padding-right: 8px;*/
 /*padding-left: 8px;*/
/*}*/
/*.btn-group .btn-lg + .dropdown-toggle {*/
 /*padding-right: 12px;*/
 /*padding-left: 12px;*/
/*}*/
/*.btn-group.open .dropdown-toggle {*/
 /*-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);*/
     /*box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);*/
/*}*/
/*.btn-group.open .dropdown-toggle.btn-link {*/
 /*-webkit-box-shadow: none;*/
     /*box-shadow: none;*/
/*}*/
/*.btn .caret {*/
 /*margin-left: 0;*/
/*}*/
/*.btn-lg .caret {*/
 /*border-width: 5px 5px 0;*/
 /*border-bottom-width: 0;*/
/*}*/
/*.dropup .btn-lg .caret {*/
 /*border-width: 0 5px 5px;*/
/*}*/
/*.btn-group-vertical .btn,*/
/*.btn-group-vertical .btn-group,*/
/*.btn-group-vertical .btn-group .btn {*/
 /*display: block;*/
 /*float: none;*/
 /*width: 100%;*/
 /*max-width: 100%;*/
/*}*/
/*.btn-group-vertical .btn-group .btn {*/
 /*float: none;*/
/*}*/
/*.btn-group-vertical .btn + .btn,*/
/*.btn-group-vertical .btn + .btn-group,*/
/*.btn-group-vertical .btn-group + .btn,*/
/*.btn-group-vertical .btn-group + .btn-group {*/
 /*margin-top: -1px;*/
 /*margin-left: 0;*/
/*}*/
/*.btn-group-vertical .btn:not(:first-child):not(:last-child) {*/
 /*border-radius: 0;*/
/*}*/
/*.btn-group-vertical .btn:first-child:not(:last-child) {*/
 /*border-top-left-radius: 4px;*/
 /*border-top-right-radius: 4px;*/
 /*border-bottom-right-radius: 0;*/
 /*border-bottom-left-radius: 0;*/
/*}*/
/*.btn-group-vertical .btn:last-child:not(:first-child) {*/
 /*border-top-left-radius: 0;*/
 /*border-top-right-radius: 0;*/
 /*border-bottom-right-radius: 4px;*/
 /*border-bottom-left-radius: 4px;*/
/*}*/
/*.btn-group-vertical .btn-group:not(:first-child):not(:last-child) .btn {*/
 /*border-radius: 0;*/
/*}*/
/*.btn-group-vertical .btn-group:first-child:not(:last-child) .btn:last-child,*/
/*.btn-group-vertical .btn-group:first-child:not(:last-child) .dropdown-toggle {*/
 /*border-bottom-right-radius: 0;*/
 /*border-bottom-left-radius: 0;*/
/*}*/
/*.btn-group-vertical .btn-group:last-child:not(:first-child) .btn:first-child {*/
 /*border-top-left-radius: 0;*/
 /*border-top-right-radius: 0;*/
/*}*/
/*.btn-group-justified {*/
 /*display: table;*/
 /*width: 100%;*/
 /*table-layout: fixed;*/
 /*border-collapse: separate;*/
/*}*/
/*.btn-group-justified .btn,*/
/*.btn-group-justified .btn-group {*/
 /*display: table-cell;*/
 /*float: none;*/
 /*width: 1%;*/
/*}*/
/*.btn-group-justified .btn-group .btn {*/
 /*width: 100%;*/
/*}*/
/* End btn-group for confirmation modal*/


.user .user-body .label {
    font-size: 14px;
}

textarea {
   resize: none;
}

.cursor-click {
    cursor: pointer;
}

.gvt-btn-group .btn {
    margin-right: 10px;
}

.gvt-btn-group .btn:last-of-type {
    margin-right: 0;
}

.price-label {
    font-size: 14px;
}

.main-sidebar, .sidebar-menu .header, .user-header {
    background-color: #1B2936!important;
}
.box.box-primary {
    border-top-color: #1B2936!important;
}

ul.sidebar-menu li a, ul.sidebar-menu li.header {
    color: #ffffff!important;
}

.box-header h4.box-title {
    font-size: 22px;
}

.font-size-20px {
    font-size: 20px!important;
}

.font-size-14px {
    font-size: 14px!important;
}

.font-size-16px {
    font-size: 16px!important;
}

.font-size-18px {
    font-size: 18px!important;
}

.box {
    border-radius: 0!important;
    border-top-width: 4px!important;
}

a.active-menu-link {
    border-left-color: #3c8dbc!important;
}

.gvt-modal {
    min-height: 150px;
}

.gvt-form-label, .gvt-label {
    border-radius: 0!important;
}

.gvt-status {
    border: 2px solid;
    border-radius: 5px;
    padding: 5px 15px;
    text-align: center;
    font-weight: 900;
}

.gvt-status-success {
    border-color: #3c763d!important;
    color: #3c763d!important;
}

.gvt-status-danger {
    border-color: #a94442!important;
    color: #a94442!important;
}

.gvt-status-info {
    border-color: #31708f!important;
    color: #31708f!important;
}

.gvt-status-primary {
    border-color: #337ab7!important;
    color: #337ab7!important;
}

.gvt-status-warning {
    border-color: #ffc107!important;
    color: #ffc107!important;
}

.gvt-status-default {
    border-color: #777!important;
    color: #777!important;
}

.gvt-status-wrapper-table {
    vertical-align: middle!important;
}

.gvt-map-wrapper {
    min-height: 300px;
    width: 100%;
    height: 60vh;
    max-height: 60vh;
    touch-action: pan-y;
}
.gvt-map {
    position: absolute!important;
    top: 0;
    bottom: 0;
    width: calc(100% - 30px);
}

.gvt-map .mapbox-improve-map {
    display: none!important;
}

.gvt-map-details {
    min-height: 50vh;
    width: 100%;
    height: 100%;
    max-height: 50vh;
}
.gvt-map-point-address {
    border: 1px solid rgb(210, 214, 222);
    padding: 5px 10px;
    font-size: 14px;
}

.gvt-map-point-address .gvt-address-placeholder {
    color: #a3a3a3;
    font-size: 13px;
}
.gvt-route-length > * {
    font-size: 14px;
}
.gvt-map-point-icon {
    padding-right: 0;
}
.gvt-map-point-address-wrapper {
    padding-left: 0;
}
.gvt-map-point {
    margin-bottom: 10px;
}

.btn.gvt-add-map-point-btn {
    background-color: #ffffff;
    color: #337ab7;
    border: 2px solid #337ab7;
}
.btn.gvt-remove-map-point-btn {
    background-color: #ffffff;
    color: #a94442;
    border: 2px solid #a94442;
}

.box-min-height-30vh {
    min-height: 30vh!important;
}

.report-wrapper {
    padding: 10px;
}

.report-wrapper:hover {
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 8px;
}

.full-width-image {
    width: 100%;
}

.margin-bottom-10 {
    margin-bottom: 10px!important;;
}

.back-to-list {
    margin-top: 20px;
    display: inline-block;
}

.gvt-bg-green {
    background-color: #59C594!important;
    color: #fff!important;
}

.set-language-form span {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 16px;
    color: #1B2936;

    -webkit-transition: all 0.05s ease-in 0.05s;
    -moz-transition: all 0.05s ease-in 0.05s;
    -o-transition: all 0.05s ease-in 0.05s;
    transition: all 0.05s ease-in 0.05s;
}
.set-language-form:hover span {
    color: #fff;

    -webkit-transition: all 0.05s ease-in 0.05s;
    -moz-transition: all 0.05s ease-in 0.05s;
    -o-transition: all 0.05s ease-in 0.05s;
    transition: all 0.05s ease-in 0.05s;
}
.set-language-form:hover {
    background-color: #1B2936;

    -webkit-transition: all 0.05s ease-in 0.05s;
    -moz-transition: all 0.05s ease-in 0.05s;
    -o-transition: all 0.05s ease-in 0.05s;
    transition: all 0.05s ease-in 0.05s;
}
.set-language-form {
    vertical-align: center;
    text-align: center;
    padding: 13px 15px;

    -webkit-transition: all 0.05s ease-in 0.05s;
    -moz-transition: all 0.05s ease-in 0.05s;
    -o-transition: all 0.05s ease-in 0.05s;
    transition: all 0.05s ease-in 0.05s;
}
.set-language-form.active:hover span {
    border: 1px solid #fff;
}
.set-language-form.active span {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #1B2936;
}

.tr-list-shorticon {
    border-right: 1px solid #eee;
    margin-right: 15px;
}

.pagination {
  min-width: 600px;
}

.box .box-header, .box .box-title {
    font-size: 20px;
}
.box .box-body {
    font-size: 16px;
}

.tr-lists .tr-list-date {
    display: block;
}
.tr-lists .tr-list-time {
    display: block;
}

.gvt-text-gray {
    color: #a3a3a3;
}

.dashboard-item {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    color: #a3a3a3;
}

.dashboard-item:hover {
    color: #808182;
}
.gvt-tr-button, .gvt-tr-button-cancel {
    margin: 2px 3px;
}

.gvt-dashboard .gvt-dashboard-item {
    padding-left: 0!important;
    padding-right: 0!important;
}

.gvt-info-body > * {
    font-size: 13px;
}

@media(min-width:768px) {
    .gvt-tr-button-cancel {
        float: left!important;
    }
    .gvt-tr-button {
        float: right!important;
        margin-left: 5px;
    }
}
.gvt-map-buttons .gvt-map-buttons-wrapper {
    display: inline-block;
    max-width: 65px;
    width: 100%;
}
.gvt-map-buttons {
    padding-top: 5px;
}

@media(max-width: 991px) {
    .gvt-map-buttons {
        padding-right: 0;
    }
}

@media(max-width:768px) {
    .btn-sq {
      width: 90px !important;
      height: 90px !important;
      font-size: 14px;
      box-shadow: 5px 5px 10px rgba(0,0,0,0.5)!important;

      -webkit-transition: all 0.05s ease-in 0.05s;
      -moz-transition: all 0.05s ease-in 0.05s;
      -o-transition: all 0.05s ease-in 0.05s;
      transition: all 0.05s ease-in 0.05s;
    }

    .gvt-map-point-icon {
        margin-right: 10px;
    }

    .gvt-map-point-address-wrapper {
        word-break: break-all;
        padding-right: 0;
    }

    .gvt-map-point-floor-wrapper {
        word-break: break-all;
        padding-right: 0;
    }

    .gvt-tr-button, .gvt-tr-button-cancel {
        width: 90px!important;
        height: 90px!important;
    }
    .gvt-map-buttons {
        padding-left: 0;
        padding-right: 0;
        margin-left: 5px;
    }

    .btn-sq:hover {
      width: 80px !important;
      height: 80px !important;
      margin-left:10px!important;
      font-size: 12px;
      box-shadow: 2px 2px 5px rgba(0,0,0,0.5)!important;

      -webkit-transition: all 0.05s ease-in 0.05s;
      -moz-transition: all 0.05s ease-in 0.05s;
      -o-transition: all 0.05s ease-in 0.05s;
      transition: all 0.05s ease-in 0.05s;
    }
    .gvt-logo {
        display: none !important;
    }
    .gvt-logo-inversed {
        display: inline-block !important;
    }

    .btn-sq-sm {
      width: 50px !important;
      height: 50px !important;
      font-size: 10px;
    }

    .btn-sq-xs {
      width: 25px !important;
      height: 25px !important;
      padding:2px;
    }

    .btn-sq-lg {
      width: 150px !important;
      height: 150px !important;
    }
    .logo {
        background-color: #1B2936!important;
        color: #ffffff!important;
    }
}

hr.gvt-tr-details-delimiter {
    border-color: #c3c3c3!important
}

.profile-form-section .form-group > *, .profile-form-section .checkbox > * {
    font-size: 14px!important;
}

.tr-lists .box .box-header.box-header-small {
    line-height: unset;
    font-size: unset;
}
.tr-lists .btn.create-tr-request-btn {
    margin-bottom: 10px;
}

.tr-lists table.table td {
    vertical-align: middle;
}

.gvt-map .gvt-map-point-label {
    background-color: #fff;
    border-radius: 5px;
    color: #1B2936;
    padding: 0 3px;
    border: 1px solid #1B2936;
}

.route-time-row {
    margin-bottom: 10px;
}

.gvt-app-wrapper .pagination {
  min-width: 400px;
}

.gvt-collapse {
    transition: max-height .5s;
    overflow: hidden;
    max-height: 100vh;
}

@media(max-width:768px) {
    .gvt-collapse {
        max-height: 1000px;
    }
}
.gvt-collapsed {
    display: none;
}

.gvt-confirmation-button-group > * {
    margin-right: 10px;
}
.gvt-confirmation-button-group:last-child {
    margin-right: 0;
}

.route-links .btn {
    margin-top: 8px;
}