/*  begin bounce css */

.bounce {
    width: 50px;
    text-align: center;
    display: inline;
}

.bounce > div {
    width: 12px;
    height: 12px;
    background-color: #1B2936;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.gvt-preloader .bounce {
    width: 70px;
}

.gvt-preloader .bounce > div {
    width: 18px;
    height: 18px;
}

.bounce .bounce1 {
    animation-delay: -0.32s;
}

.bounce .bounce2 {
    animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1.0);
    }
}