.login-box div.login-box-body {
    background-color: #1B2936;
}

body.hold-transition.login-page {
    background-color: #fff;
}

.login-box .login-logo {
    color: #1B2936;
}
.login-logo img {
    max-width: 100px;
}

.login-box .login-box-msg {
    color: #fff;
    font-size: 22px;
    font-family: 'proxima_nova';
}

.login-box .checkbox a {
    color: #fff;
}

.login-box .checkbox a:hover {
    color: #00a7d0;
    text-decoration: underline;
}

.login-box .errorlist {
    list-style: none;
}

.login-box .errorlist li {
    color: #ff0f00;
}

.login-box, .register-box {
    margin: 4% auto;
}
.login-box p, .login-box ul li, .login-box label {
    color: #fff!important;
}

.login-logo.gvt-login-logo a {
    font-family: Raleway;
    font-size: 32px;
}

