.organisation-details .org-avatar {
    max-width: 128px;
    max-height: 128px;
    margin: 15px 15px 15px 0;
}

.organisation-details .org-name-item {
    display: inline-block;
    float: left;
}

.organisation-details .org-phone {
    margin-top: 10px;
}

.organisation-details .organisation-subsection section.content-header,
.organisation-details .organisation-subsection section.content {
    padding: 10px 0;
}
