.organisations-list .org-name-wrapper .org-avatar {
    border-radius: 3px;
    max-height: 64px;
    max-width: 128px;
    display: inline-block;
}

.organisations-list .org-name-wrapper .org-avatar-wrapper {
    width: 128px!important;
    max-width: 128px;
    margin-right: 10px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    max-height: 64px;
}

.organisations-list table.table td {
    vertical-align: middle;
}

.organisations-list  .org-name-wrapper {
    display: table;
}

.organisations-list  .org-name-wrapper .org-name {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

.organisations-list .org-name-wrapper .org-status {
    margin-top: 3px;
    margin-bottom: 3px;
    display: inline-block;
}