.gvt-app #toasty .toast {
    border-radius: 0!important;
    height: 85px;
}

.gvt-app #toasty .toast .toast-title {
    font-size: 14px!important;
}
.gvt-app #toasty .toast .toast-msg {
    font-size: 12px!important;
}

.gvt-app #toasty .toast .close-button:after{
    border: 1px solid rgba(230,230,230, 0.7)!important;
    padding: 0 4px 1px!important;
    border-radius: 3px!important;
    font-weight: bold!important;
}